openapi: 3.1.0

info:
  title: Benim Lezzet Dünyam — Sipariş API
  version: 1.0.0
  summary: Catering sipariş platformunun normatif API sözleşmesi.
  description: |
    Bu dosya **normatif sözleşmedir**. `docs/03-api-sozlesmesi.md` aynı sözleşmenin
    insan için yazılmış açıklamasıdır; ikisi çelişirse **bu dosya kazanır**.

    `packages/api_client` ve `website/lib/api` bu dosyadan üretilir.
    `platform/` aynı sözleşmeyi `openapi.json` olarak üretir; CI ikisi arasındaki
    anlamsal farkı kontrol eder ve fark varsa build kırmızıdır.

    ## Değişmezler
    - **Para** kuruş cinsinden tam sayıdır. `4550` = 45,50 TL. Ondalık float asla kullanılmaz.
    - **Tarih/saat** ISO 8601 UTC'dir. İstemci Europe/Istanbul'a çevirir.
    - **Uyumluluk:** alan eklenebilir; silinemez, adı/tipi değişemez. İstemciler bilmedikleri
      alanları yok sayar. Kırıcı değişiklik `/api/v2/` ile açılır.
    - **Kapsam dışı:** öğrenci ve kurum içi sipariş kanalları yoktur ve olmayacaktır
      (`docs/00-genel-bakis.md` §4). Sipariş çeşitliliği yalnızca `delivery_type` ile ifade edilir.

    ## Oran sınırları
    | Uç grubu | Sınır |
    |---|---|
    | `/auth/*` | 10 istek / dakika / IP |
    | `POST /orders` | 20 istek / saat / hesap |
    | `/kitchen/*` | 2000 istek / saat / cihaz (5 sn polling = 720/saat, üstüne BBD kuyruğu, heartbeat, sağlık, satış şalteri ve durum trafiği) |
    | `/control/kds/*` | 1200 istek / saat / **IP** (`bld-control`, K-21) |
    | `/addresses/suggest`, `/addresses/reverse` | 30 istek / dakika / **hesap** |
    | Diğer | 120 istek / dakika / IP |

    Mutfak sınırı **12.08.2026'da 1200'den 2000'e çıktı** ve bu tablo o gün
    güncellenmeden kalmıştı. Kasanın sürekli döngüleri tek başına 1140
    istek/saat ediyor (yoklama 720 + BBD kuyruğu 180 + heartbeat 60 + sağlık
    60 + satış şalteri 60 + abonelik 60); kalan pay F5, yeniden basma ve
    düzenleme ekranı gibi patlamalı kullanıcı trafiği için. Sınır aşıldığında
    kasa `429` alıyor ve **mutfak sipariş görmüyor** — ağ sağlam, sunucu
    ayakta, yalnız sayaç dolmuş olduğu için sahada teşhisi en zor arızalardan
    biri. Kaynak: `Extension::registerRateLimiters()`.

    Kontrol Merkezi sınırı neden **IP** başına: o yüzeyin kimliğini istek
    başına hesaplanan bir **imza** taşıyor, sabit bir anahtar değil — sayacı
    bağlayacak bir hesap kimliği yok. Kontrol Merkezi tek sunucudan çıkıyor,
    yani IP zaten o sistemin kendisi.

    Adres uçlarının sınırı neden **hesap** başına: dışarıdaki geocoder'a giden
    tek yol bu iki uç ve fatura orada doğuyor. IP başına sayılsaydı tek NAT
    arkasından çıkan bir ofisin çalışanları birbirini kilitlerdi — kurumsal
    müşterinin tipik ağı tam olarak budur.

    Sınır aşılırsa `429 RATE_LIMITED`.
  license:
    name: Tescilli — dahili kullanım
    identifier: LicenseRef-Proprietary

servers:
  - url: https://api.benimlezzetdunyam.com.tr/api
    description: Prod
  - url: https://staging-api.benimlezzetdunyam.com.tr/api
    description: Staging
  - url: http://localhost:4010/api
    description: Mock sunucu (infra/mock)

tags:
  - name: Sağlık
    description: Harici uptime izlemesi için. Kimlik gerektirmez.
  - name: Kimlik
    description: Müşteri kaydı, giriş, oturum. Token `customer` kapsamlıdır.
  - name: Katalog
    description: Vitrin ve menü. Kimlik gerektirmez; web sitesi bunları SSR ile çeker.
  - name: Adresler
    description: |
      Müşterinin adres defteri ve adres yazmayı kolaylaştıran yardımcı uçlar.
      Tümü kimlik gerektirir; müşteri yalnız kendi defterini görür.
  - name: Sipariş
    description: Müşterinin kendi siparişleri. Başkasının siparişi `404` döner.
  - name: Mutfak
    description: Tümü `kitchen` kapsamı gerektirir. Bu uçlar fiyat, müşteri iletişim bilgisi
      ve rapor **döndürmez**. Tek istisna, müşteri fişi ucundaki teslimat adresidir.
  - name: Site
    description: |
      Kurumsal web sitesinin içeriği. Kimlik gerektirmez — içeriğin tamamı
      zaten sitede herkese açık yayınlanıyor; token istemek statik üretimi
      zorlaştırıp hiçbir şeyi korumazdı.
  - name: Teklif
    description: |
      Kurumsal sitedeki "Teklif Al" formu. Kimlik gerektirmez — formu dolduran
      kişi henüz müşteri değil. Talepler panelde **İçerikler → Teklif
      Talepleri** ekranına düşer.
  - name: Sürüm
    description: İstemci sürüm kontrolü ve zorunlu güncelleme eşiği.
  - name: Cari hesap
    description: Kurumsal müşteri cari bakiye ve ekstre (B2B).
  - name: Abonelik
    description: Kurumsal öğle yemeği aboneliği — sipariş üreten kural (B2B).
  - name: Ortak
    description: |
      BLD'nin **istemcisi olmayan**, ayrı bir sistemle paylaşılan uçlar.
      Şu an tek üye BBD Store köprüsü (`POST /partner/bbd/orders`, K-16).
      Kimlik doğrulama paylaşılan sırla üretilen bir **HMAC imzasıdır**,
      token değil; `X-App-Id` / `X-App-Version` başlıkları istenmez —
      karşı taraf bizim uygulamamız değil.

      (Bu tanım K-21'de eklendi: etiket uçlarda kullanılıyordu ama `tags`
      listesinde tanımı yoktu ve üretilen belgede başlıksız bir bölüm
      olarak çıkıyordu.)
  - name: Kontrol Merkezi
    description: |
      **Yöneten** yüzey (K-21) — `/control/kds/*`. Ayrı bir depoda duran
      Kontrol Merkezi paneli mutfak kasalarını buradan yönetir: kasa açar,
      eşleme kodu üretir, iptal eder, ayar ve **kilit** iter, komut kuyruklar,
      sipariş revize eder ve durum geçirir.

      Kimlik doğrulama `ControlSignature`; cihaz token'ı **değil** ve
      `bbd.signature` **değil** (ikisinin de gerekçesi güvenlik şemasının
      açıklamasında). `X-App-Id` / `X-App-Version` / `Accept-Language`
      başlıkları **istenmez**: Kontrol Merkezi bir müşteri istemcisi değil,
      yöneten bir sistem.

      **Bu etiketteki her yazma ucu** `actor` + `reason` ister, `dry_run`
      kabul eder ve `veykemtu_control_audit` tablosuna **silinmeyen** bir
      denetim satırı bırakır. Fiyat gizliliği (ADR-08) burada geçerli
      **değildir**: kural mutfak kapsamına aitti, yönetim yüzeyine değil.

security:
  - CustomerToken: []

paths:

  /health:
    get:
      tags: [Sağlık]
      summary: Uptime kontrolü
      operationId: health
      security: []
      responses:
        '200':
          description: Ayakta
          content:
            application/json:
              schema:
                type: object
                required: [status, server_time]
                properties:
                  status: { type: string, const: ok }
                  server_time: { type: string, format: date-time }
        '429':
          $ref: '#/components/responses/RateLimited'

  # ─────────────────────────────── Kimlik ───────────────────────────────

  /auth/register:
    parameters: [$ref: '#/components/parameters/AppId', $ref: '#/components/parameters/AppVersion', $ref: '#/components/parameters/AcceptLanguage']
    post:
      tags: [Kimlik]
      summary: Müşteri kaydı
      operationId: register
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/RegisterRequest' }
      responses:
        '201':
          description: Hesap oluştu
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AuthResponse' }
        '422':
          $ref: '#/components/responses/ValidationFailed'
        '429':
          $ref: '#/components/responses/RateLimited'

  /auth/login:
    parameters: [$ref: '#/components/parameters/AppId', $ref: '#/components/parameters/AppVersion', $ref: '#/components/parameters/AcceptLanguage']
    post:
      tags: [Kimlik]
      summary: Giriş
      operationId: login
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email: { type: string, format: email }
                password: { type: string, format: password, minLength: 8 }
      responses:
        '200':
          description: Giriş başarılı
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AuthResponse' }
        '422':
          $ref: '#/components/responses/ValidationFailed'
        '429':
          $ref: '#/components/responses/RateLimited'

  /auth/otp/request:
    parameters: [$ref: '#/components/parameters/AppId', $ref: '#/components/parameters/AppVersion', $ref: '#/components/parameters/AcceptLanguage']
    post:
      tags: [Kimlik]
      summary: Telefona giriş kodu gönder
      description: |
        Kurumsal müşteri her sipariş için şifre hatırlamak zorunda kalmasın diye
        ikinci bir giriş kapısı. E-posta + şifre yolu kapanmıyor.

        **Yanıt numara kayıtlı olsun olmasın AYNIDIR.** "Bu numara kayıtlı
        değil" demek, müşteri listesinin numara numara taranmasına izin
        vermek olurdu. Kayıtsız numaraya SMS gönderilmez; bunu yalnızca
        numaranın gerçek sahibi fark edebilir.

        Telefon biçimi serbesttir: `5551112233`, `05551112233`,
        `+905551112233` ve boşluklu yazımlar aynı numaraya çözülür.
      operationId: requestOtp
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [phone]
              properties:
                phone: { type: string, minLength: 10, maxLength: 20, example: '05551112233' }
      responses:
        '202':
          description: İstek alındı (numara kayıtlıysa SMS gönderildi)
          content:
            application/json:
              schema:
                type: object
                required: [message, expires_in, resend_after]
                properties:
                  message: { type: string }
                  expires_in: { type: integer, description: 'Kodun ömrü (saniye).', example: 300 }
                  resend_after: { type: integer, description: 'Yeni kod istenebilmesi için beklenecek süre (saniye).', example: 60 }
        '422':
          $ref: '#/components/responses/ValidationFailed'
        '429':
          $ref: '#/components/responses/RateLimited'

  /auth/otp/verify:
    parameters: [$ref: '#/components/parameters/AppId', $ref: '#/components/parameters/AppVersion', $ref: '#/components/parameters/AcceptLanguage']
    post:
      tags: [Kimlik]
      summary: Giriş kodunu doğrula
      description: |
        Başarılı doğrulama şifreli girişle AYNI gövdeyi döndürür; istemci
        tarafında token'ın nereden geldiği fark etmez.

        Kod tek kullanımlıktır ve doğrulandığı anda aynı numaranın diğer açık
        kodları da tüketilir. Beş yanlış denemeden sonra kod ölür, yeni kod
        istenmelidir.
      operationId: verifyOtp
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [phone, code]
              properties:
                phone: { type: string, minLength: 10, maxLength: 20, example: '05551112233' }
                code: { type: string, minLength: 6, maxLength: 6, example: '482913' }
      responses:
        '200':
          description: Giriş başarılı
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AuthResponse' }
        '403':
          description: Hesap devre dışı (`FORBIDDEN`)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '422':
          $ref: '#/components/responses/ValidationFailed'
        '429':
          $ref: '#/components/responses/RateLimited'

  /auth/logout:
    parameters: [$ref: '#/components/parameters/AppId', $ref: '#/components/parameters/AppVersion', $ref: '#/components/parameters/AcceptLanguage']
    post:
      tags: [Kimlik]
      summary: Token'ı iptal et
      operationId: logout
      responses:
        '204': { description: Çıkış yapıldı }
        '401': { $ref: '#/components/responses/Unauthenticated' }

  /auth/me:
    parameters: [$ref: '#/components/parameters/AppId', $ref: '#/components/parameters/AppVersion', $ref: '#/components/parameters/AcceptLanguage']
    get:
      tags: [Kimlik]
      summary: Oturumdaki müşteri
      operationId: me
      responses:
        '200':
          description: Müşteri profili
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Customer' }
        '401': { $ref: '#/components/responses/Unauthenticated' }

  # ─────────────────────────────── Katalog ──────────────────────────────
    patch:
      tags: [Kimlik]
      summary: Profil güncelle
      description: |
        Ad, soyad ve telefon güncellenir. Gönderilmeyen alanlar değişmez.

        **E-posta DEĞİŞTİRİLEMEZ.** Giriş kimliği odur; değiştirmek yeni
        adrese onay bağlantısı göndermeyi gerektirir, o olmadan hesabı
        başkasının e-postasına taşımanın yolu olur. Gövdede `email`
        gönderilirse sessizce yok sayılır.
      operationId: updateMe
      security:
        - CustomerToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                first_name: { type: string, maxLength: 64 }
                last_name: { type: string, maxLength: 64 }
                telephone:
                  type: string
                  pattern: '^[1-9][0-9]{9}$'
                  description: 10 hane, başında 0 veya +90 olmadan.
      responses:
        '200':
          description: Güncel profil
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Customer' }
        '401': { $ref: '#/components/responses/Unauthenticated' }
        '422':
          description: Doğrulama hatası
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /auth/password:
    parameters: [$ref: '#/components/parameters/AppId', $ref: '#/components/parameters/AppVersion', $ref: '#/components/parameters/AcceptLanguage']
    post:
      tags: [Kimlik]
      summary: Parola değiştir
      description: |
        **Mevcut parola zorunludur.** Token'ı çalınmış bir oturumun
        parolayı değiştirip hesabı tamamen ele geçirmesini engelleyen tek
        şey budur.

        Başarılı olduğunda **diğer tüm token'lar iptal edilir** ve çağırana
        yeni bir token verilir. Parola değiştirmenin amacı "başkası
        giremesin"dir; eski oturumları açık bırakmak o amacı boşa çıkarır.

        `bld-auth` oran sınırına tabidir (dakikada 10): mevcut parolayı
        denemek kaba kuvvete açıktır.
      operationId: changePassword
      security:
        - CustomerToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [current_password, password]
              properties:
                current_password: { type: string }
                password: { type: string, minLength: 8, maxLength: 128 }
      responses:
        '200':
          description: Değiştirildi; yeni token döner
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AuthResponse' }
        '401': { $ref: '#/components/responses/Unauthenticated' }
        '422':
          description: Mevcut parola yanlış veya doğrulama hatası
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '429': { $ref: '#/components/responses/RateLimited' }

  /locations:
    parameters: [$ref: '#/components/parameters/AppId', $ref: '#/components/parameters/AppVersion', $ref: '#/components/parameters/AcceptLanguage']
    get:
      tags: [Katalog]
      summary: Vitrinler
      description: |
        Faz 1'de tek vitrin döner. Dizi biçimi korunur ki ileride vitrin eklenirse
        istemciler kırılmasın.
      operationId: listLocations
      security: []
      responses:
        '200':
          description: Vitrin listesi
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/Location' }
        '429':
          $ref: '#/components/responses/RateLimited'

  /locations/{id}/menu:
    parameters:
      - $ref: '#/components/parameters/AppId'
      - $ref: '#/components/parameters/AppVersion'
      - $ref: '#/components/parameters/AcceptLanguage'
      - name: id
        in: path
        required: true
        schema: { type: integer, format: int64 }
    get:
      tags: [Katalog]
      summary: Vitrinin menüsü
      description: |
        `is_available: false` ürünler yanıtta **kalır** — istemci soluk gösterir,
        sepete eklenmesine izin vermez.
      operationId: getMenu
      security: []
      responses:
        '200':
          description: Kategoriler ve ürünler
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/MenuCategory' }
        '404': { $ref: '#/components/responses/NotFound' }

  /locations/{id}/daily-menu:
    parameters:
      - $ref: '#/components/parameters/AppId'
      - $ref: '#/components/parameters/AppVersion'
      - $ref: '#/components/parameters/AcceptLanguage'
      - name: id
        in: path
        required: true
        schema: { type: integer, format: int64 }
      - name: date
        in: query
        required: false
        description: |
          İşletme takvimindeki gün (Europe/Istanbul). Verilmezse **bugün**.
        schema: { type: string, format: date }
    get:
      tags: [Katalog]
      summary: Günün menüsü
      description: |
        Bir günün menüsü: paket olarak satılan bütün ve onu oluşturan kalemler.

        **Satılabilir olan yalnız budur.** `/locations/{id}/menu` bütün
        katalogu döndürmeye devam eder ama sipariş yalnız o günün menüsünden
        verilebilir; sunucu bunu `POST /orders` üzerinde yeniden denetler.

        Yayınlanmamış (taslak) bir gün **yokmuş gibi** döner (`id: null`,
        `items: []`). Yönetici bir ay öncesinden plan giriyor; yarım kalmış
        bir günün müşteriye görünmesi, pişmeyecek bir yemeğin satılması
        demek olurdu.

        `items[].price`, o gün için **geçerli** birim fiyattır: ürünün kendi
        fiyatı ya da o güne girilmiş fiyat istisnası. İstemci gördüğü fiyatla
        ödenecek fiyatı ayrı hesaplamaz.
      operationId: getDailyMenu
      security: []
      responses:
        '200':
          description: O günün menüsü. Menü yoksa da 200 döner — boş gün bir hata değildir.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data: { $ref: '#/components/schemas/DailyMenu' }
        '404': { $ref: '#/components/responses/NotFound' }

  /locations/{id}/menu-calendar:
    parameters:
      - $ref: '#/components/parameters/AppId'
      - $ref: '#/components/parameters/AppVersion'
      - $ref: '#/components/parameters/AcceptLanguage'
      - name: id
        in: path
        required: true
        schema: { type: integer, format: int64 }
      - name: from
        in: query
        required: false
        description: Başlangıç günü. Verilmezse bugün.
        schema: { type: string, format: date }
      - name: to
        in: query
        required: false
        description: |
          Bitiş günü (dahil). Verilmezse `from` + 30 gün. Aralık en fazla
          **92 gün** olabilir; daha genişi `422 VALIDATION_FAILED`.
        schema: { type: string, format: date }
    get:
      tags: [Katalog]
      summary: Menü takvimi
      description: |
        Bir aralıktaki günlerin durumu — gün seçiciyi çizmek için.

        Yalnız **menüsü olan ya da kapalı olan** günler döner; hiçbir şeyi
        olmayan gün listede yer almaz. Yüz günlük boş bir dizi göndermek,
        istemciye "her gün bir şey var" izlenimi verip her birini ayrı
        sorgulatırdı.
      operationId: getMenuCalendar
      security: []
      responses:
        '200':
          description: Günler
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/MenuCalendarDay' }
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/ValidationFailed' }

  # ─────────────────────────────── Sipariş ──────────────────────────────

  /addresses:
    parameters: [$ref: '#/components/parameters/AppId', $ref: '#/components/parameters/AppVersion', $ref: '#/components/parameters/AcceptLanguage']
    get:
      tags: [Adresler]
      summary: Adres defteri
      description: |
        Müşterinin kayıtlı adresleri. Varsayılan adres başta döner.

        Bu liste **sipariş adreslerini içermez**: her sipariş kendi
        değişmez adres kopyasını tutar. İkisi karışsaydı, kırk sipariş
        veren müşteri defterinde kırk satır görürdü.
      operationId: listAddresses
      security:
        - CustomerToken: []
      responses:
        '200':
          description: Adres listesi
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/SavedAddress' }
        '401': { $ref: '#/components/responses/Unauthenticated' }
    post:
      tags: [Adresler]
      summary: Adres ekle
      description: |
        İlk adres kendiliğinden varsayılan olur — müşteriyi tek adresi
        için ayrıca "varsayılan yap" demeye zorlamak anlamsız.
      operationId: createAddress
      security:
        - CustomerToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/SavedAddressInput' }
      responses:
        '201':
          description: Eklendi
          content:
            application/json:
              schema: { $ref: '#/components/schemas/SavedAddress' }
        '401': { $ref: '#/components/responses/Unauthenticated' }
        '422':
          description: Doğrulama hatası
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  # Sabit parçalı iki yol, `/addresses/{id}` ÖNÜNDE tanımlıdır ve sunucuda da
  # o sırayla kaydedilmelidir. `{id}` tamsayı olarak yazılı olsa bile yönlendirici
  # önce eşleşeni alır; `/addresses/{id}` üstte kalsaydı `suggest` bir kimlik
  # sanılıp `404` dönerdi.

  /addresses/suggest:
    parameters:
      - $ref: '#/components/parameters/AppId'
      - $ref: '#/components/parameters/AppVersion'
      - $ref: '#/components/parameters/AcceptLanguage'
      - name: q
        in: query
        required: true
        description: |
          Aranan serbest metin — mahalle, sokak, bina adı ya da bunların
          karışımı.

          **En az 3 karakter.** Tek harfe geocoder çağırmak sağlayıcı kotasını
          "k", "ka" gibi hiçbir şey ayırt etmeyen sorgularla yakar ve
          önbelleği de aynı çöple doldurur.

          İstemci yazarken **300 ms debounce** uygular ve 3 karakterin altında
          hiç çağırmaz. Sunucu kuralı yine de denetler: istemcideki debounce
          bir kolaylıktır, kota koruması değildir.
        schema:
          type: string
          minLength: 3
          maxLength: 120
          examples: ['Feritpaşa Kültür']
      - name: limit
        in: query
        required: false
        description: |
          Kaç öneri dönsün. Üst sınır **10**: liste bir metin alanının altında
          açılan bir katman ve telefonda onuncu satır zaten klavyenin altında
          kalıyor. Ayrıca her satır sağlayıcıdan gelen bir yük.
        schema: { type: integer, minimum: 1, maximum: 10, default: 5 }
    get:
      tags: [Adresler]
      summary: Adres önerisi
      description: |
        Müşteri adresi yazarken açılan öneri listesi. Seçilen öneri hem metin
        alanlarını hem de harita iğnesini tek dokunuşta doldurur.

        **Sonuçlar hizmet alanı kutusuna kilitlidir** (`docs/00-genel-bakis.md`
        §hizmet alanı; sunucudaki karşılığı `Services\ServiceArea`). Kutu
        dışındaki eşleşmeler yanıttan **düşürülür**, "teslimat yok" diye
        işaretlenip gösterilmez: müşteriye seçebileceğini sandığı bir satır
        gösterip ödeme ekranında reddetmek, o satırı hiç göstermemekten daha
        kötüdür.

        Öneri nesnesindeki `latitude`/`longitude` **her zaman doludur** —
        kutuya göre eleme zaten koordinat üzerinden yapılıyor, koordinatı
        olmayan bir aday listeye giremez.

        ## Sağlayıcıya ulaşılamazsa: `200` + boş `data`

        Geocoder çöktüğünde, zaman aşımına uğradığında ya da kotası dolduğunda
        bu uç **hata döndürmez**; boş bir liste döner. Öneri bir
        **kolaylıktır**: adres alanları elle de doldurulabiliyor ve harita
        iğnesi isteğe bağlı. Sağlayıcı arızasını `5xx` yapmak, dışarıdaki bir
        servisin kendi sipariş akışımızı durdurabilmesi demek olurdu.

        Boş liste iki farklı şeyi anlatır ve istemci ikisini **ayırt etmez**:
        "bu metne uyan adres yok" ve "şu an öneri veremiyoruz". İkisinde de
        doğru davranış aynıdır — alanları elle doldurtmak. Ayrım sunucu
        günlüğüne yazılır, kullanıcıya değil.

        İstemci bu yüzden öneri listesini **hiçbir zaman zorunlu bir adım**
        yapmaz: liste boşsa form yine gönderilebilir olmalıdır.

        ## `422` ne zaman

        Yalnızca isteğin kendisi bozuksa: `q` yok ya da 3 karakterden kısa.
        Bu bir istemci hatasıdır (debounce kapısı sızdırmış demektir), kullanıcı
        hatası değil — sağlayıcı arızasıyla aynı yanıta karışmasın diye ayrı
        tutuluyor.
      operationId: suggestAddresses
      security:
        - CustomerToken: []
      responses:
        '200':
          description: |
            Öneri listesi. Eşleşme yoksa **ya da** sağlayıcıya ulaşılamıyorsa
            `data: []` — ikisi de `200`.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: array
                    maxItems: 10
                    items: { $ref: '#/components/schemas/AddressSuggestion' }
        '401': { $ref: '#/components/responses/Unauthenticated' }
        '422': { $ref: '#/components/responses/ValidationFailed' }
        '429': { $ref: '#/components/responses/RateLimited' }

  /addresses/reverse:
    parameters:
      - $ref: '#/components/parameters/AppId'
      - $ref: '#/components/parameters/AppVersion'
      - $ref: '#/components/parameters/AcceptLanguage'
      - name: lat
        in: query
        required: true
        description: İğnenin enlemi.
        schema: { type: number, format: double, minimum: -90, maximum: 90 }
      - name: lng
        in: query
        required: true
        description: |
          İğnenin boylamı. `lat` ile birlikte **zorunludur**; yarısı gelen bir
          çift `422` döner. Kayıtlı adreste yarım koordinat sessizce `null`'a
          düşüyor (bkz. `SavedAddressInput`) ama burada çifti tamamlamanın
          yolu yok — sorulacak bir nokta yoksa soru da yoktur.
        schema: { type: number, format: double, minimum: -180, maximum: 180 }
    get:
      tags: [Adresler]
      summary: Koordinattan adres (ters geocoding)
      description: |
        Haritaya iğne bırakıldığında adres metnini kendiliğinden doldurur.
        `/addresses/suggest`'in tersi: orada metinden noktaya, burada noktadan
        metne gidiliyor.

        **Yanıttaki `latitude`/`longitude`, isteğin kendi koordinatlarıdır** —
        sağlayıcının oturttuğu (snap) nokta değil. Geocoder tipik olarak
        sokak ya da bina merkezine oturtur; istemci o noktayı iğneye
        yazsaydı iğne kullanıcının parmağının altından birkaç on metre
        kayardı. Kapıyı müşteri biliyor, geocoder değil: sağlayıcıdan yalnız
        **metin** alınır.

        Kutu dışı nokta `422 VALIDATION_FAILED` döner
        (`details.reason = "out_of_service_area"`). Bu bir kolaylık ucu olsa da
        buradaki `422` doğru yanıttır: kullanıcı haritayı gördü ve teslimat
        yapmadığımız bir yeri kasten seçti; sessiz bir boş yanıt "arıza var"
        gibi okunur, oysa söylenecek net bir şey var.

        Sağlayıcıya ulaşılamazsa `200` + `data: null` — gerekçe
        `/addresses/suggest` ile aynıdır. Aynı şey, sağlayıcının o noktada
        adres bilmediği durumda da döner (arazi, yeni yapılan yol): istemci
        iğneyi **korur** ve metin alanlarını elle doldurtur. İki durumun
        ayrımı kullanıcı için bir fark yaratmaz.
      operationId: reverseGeocodeAddress
      security:
        - CustomerToken: []
      responses:
        '200':
          description: |
            Tek öneri nesnesi. `data: null` = sağlayıcı o noktayı bilmiyor ya
            da şu an erişilemiyor.
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    oneOf:
                      - $ref: '#/components/schemas/AddressSuggestion'
                      - type: 'null'
        '401': { $ref: '#/components/responses/Unauthenticated' }
        '422':
          description: |
            `lat`/`lng` eksik, aralık dışı ya da hizmet alanı kutusunun
            dışında (`details.reason = "out_of_service_area"`).
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '429': { $ref: '#/components/responses/RateLimited' }

  /addresses/{id}:
    parameters:
      - $ref: '#/components/parameters/AppId'
      - $ref: '#/components/parameters/AppVersion'
      - $ref: '#/components/parameters/AcceptLanguage'
      - name: id
        in: path
        required: true
        schema: { type: integer, format: int64 }
    patch:
      tags: [Adresler]
      summary: Adres güncelle
      description: |
        Defterdeki kaydı değiştirir. **Geçmiş siparişlerin adresini
        DEĞİŞTİRMEZ** — onlar kendi kopyalarını taşır.
      operationId: updateAddress
      security:
        - CustomerToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/SavedAddressInput' }
      responses:
        '200':
          description: Güncellendi
          content:
            application/json:
              schema: { $ref: '#/components/schemas/SavedAddress' }
        '401': { $ref: '#/components/responses/Unauthenticated' }
        '404': { $ref: '#/components/responses/NotFound' }
        '422':
          description: Doğrulama hatası
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
    delete:
      tags: [Adresler]
      summary: Adres sil
      description: |
        Defterden siler. Geçmiş siparişler etkilenmez.

        Silinen adres varsayılansa, kalanlardan biri varsayılan yapılır:
        müşteri ödeme ekranında hiçbir adres seçili görmemeli.
      operationId: deleteAddress
      security:
        - CustomerToken: []
      responses:
        '204': { description: Silindi }
        '401': { $ref: '#/components/responses/Unauthenticated' }
        '404': { $ref: '#/components/responses/NotFound' }

  /orders:
    parameters: [$ref: '#/components/parameters/AppId', $ref: '#/components/parameters/AppVersion', $ref: '#/components/parameters/AcceptLanguage']
    post:
      tags: [Sipariş]
      summary: Sipariş oluştur
      description: |
        Tutar **sunucuda** hesaplanır. İstemcinin gönderdiği tutar alanları yok sayılır.
      operationId: createOrder
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/OrderCreateRequest' }
      responses:
        '201':
          description: Sipariş oluştu
          content:
            application/json:
              schema: { $ref: '#/components/schemas/OrderCreated' }
        '401': { $ref: '#/components/responses/Unauthenticated' }
        '422':
          description: |
            Doğrulama hatası. Olası kodlar: `VALIDATION_FAILED`, `LOCATION_CLOSED`,
            `ITEM_UNAVAILABLE`.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '429': { $ref: '#/components/responses/RateLimited' }
    get:
      tags: [Sipariş]
      summary: Kendi siparişlerim
      description: En yeni önce.
      operationId: listOrders
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PerPage'
      responses:
        '200':
          description: Sipariş listesi
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/OrderSummary' }
                  meta: { $ref: '#/components/schemas/PaginationMeta' }
        '401': { $ref: '#/components/responses/Unauthenticated' }

  /orders/{id}:
    parameters:
      - $ref: '#/components/parameters/AppId'
      - $ref: '#/components/parameters/AppVersion'
      - $ref: '#/components/parameters/AcceptLanguage'
      - name: id
        in: path
        required: true
        schema: { type: integer, format: int64 }
    get:
      tags: [Sipariş]
      summary: Sipariş detayı
      description: |
        Başkasının siparişi istenirse **`404 NOT_FOUND`** döner — varlık sızdırılmaz
        (`403` dönmek siparişin var olduğunu ele verirdi).
      operationId: getOrder
      responses:
        '200':
          description: Sipariş
          content:
            application/json:
              schema: { $ref: '#/components/schemas/OrderDetail' }
        '401': { $ref: '#/components/responses/Unauthenticated' }
        '404': { $ref: '#/components/responses/NotFound' }

  /public/orders/{id}/tracking:
    parameters:
      - $ref: '#/components/parameters/AppId'
      - $ref: '#/components/parameters/AppVersion'
      - $ref: '#/components/parameters/AcceptLanguage'
      - name: id
        in: path
        required: true
        schema: { type: integer, format: int64 }
    get:
      tags: [Sipariş]
      summary: İmzalı takip (giriş gerektirmez)
      description: |
        Fişteki takip QR'ının arkasındaki uç (K-20). **Kimlik gerektirmez**;
        yetki URL'deki HMAC imzasındadır.

        NEDEN AYRI BİR UÇ: `GET /orders/{id}` oturum istiyor ve fişteki QR'ı
        okutan müşteri sipariş durumunu değil giriş ekranını görüyordu. Aynı
        uca "imza varsa oturumu atla" diye bir kapı açmak, tek bir uçta iki
        farklı yetki seviyesi demekti; ilk dikkatsiz düzenleme adresi kimliği
        doğrulanmamış ziyaretçiye açardı. Ayrı rota, yetki sınırını bir
        yönlendirme gerçeği hâline getiriyor.

        Yanıt siparişin **daraltılmış** yüzüdür: adres, ad, telefon ve kalem
        listesi dönmez (`PublicOrderTracking`).

        Girişli `/orders/{id}` ve `/siparis/{id}` sayfası olduğu gibi duruyor.
      operationId: getPublicOrderTracking
      security: []
      parameters:
        - name: e
          in: query
          required: true
          schema: { type: integer, format: int64 }
          description: Son geçerlilik (unix saniye). İmzaya dâhildir — uzatılamaz.
        - name: s
          in: query
          required: true
          schema: { type: string }
          description: base64url kodlu, 128 bite kırpılmış HMAC-SHA256.
      responses:
        '200':
          description: Takip özeti
          content:
            application/json:
              schema: { $ref: '#/components/schemas/PublicOrderTracking' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '429': { $ref: '#/components/responses/RateLimited' }

  /orders/{id}/cancel:
    parameters:
      - $ref: '#/components/parameters/AppId'
      - $ref: '#/components/parameters/AppVersion'
      - $ref: '#/components/parameters/AcceptLanguage'
      - name: id
        in: path
        required: true
        schema: { type: integer, format: int64 }
    post:
      tags: [Sipariş]
      summary: Siparişi iptal et
      description: Yalnızca `yeni` ve `onaylandi` durumlarında. Sonrasında `422 INVALID_TRANSITION`.
      operationId: cancelOrder
      responses:
        '200':
          description: Güncel sipariş
          content:
            application/json:
              schema: { $ref: '#/components/schemas/OrderDetail' }
        '401': { $ref: '#/components/responses/Unauthenticated' }
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/InvalidTransition' }

  # ────────────────────────────── Cari hesap ────────────────────────────

  /account/summary:
    parameters:
      - $ref: '#/components/parameters/AppId'
      - $ref: '#/components/parameters/AppVersion'
      - $ref: '#/components/parameters/AcceptLanguage'
    get:
      tags: [Cari hesap]
      summary: Cari bakiye
      description: Müşterinin güncel cari bakiyesi. Pozitif = müşterinin borcu.
      operationId: getAccountSummary
      security:
        - CustomerToken: []
      responses:
        '200':
          description: Güncel bakiye
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AccountSummary' }
        '401': { $ref: '#/components/responses/Unauthenticated' }

  /account/statement:
    parameters:
      - $ref: '#/components/parameters/AppId'
      - $ref: '#/components/parameters/AppVersion'
      - $ref: '#/components/parameters/AcceptLanguage'
      - name: from
        in: query
        required: false
        schema: { type: string, format: date }
        description: 'Başlangıç tarihi (varsayılan 3 ay önce).'
      - name: to
        in: query
        required: false
        schema: { type: string, format: date }
        description: 'Bitiş tarihi (varsayılan bugün).'
    get:
      tags: [Cari hesap]
      summary: Cari ekstre
      description: Tarih aralığındaki hareketler, açılış ve kapanış bakiyesiyle.
      operationId: getAccountStatement
      security:
        - CustomerToken: []
      responses:
        '200':
          description: Ekstre
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AccountStatement' }
        '401': { $ref: '#/components/responses/Unauthenticated' }

  /account/payments:
    parameters: [$ref: '#/components/parameters/AppId', $ref: '#/components/parameters/AppVersion', $ref: '#/components/parameters/AcceptLanguage']
    post:
      tags: [Cari hesap]
      summary: Cari borç ödemesi başlat
      description: |
        İki mod, tek uç: `amount` ile istenen tutar, `full: true` ile borcun
        tamamı.

        **Tutar sunucuda doğrulanır.** `full` modunda istemcinin gönderdiği
        hiçbir rakam okunmaz; bakiye yeniden hesaplanır. Aksi hâlde
        istemcinin ekranındaki eski bakiye ile gerçek borç ayrıştığında
        (arada bir sipariş geçmişse) müşteri eksik ödeyip "kapattım" sanırdı.

        Borcu aşan ödeme reddedilir: fazla ödeme defterde negatif bakiye
        yaratır ve iadesi elle iş demektir.

        Ödeme BU UÇTA TAMAMLANMAZ. Yanıttaki `redirect_url` sağlayıcının
        sayfasıdır (bugün simülasyon); defter ancak ödeme kesinleşince
        yazılır.
      operationId: startAccountPayment
      security:
        - CustomerToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                amount:
                  type: integer
                  minimum: 1
                  description: 'Ödenecek tutar (kuruş). `full` true ise yok sayılır.'
                full:
                  type: boolean
                  description: 'true ise o anki borcun tamamı ödenir.'
      responses:
        '201':
          description: Ödeme başlatıldı
          content:
            application/json:
              schema:
                type: object
                required: [payment_id, amount, balance, currency, status, redirect_url]
                properties:
                  payment_id: { type: integer }
                  amount: { type: integer, description: 'Ödenecek tutar (kuruş).' }
                  balance: { type: integer, description: 'İşlem başlatıldığı andaki borç (kuruş).' }
                  currency: { type: string, example: TRY }
                  status: { type: string, enum: [pending] }
                  redirect_url: { type: string, format: uri }
        '401': { $ref: '#/components/responses/Unauthenticated' }
        '422': { $ref: '#/components/responses/ValidationFailed' }
        '429': { $ref: '#/components/responses/RateLimited' }

  # ─────────────────────────────── Abonelik ─────────────────────────────

  /subscriptions:
    parameters:
      - $ref: '#/components/parameters/AppId'
      - $ref: '#/components/parameters/AppVersion'
      - $ref: '#/components/parameters/AcceptLanguage'
    get:
      tags: [Abonelik]
      summary: Aboneliklerim
      operationId: listSubscriptions
      security:
        - CustomerToken: []
      responses:
        '200':
          description: Abonelik listesi
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/Subscription' }
        '401': { $ref: '#/components/responses/Unauthenticated' }
    post:
      tags: [Abonelik]
      summary: Abonelik talebi oluştur
      description: Fiyatsız talep açar (status pending); admin fiyatlandırıp aktifleştirir.
      operationId: createSubscription
      security:
        - CustomerToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/SubscriptionCreate' }
      responses:
        '201':
          description: Oluşturulan abonelik
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Subscription' }
        '401': { $ref: '#/components/responses/Unauthenticated' }
        '422': { $ref: '#/components/responses/ValidationFailed' }

  /subscriptions/{id}:
    parameters:
      - $ref: '#/components/parameters/AppId'
      - $ref: '#/components/parameters/AppVersion'
      - $ref: '#/components/parameters/AcceptLanguage'
      - name: id
        in: path
        required: true
        schema: { type: integer, format: int64 }
    get:
      tags: [Abonelik]
      summary: Abonelik detayı
      operationId: getSubscription
      security:
        - CustomerToken: []
      responses:
        '200':
          description: Abonelik
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Subscription' }
        '401': { $ref: '#/components/responses/Unauthenticated' }
        '404': { $ref: '#/components/responses/NotFound' }

  /subscriptions/{id}/pause:
    parameters:
      - $ref: '#/components/parameters/AppId'
      - $ref: '#/components/parameters/AppVersion'
      - $ref: '#/components/parameters/AcceptLanguage'
      - name: id
        in: path
        required: true
        schema: { type: integer, format: int64 }
    post:
      tags: [Abonelik]
      summary: Aboneliği duraklat
      description: Yalnızca aktif abonelik duraklatılabilir; aksi 422.
      operationId: pauseSubscription
      security:
        - CustomerToken: []
      responses:
        '200':
          description: Güncel abonelik
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Subscription' }
        '401': { $ref: '#/components/responses/Unauthenticated' }
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/ValidationFailed' }

  /subscriptions/{id}/resume:
    parameters:
      - $ref: '#/components/parameters/AppId'
      - $ref: '#/components/parameters/AppVersion'
      - $ref: '#/components/parameters/AcceptLanguage'
      - name: id
        in: path
        required: true
        schema: { type: integer, format: int64 }
    post:
      tags: [Abonelik]
      summary: Aboneliği devam ettir
      description: Yalnızca duraklatılmış abonelik devam ettirilebilir; aksi 422.
      operationId: resumeSubscription
      security:
        - CustomerToken: []
      responses:
        '200':
          description: Güncel abonelik
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Subscription' }
        '401': { $ref: '#/components/responses/Unauthenticated' }
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/ValidationFailed' }

  /subscriptions/{id}/cancel:
    parameters:
      - $ref: '#/components/parameters/AppId'
      - $ref: '#/components/parameters/AppVersion'
      - $ref: '#/components/parameters/AcceptLanguage'
      - name: id
        in: path
        required: true
        schema: { type: integer, format: int64 }
    post:
      tags: [Abonelik]
      summary: Aboneliği iptal et
      operationId: cancelSubscription
      security:
        - CustomerToken: []
      responses:
        '200':
          description: Güncel abonelik
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Subscription' }
        '401': { $ref: '#/components/responses/Unauthenticated' }
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/ValidationFailed' }

  /subscriptions/{id}/exceptions:
    parameters:
      - $ref: '#/components/parameters/AppId'
      - $ref: '#/components/parameters/AppVersion'
      - $ref: '#/components/parameters/AcceptLanguage'
      - name: id
        in: path
        required: true
        schema: { type: integer, format: int64 }
    post:
      tags: [Abonelik]
      summary: Tek-günlük istisna gir
      description: Belirli bir günü atla veya adedini değiştir (kural değişimi değil).
      operationId: addSubscriptionException
      security:
        - CustomerToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/SubscriptionExceptionInput' }
      responses:
        '200':
          description: Güncel abonelik
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Subscription' }
        '401': { $ref: '#/components/responses/Unauthenticated' }
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/ValidationFailed' }

  /me/push-token:
    parameters: [$ref: '#/components/parameters/AppId', $ref: '#/components/parameters/AppVersion', $ref: '#/components/parameters/AcceptLanguage']
    post:
      tags: [Sipariş]
      summary: FCM push token'ı kaydet
      operationId: registerPushToken
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [fcm_token, platform]
              properties:
                fcm_token: { type: string, minLength: 1 }
                platform: { type: string, enum: [android] }
      responses:
        '204': { description: Kaydedildi }
        '401': { $ref: '#/components/responses/Unauthenticated' }
        '422': { $ref: '#/components/responses/ValidationFailed' }

  # ─────────────────────────────── Mutfak ───────────────────────────────

  /kitchen/pair:
    parameters: [$ref: '#/components/parameters/AppId', $ref: '#/components/parameters/AppVersion', $ref: '#/components/parameters/AcceptLanguage']
    post:
      tags: [Mutfak]
      summary: Cihaz eşleme
      description: |
        Admin panelden alınan tek kullanımlık kod ile cihaz kaydı. Dönen token süresizdir,
        admin panelden iptal edilebilir (sonraki isteklerde `403 DEVICE_REVOKED`).
      operationId: pairKitchenDevice
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [pairing_code, device_name]
              properties:
                pairing_code:
                  type: string
                  pattern: '^[A-Z0-9]{4}-[A-Z0-9]{4}$'
                  examples: ['K7X2-9QMD']
                device_name: { type: string, minLength: 1, maxLength: 64 }
      responses:
        '200':
          description: Eşleme başarılı
          content:
            application/json:
              schema:
                type: object
                required: [device_id, token, server_time]
                properties:
                  device_id: { type: integer, format: int64 }
                  token: { type: string }
                  server_time: { type: string, format: date-time }
        '404':
          description: Kod geçersiz veya süresi dolmuş
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '429': { $ref: '#/components/responses/RateLimited' }

  /kitchen/orders:
    parameters: [$ref: '#/components/parameters/AppId', $ref: '#/components/parameters/AppVersion', $ref: '#/components/parameters/AcceptLanguage']
    get:
      tags: [Mutfak]
      summary: Aktif siparişler
      description: |
        Varsayılan: `teslim_edildi` ve `iptal` **hariç** bugünün siparişleri.

        **Artımlı çekme.** Yanıttaki `max_id` bir sonraki isteğin `after` değeridir;
        `server_time` bir sonraki isteğin `since` değeridir. Durum değişimlerini yakalamak
        için `since` kullanılmalıdır — `after` yalnızca yeni siparişleri getirir.
      operationId: listKitchenOrders
      security:
        - KitchenToken: []
      parameters:
        - name: after
          in: query
          description: Bu sipariş kimliğinden büyükleri getir (yalnızca yeni siparişler).
          schema: { type: integer, format: int64 }
        - name: since
          in: query
          description: Bu zaman damgasından sonra **güncellenenleri** getir.
          schema: { type: string, format: date-time }
        - name: include_completed
          in: query
          description: '`true` ise bugünün tamamlananları da gelir.'
          schema: { type: boolean, default: false }
      responses:
        '200':
          description: Sipariş listesi
          content:
            application/json:
              schema:
                type: object
                required: [data, server_time, max_id]
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/KitchenOrder' }
                  server_time:
                    type: string
                    format: date-time
                    description: Bir sonraki `since` değeri.
                  max_id:
                    type: integer
                    format: int64
                    description: Bir sonraki `after` değeri. Liste boşsa önceki değer korunur.
        '401': { $ref: '#/components/responses/Unauthenticated' }
        '403': { $ref: '#/components/responses/ForbiddenOrRevoked' }

  /kitchen/subscription-orders:
    parameters: [$ref: '#/components/parameters/AppId', $ref: '#/components/parameters/AppVersion', $ref: '#/components/parameters/AcceptLanguage']
    get:
      tags: [Mutfak]
      summary: Bugün ve yarının abonelik siparişleri
      description: |
        Ana pano (`/kitchen/orders`) yalnız bugünü gösterir. Abonelik yemekleri
        önceden hazırlandığı için mutfak yarını da görmek ister. Bu uç yalnız
        `is_subscription` siparişleri, terminal olmayanları döner; salt bilgidir
        (durum ilerletme ana panoda). `today`/`tomorrow` ayrı gruplanır.
      operationId: listKitchenSubscriptionOrders
      security:
        - KitchenToken: []
      responses:
        '200':
          description: Bugün ve yarının abonelik siparişleri
          content:
            application/json:
              schema: { $ref: '#/components/schemas/KitchenSubscriptionOrders' }
        '401': { $ref: '#/components/responses/Unauthenticated' }
        '403': { $ref: '#/components/responses/ForbiddenOrRevoked' }

  /kitchen/orders/{id}/status:
    parameters:
      - $ref: '#/components/parameters/AppId'
      - $ref: '#/components/parameters/AppVersion'
      - $ref: '#/components/parameters/AcceptLanguage'
      - name: id
        in: path
        required: true
        schema: { type: integer, format: int64 }
    post:
      tags: [Mutfak]
      summary: Durum ilerlet
      description: |
        Geçiş matrisi `docs/02-veri-modeli.md` §3'tedir ve **sunucuda** uygulanır.
        `yolda` yalnızca `delivery_type=delivery` siparişlerde geçerlidir.
      operationId: setKitchenOrderStatus
      security:
        - KitchenToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [status]
              properties:
                status: { $ref: '#/components/schemas/OrderStatus' }
      responses:
        '200':
          description: Güncel sipariş özeti
          content:
            application/json:
              schema: { $ref: '#/components/schemas/KitchenOrder' }
        '401': { $ref: '#/components/responses/Unauthenticated' }
        '403': { $ref: '#/components/responses/ForbiddenOrRevoked' }
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/InvalidTransition' }

  /kitchen/orders/{id}/receipt:
    parameters:
      - $ref: '#/components/parameters/AppId'
      - $ref: '#/components/parameters/AppVersion'
      - $ref: '#/components/parameters/AcceptLanguage'
      - name: id
        in: path
        required: true
        schema: { type: integer, format: int64 }
    get:
      tags: [Mutfak]
      summary: Fiş içeriği
      description: |
        Yazdırma verisini **sunucu** hazırlar; KDS yalnızca ESC/POS'a biçimlendirip basar.
        Fiş metninin ne yazacağına dair karar istemcide değildir.
      operationId: getReceipt
      security:
        - KitchenToken: []
      parameters:
        - name: type
          in: query
          required: true
          schema: { $ref: '#/components/schemas/ReceiptType' }
      responses:
        '200':
          description: Fiş verisi
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/KitchenReceipt'
                  - $ref: '#/components/schemas/CustomerReceipt'
                  - $ref: '#/components/schemas/CourierReceipt'
                discriminator:
                  propertyName: type
                  mapping:
                    mutfak: '#/components/schemas/KitchenReceipt'
                    musteri: '#/components/schemas/CustomerReceipt'
                    kurye: '#/components/schemas/CourierReceipt'
        '401': { $ref: '#/components/responses/Unauthenticated' }
        '403': { $ref: '#/components/responses/ForbiddenOrRevoked' }
        '404': { $ref: '#/components/responses/NotFound' }

  /kitchen/print-jobs/{order_id}/ack:
    parameters:
      - $ref: '#/components/parameters/AppId'
      - $ref: '#/components/parameters/AppVersion'
      - $ref: '#/components/parameters/AcceptLanguage'
      - name: order_id
        in: path
        required: true
        schema: { type: integer, format: int64 }
    post:
      tags: [Mutfak]
      summary: Fiş basıldı bildirimi
      description: |
        Denetim içindir. **İdempotent:** aynı `(order_id, type, revision)` üçlüsü için
        tekrarlanan çağrı yeni kayıt açmaz, yine `204` döner. KDS bu çağrı başarısız
        olursa sessizce yutar — fişin basılmış olması ack'e bağlı değildir.

        **K-20:** tekillik eskiden `(order_id, type)` çiftiydi ve revizyon sonrası
        yeniden basılan fişin ack'i **sessizce yutuluyordu**. Sonucu `printed_at`
        alanında görünüyordu: yeniden basılan fiş, yerini aldığı ESKİ fişin saatiyle
        damgalanıyordu. Elinde iki kâğıt olan kurye hangisinin yeni olduğunu
        kâğıttaki tek zaman damgasından anlayamıyordu.
      operationId: ackPrintJob
      security:
        - KitchenToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [type, printed_at]
              properties:
                type: { $ref: '#/components/schemas/ReceiptType' }
                printed_at: { type: string, format: date-time }
                revision:
                  type: integer
                  minimum: 0
                  default: 0
                  description: |
                    Fişin hangi revizyon için basıldığı (K-20). Alan
                    **isteğe bağlıdır**: göndermeyen eski KDS sürümleri `0`
                    kovasına düşer, yani düzenlenmemiş sipariş için bugünkü
                    davranış aynen sürer.
      responses:
        '204': { description: Kaydedildi }
        '401': { $ref: '#/components/responses/Unauthenticated' }
        '403': { $ref: '#/components/responses/ForbiddenOrRevoked' }
        '404': { $ref: '#/components/responses/NotFound' }

  /kitchen/production-list:
    parameters: [$ref: '#/components/parameters/AppId', $ref: '#/components/parameters/AppVersion', $ref: '#/components/parameters/AcceptLanguage']
    get:
      tags: [Mutfak]
      summary: Üretim listesi
      description: |
        Aktif siparişlerin (`onaylandi` + `hazirlaniyor`) ürün bazında toplamı.
        Çoktan aza sıralıdır.
      operationId: getProductionList
      security:
        - KitchenToken: []
      responses:
        '200':
          description: Ürün toplamları
          content:
            application/json:
              schema:
                type: object
                required: [data, as_of]
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      required: [menu_id, name, total]
                      properties:
                        menu_id: { type: integer, format: int64 }
                        name: { type: string }
                        total: { type: integer, minimum: 0 }
                  as_of: { type: string, format: date-time }
        '401': { $ref: '#/components/responses/Unauthenticated' }
        '403': { $ref: '#/components/responses/ForbiddenOrRevoked' }

  /kitchen/busy:
    parameters: [$ref: '#/components/parameters/AppId', $ref: '#/components/parameters/AppVersion', $ref: '#/components/parameters/AcceptLanguage']
    post:
      tags: [Mutfak]
      summary: Yoğunluk şalteri
      description: |
        Mutfaktaki tek tuş. Açıkken müşteri arayüzlerinde gecikme uyarısı
        çıkar ve admin panelde görünür.

        **Sipariş almayı DURDURMAZ.** Siparişi gerçekten kesen şalter
        `ordering_enabled`'dır; onun mutfak ucu `POST /kitchen/ordering`
        (K-11) ve orada onay + sebep + süre + kasanın açılış şifresi
        isteniyor. Bu uç yalnızca uyarır.

        Durum vitrine yazılır, cihaza değil: iki kasa olsa ikisi de aynı
        şeyi gösterir ve müşteri tarafı zaten vitrini okur.
      operationId: setKitchenBusy
      security:
        - KitchenToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [busy]
              properties:
                busy: { type: boolean }
      responses:
        '200':
          description: Yeni durum
          content:
            application/json:
              schema:
                type: object
                required: [busy, busy_message, server_time]
                properties:
                  busy: { type: boolean }
                  busy_message: { type: string }
                  server_time: { type: string, format: date-time }
        '401': { $ref: '#/components/responses/Unauthenticated' }
        '403': { $ref: '#/components/responses/ForbiddenOrRevoked' }
        '422':
          description: Doğrulama hatası
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /partner/bbd/orders:
    post:
      tags: [Ortak]
      summary: BBD Store siparişi (webhook)
      description: |
        **BBD Store bir KİTAP e-ticaret sitesidir**, catering değil; ayrı
        bir sunucuda ayrı bir projedir.

        **KÖPRÜNÜN TEK VARLIK SEBEBİ TERMAL YAZICIYI PAYLAŞMAK (K-16).**
        BBD'de bir sipariş onaylandığında mutfaktaki kasa BBD'ye özel bir
        ses çalıyor ve aynı yazıcıdan bir **paketleme fişi** basıyor.
        Başka hiçbir şey yok.

        Bu siparişler BLD'nin `orders` tablosuna **girmez**, KDS
        panosunda görünmez, üretim listesine / vardiya istatistiğine /
        `orders_today` sayacına / cari hesaba **karışmaz**. Tek bağ ses
        ve kâğıttır; geri bildirim, durum senkronizasyonu yoktur.

        **Kimlik doğrulama HMAC imzasıyla, token'la değil.** Arada
        paylaşılan tek şey bir sır; sabit bir Bearer token her istekte
        ağdan geçen ve loglara düşen bir parola olurdu.

        ```
        imza = HMAC_SHA256(BBD_WEBHOOK_SECRET, ham istek gövdesi)
        X-BBD-Signature: sha256=<hex>
        ```

        İmza **ham gövde** üzerinde hesaplanır; JSON yeniden
        serileştirilmez (boşluk ve anahtar sırası imzayı değiştirir).

        **İDEMPOTENT:** aynı `external_id` ikinci kez gelirse yeni satır
        açılmaz, fiş iki kez basılmaz ve yanıt yine `200` olur
        (`accepted: false`). `409` dönmek, karşı tarafı sonsuz yeniden
        denemeye sokardı.

        `X-App-Id` / `X-App-Version` başlıkları **istenmez**: BBD bizim
        istemcimiz değil, ortak bir sistem.
      operationId: receiveBbdOrder
      security: []
      parameters:
        - name: X-BBD-Signature
          in: header
          required: true
          schema: { type: string, pattern: '^sha256=[0-9a-f]{64}$' }
        - name: Idempotency-Key
          in: header
          required: false
          schema: { type: string, maxLength: 128 }
          description: '`external_id` ile aynı olmalı; tekilleştirme gövdeye bakar.'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/BbdOrderRequest' }
      responses:
        '200':
          description: Alındı (yeni ya da tekrar)
          content:
            application/json:
              schema:
                type: object
                required: [external_id, accepted, server_time]
                properties:
                  external_id: { type: string }
                  accepted:
                    type: boolean
                    description: '`false` = bu `external_id` zaten kayıtlıydı.'
                  server_time: { type: string, format: date-time }
        '401':
          description: İmza doğrulanamadı ya da sır yapılandırılmamış
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '422':
          description: Şema hatası — tekrar denemek işe yaramaz
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '429': { $ref: '#/components/responses/RateLimited' }

  /kitchen/bbd-orders:
    parameters: [$ref: '#/components/parameters/AppId', $ref: '#/components/parameters/AppVersion', $ref: '#/components/parameters/AcceptLanguage']
    get:
      tags: [Mutfak]
      summary: Basılmayı bekleyen BBD fişleri
      description: |
        `since` YOK, `printed_at IS NULL` VAR: BBD fişleri bir liste
        değil, bir **kuyruk**. Zaman damgasıyla artımlı çekmek, ağ
        kesintisinde basılmamış bir fişi sonsuza dek atlayabilirdi.

        Kasa **yalnız basım başarılıysa** ack gönderiyor; başarısızsa fiş
        kuyrukta kalıyor ve bir sonraki turda geri geliyor.

        En fazla 20 satır döner: kasa uzun süre kapalı kalmışsa 200 fişi
        tek seferde basmaya kalkmamalı.
      operationId: listBbdOrders
      security: [{ KitchenToken: [] }]
      responses:
        '200':
          description: Bekleyen fişler
          content:
            application/json:
              schema:
                type: object
                required: [data, server_time]
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/BbdQueuedReceipt' }
                  server_time: { type: string, format: date-time }
        '401': { $ref: '#/components/responses/Unauthenticated' }
        '403': { $ref: '#/components/responses/ForbiddenOrRevoked' }

  /kitchen/bbd-orders/{receipt}/ack:
    parameters:
      - $ref: '#/components/parameters/AppId'
      - $ref: '#/components/parameters/AppVersion'
      - $ref: '#/components/parameters/AcceptLanguage'
      - name: receipt
        in: path
        required: true
        schema: { type: integer, format: int64 }
    post:
      tags: [Mutfak]
      summary: BBD fişi basıldı
      description: |
        İdempotent: ilk `printed_at` korunur. Ağ hatasında kasa tekrar
        gönderirse "ne zaman basıldı" cevabı değişmemeli.
      operationId: ackBbdReceipt
      security: [{ KitchenToken: [] }]
      responses:
        '204': { description: Kaydedildi }
        '401': { $ref: '#/components/responses/Unauthenticated' }
        '403': { $ref: '#/components/responses/ForbiddenOrRevoked' }
        '404': { $ref: '#/components/responses/NotFound' }

  /kitchen/subscription-plan:
    parameters: [$ref: '#/components/parameters/AppId', $ref: '#/components/parameters/AppVersion', $ref: '#/components/parameters/AcceptLanguage']
    get:
      tags: [Mutfak]
      summary: Abonelik üretim planı
      description: |
        Mutfağın sabah baktığı ekran (K-15). `subscription-orders`
        ucundan farkı: **ürün bazında toplamlar**, teslimat saatleri ve
        **uyarılar** taşır.

        Uyarılar en önemli parçadır ve en kolay atlanandır: üretim
        koşmamışsa (`not_generated`) mutfak "bugün abonelik yok" sanıp
        hazırlık yapmıyor. Diğerleri kapalı gün, duraklatılmış abonelik
        ve tek-gün istisnaları.
      operationId: getSubscriptionPlan
      security: [{ KitchenToken: [] }]
      parameters:
        - name: days
          in: query
          required: false
          schema:
            type: string
            enum: [today, tomorrow, week]
            default: today
          description: |
            `today` = bugün + yarın. `week` yalnız istendiğinde
            hesaplanır — mutfağın bakmadığı altı gün için boşuna sorgu
            olmasın.
      responses:
        '200':
          description: Plan
          content:
            application/json:
              schema:
                type: object
                required: [days, server_time]
                properties:
                  days:
                    type: array
                    items: { $ref: '#/components/schemas/SubscriptionPlanDay' }
                  server_time: { type: string, format: date-time }
        '401': { $ref: '#/components/responses/Unauthenticated' }
        '403': { $ref: '#/components/responses/ForbiddenOrRevoked' }

  /kitchen/orders/{id}/editable:
    parameters:
      - $ref: '#/components/parameters/AppId'
      - $ref: '#/components/parameters/AppVersion'
      - $ref: '#/components/parameters/AcceptLanguage'
      - name: id
        in: path
        required: true
        schema: { type: integer, format: int64 }
    get:
      tags: [Mutfak]
      summary: Düzenlenebilir sipariş görüntüsü
      description: |
        **FİYAT YOKTUR** (ADR-08). Personel adet değiştirirken fiyata
        bakmıyor; iade/fark tutarı kaydetme onayında tek bir sayı olarak
        gösteriliyor ve o cari bakiye değil.
      operationId: getEditableOrder
      security: [{ KitchenToken: [] }]
      responses:
        '200':
          description: Düzenlenebilir sipariş
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data: { $ref: '#/components/schemas/EditableOrder' }
        '401': { $ref: '#/components/responses/Unauthenticated' }
        '403': { $ref: '#/components/responses/ForbiddenOrRevoked' }
        '404': { $ref: '#/components/responses/NotFound' }

  /kitchen/orders/{id}/revisions:
    parameters:
      - $ref: '#/components/parameters/AppId'
      - $ref: '#/components/parameters/AppVersion'
      - $ref: '#/components/parameters/AcceptLanguage'
      - name: id
        in: path
        required: true
        schema: { type: integer, format: int64 }
    get:
      tags: [Mutfak]
      summary: Revizyon geçmişi
      operationId: listOrderRevisions
      security: [{ KitchenToken: [] }]
      responses:
        '200':
          description: Revizyonlar
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/OrderRevision' }
        '401': { $ref: '#/components/responses/Unauthenticated' }
        '403': { $ref: '#/components/responses/ForbiddenOrRevoked' }
        '404': { $ref: '#/components/responses/NotFound' }
    post:
      tags: [Mutfak]
      summary: Siparişi düzenle (yeni revizyon)
      description: |
        **AKIŞ (K-12).** Mutfak personeli müşteriyle **telefonda konuşur**,
        anlaşır, sonra değişikliği buraya yazar. Onay beklenmez; onay zaten
        alınmıştır. Bu uç bir talep değil, bir **kayıt** ucudur.

        Sunucu tek işlemde: satırları yeniden yazar, toplamları yeniden
        hesaplar, `orders.updated_at`'i **dokunur** (KDS'in değişikliği
        görmesi buna bağlı), revizyon belgesini yazar, cari hesabı düzeltir
        ve gerekiyorsa iade başlatır.

        `items` **tam listedir**, fark değil: eksik gönderilen kalem
        siparişten çıkarılır. Boş liste `422` — tümünü kaldırmak "iptal"
        demektir ve o ayrı bir durum geçişidir.

        Teslim edilmiş ya da iptal edilmiş sipariş düzenlenemez (`422`).

        Abonelikten doğan sipariş düzenlenebilir ama **yalnız o günü**
        etkiler; abonelik tanımı değişmez.
      operationId: createOrderRevision
      security: [{ KitchenToken: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [reason, items]
              properties:
                reason: { type: string, maxLength: 160 }
                note: { type: [string, 'null'], maxLength: 1000 }
                items:
                  type: array
                  minItems: 1
                  items:
                    type: object
                    required: [menu_id, quantity]
                    properties:
                      menu_id: { type: integer, format: int64 }
                      quantity: { type: integer, minimum: 1, maximum: 999 }
                      option_value_ids:
                        type: array
                        items: { type: integer, format: int64, minimum: 1 }
                        description: |
                          Kalemde seçili seçenek değerlerinin kimlikleri.
                          `options` aynı seçeneklerin insana gösterilen
                          adlarıdır; ikisi eşleniktir. İstemci düzenlemede
                          bunu `GET .../editable` yanıtındaki
                          `items[].option_value_ids` alanından **AYNEN geri
                          göndermelidir** — göndermezse sunucu satırı
                          seçeneksiz yeniden fiyatlar ve seçenek sessizce
                          kaybolur. Kimlik kaydı bulunmayan eski satırlarda
                          `editable` **boş dizi** döner.

                          Değerler `menu_option_value_id`'dir
                          (`LineResolver::resolve`); ürün seçicideki
                          `options[].values[].id` alanı da aynı kimliği
                          taşır.

                          `required` listesinde **yoktur**: alan sonradan
                          eklendi ve seçeneksiz ürünlerde hiç gönderilmez.
                      note: { type: [string, 'null'], maxLength: 255 }
                requested_at: { type: [string, 'null'], format: date-time }
                customer_note: { type: [string, 'null'], maxLength: 1000 }
      responses:
        '200':
          description: Revizyon uygulandı
          content:
            application/json:
              schema:
                type: object
                required: [order, revision]
                properties:
                  order: { $ref: '#/components/schemas/KitchenOrder' }
                  revision: { $ref: '#/components/schemas/OrderRevisionResult' }
        '401': { $ref: '#/components/responses/Unauthenticated' }
        '403': { $ref: '#/components/responses/ForbiddenOrRevoked' }
        '404': { $ref: '#/components/responses/NotFound' }
        '422':
          description: Düzenlenemez sipariş ya da doğrulama hatası
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /kitchen/menu:
    parameters: [$ref: '#/components/parameters/AppId', $ref: '#/components/parameters/AppVersion', $ref: '#/components/parameters/AcceptLanguage']
    get:
      tags: [Mutfak]
      summary: Ürün ekleme için menü (fiyatsız)
      description: |
        Düzenleme ekranının ürün seçicisi. Yalnız **eklenebilir** ürünleri
        döndürür; `menu-availability` ucundan farkı bu — orada amaç
        kapatmak/açmak olduğu için kapalı ürünler de listelenir.
      operationId: getKitchenMenu
      security: [{ KitchenToken: [] }]
      responses:
        '200':
          description: Ürünler
          content:
            application/json:
              schema:
                type: object
                required: [data, server_time]
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/KitchenMenuItem' }
                  server_time: { type: string, format: date-time }
        '401': { $ref: '#/components/responses/Unauthenticated' }
        '403': { $ref: '#/components/responses/ForbiddenOrRevoked' }

  /kitchen/ordering:
    parameters: [$ref: '#/components/parameters/AppId', $ref: '#/components/parameters/AppVersion', $ref: '#/components/parameters/AcceptLanguage']
    get:
      tags: [Mutfak]
      summary: Satış şalterinin durumu
      description: |
        Süresi dolmuş bir durdurma bu uçta **kendiliğinden kalkar** —
        yanıt her zaman gerçeği söyler. Tembel değerlendirme bilinçli:
        zamanlayıcıya bağlansaydı, kuyruk durduğunda dükkân kapalı
        kalırdı.
      operationId: getKitchenOrdering
      security: [{ KitchenToken: [] }]
      responses:
        '200':
          description: Şalter durumu
          content:
            application/json:
              schema: { $ref: '#/components/schemas/KitchenOrdering' }
        '401': { $ref: '#/components/responses/Unauthenticated' }
        '403': { $ref: '#/components/responses/ForbiddenOrRevoked' }
    post:
      tags: [Mutfak]
      summary: Sipariş almayı durdur / aç
      description: |
        **KURAL DEĞİŞİKLİĞİ (K-11, 11.08.2026).** `ordering_enabled`
        eskiden yalnız yöneticinindi (`docs/03` §3: "mutfak personeli tek
        tuşla cirosu kapatabilmemeli"). Sahada kural tersine işledi:
        yazıcı bozulduğunda ya da malzeme bittiğinde mutfak sipariş
        almaya devam ediyor, gelenleri tek tek telefonla iptal ediyordu.
        Müşteri için "siparişim alındı, sonra arandı ve iptal edildi",
        kapalı bir dükkândan çok daha kötü.

        Şalter artık mutfaktan da çevriliyor ama **tek tuşla değil**: kasa
        onay, sebep, süre ve açılış şifresi istiyor (`docs/05` §11).

        `minutes` anlamları:
        * yok / `null` — süresiz (elle açılana kadar),
        * `0` — bugünün sonuna kadar (yarın sabah kendiliğinden açılır),
        * `>0` — o kadar dakika.

        `reason` müşteriye gösterilir (`Location.ordering_pause_reason`).
      operationId: setKitchenOrdering
      security: [{ KitchenToken: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [enabled]
              properties:
                enabled: { type: boolean }
                reason: { type: [string, 'null'], maxLength: 160 }
                minutes: { type: [integer, 'null'], minimum: 0, maximum: 1440 }
      responses:
        '200':
          description: Yeni durum
          content:
            application/json:
              schema: { $ref: '#/components/schemas/KitchenOrdering' }
        '401': { $ref: '#/components/responses/Unauthenticated' }
        '403': { $ref: '#/components/responses/ForbiddenOrRevoked' }
        '422':
          description: Doğrulama hatası
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /kitchen/menu-availability:
    parameters: [$ref: '#/components/parameters/AppId', $ref: '#/components/parameters/AppVersion', $ref: '#/components/parameters/AcceptLanguage']
    get:
      tags: [Mutfak]
      summary: Ürünler ve "bugün tükendi" işaretleri
      description: |
        **FİYAT YOKTUR** — ADR-08 korunuyor. Mutfak neyin bittiğine karar
        verirken fiyata bakmıyor; para bilgisi bu ekranda yalnızca
        sızıntı riski.

        `listed` yöneticinin KALICI kararı (`menus.menu_status`),
        `sold_out` mutfağın GÜNLÜK kararı. İkisi ayrı tutuluyor: aynı
        alanı paylaşsalardı akşam tükenen ürünü sabah yöneticinin elle
        geri açması gerekirdi.
      operationId: getKitchenMenuAvailability
      security: [{ KitchenToken: [] }]
      responses:
        '200':
          description: Ürün listesi
          content:
            application/json:
              schema:
                type: object
                required: [data, server_time]
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/KitchenMenuItem' }
                  server_time: { type: string, format: date-time }
        '401': { $ref: '#/components/responses/Unauthenticated' }
        '403': { $ref: '#/components/responses/ForbiddenOrRevoked' }
    post:
      tags: [Mutfak]
      summary: Ürünü bugünlük tükendi işaretle / işareti kaldır
      description: |
        İşaret **gün dönümünde kendiliğinden geçersizleşir**; temizleyecek
        bir cron yoktur, dolayısıyla cron durduğunda ürünlerin kapalı
        kalması gibi bir arıza da yoktur.

        **Abonelik siparişleri bu işaretten etkilenmez**: abonelik bir
        sözleşmedir, günlük stok kararı onu iptal edemez. Bir abonelik
        gününü atlamak için `veykemtu_subscription_exceptions` kaydı
        girilir — ayrı ve bilinçli bir karardır.
      operationId: setKitchenMenuAvailability
      security: [{ KitchenToken: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [menu_id, sold_out]
              properties:
                menu_id: { type: integer, format: int64 }
                sold_out: { type: boolean }
                reason: { type: [string, 'null'], maxLength: 160 }
      responses:
        '200':
          description: Güncel ürün listesi
          content:
            application/json:
              schema:
                type: object
                required: [data, server_time]
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/KitchenMenuItem' }
                  server_time: { type: string, format: date-time }
        '401': { $ref: '#/components/responses/Unauthenticated' }
        '403': { $ref: '#/components/responses/ForbiddenOrRevoked' }
        '404': { $ref: '#/components/responses/NotFound' }
        '422':
          description: Doğrulama hatası
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /kitchen/health:
    parameters: [$ref: '#/components/parameters/AppId', $ref: '#/components/parameters/AppVersion', $ref: '#/components/parameters/AcceptLanguage']
    post:
      tags: [Mutfak]
      summary: Kasa sağlık bildirimi
      description: |
        Kasa kendi durumunu bildirir, sunucu da kasanın bilemeyeceğini
        döndürür. **Çift yönlü olması bilinçlidir:** ekrandaki sağlık
        paneli ikisini birden gösteriyor ve iki ayrı çağrı yapmasının
        anlamı yok.

        Bugünkü sipariş sayısını cihaz hesaplayamaz: mutfak listesi
        yalnızca **aktif** siparişleri taşır, teslim edilenler düşer.
        Vardiya boyunca kaç sipariş geçtiğini yalnızca sunucu bilir.

        `heartbeat` ile karıştırılmamalı: o yalnızca "cihaz ayakta"
        der. "Ayakta" ile "çalışıyor" aynı şey değildir — yazıcının
        kâğıdı bitmiş, kuyrukta on basılmamış fiş birikmiş ve uygulama
        hâlâ düzenli yoklama yapıyor olabilir.

        Bildirilen değerler **doğrulanmaz**, kaydedilir. Yazıcının
        gerçekten çalıştığını sunucudan anlamanın yolu yok; cihazın
        beyanına güveniyoruz ve zaman damgasıyla saklıyoruz ki bayat veri
        taze sanılmasın.
      operationId: reportKitchenHealth
      security:
        - KitchenToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [printer_ok, print_queue_pending, print_queue_failed]
              properties:
                printer_ok:
                  type: boolean
                  description: Yazıcı cihazına yazılabiliyor mu?
                print_queue_pending:
                  type: integer
                  minimum: 0
                  description: Kuyrukta bekleyen fiş sayısı.
                print_queue_failed:
                  type: integer
                  minimum: 0
                  description: Basılamamış ve vazgeçilmiş fiş sayısı.
                app_version: { type: string, maxLength: 32 }
                command_results:
                  type: array
                  maxItems: 50
                  description: Bir önceki turda teslim edilen komutların sonuçları.
                  items:
                    type: object
                    required: [id, ok]
                    properties:
                      id: { type: integer, format: int64 }
                      ok: { type: boolean }
                      message: { type: [string, 'null'], maxLength: 255 }
      responses:
        '200':
          description: Vitrin özeti
          content:
            application/json:
              schema:
                type: object
                required: [server_time, orders_today, orders_active]
                properties:
                  server_time: { type: string, format: date-time }
                  orders_today:
                    type: integer
                    description: |
                      Bugün oluşturulan sipariş sayısı, **iptaller hariç**.
                      Gün sınırı Europe/Istanbul'a göredir: UTC gece yarısı
                      kullanılsaydı 00:00–03:00 arası siparişler "dün"
                      sayılırdı.
                  orders_active:
                    type: integer
                    description: Mutfak ekranında kart olarak duran sipariş sayısı.
                  settings:
                    $ref: '#/components/schemas/KitchenSettings'
                  commands:
                    type: array
                    description: |
                      Kasanın çalıştıracağı tek seferlik komutlar. Yanıtta
                      dönen komutlar **teslim edilmiş** sayılır ve tekrar
                      gönderilmez; kasa sonuçlarını bir sonraki bildirimde
                      `command_results` ile bildirir.

                      Sonucu gelmeyen komut 10 dakika sonra yeniden
                      gönderilir: kasa komutu alıp çökmüş olabilir ve
                      komutun hiç çalışmaması sessiz bir başarısızlıktır.
                    items: { $ref: '#/components/schemas/KitchenCommand' }
        '401': { $ref: '#/components/responses/Unauthenticated' }
        '403': { $ref: '#/components/responses/ForbiddenOrRevoked' }
        '422':
          description: Doğrulama hatası
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /kitchen/heartbeat:
    parameters: [$ref: '#/components/parameters/AppId', $ref: '#/components/parameters/AppVersion', $ref: '#/components/parameters/AcceptLanguage']
    get:
      tags: [Mutfak]
      summary: Canlılık bildirimi
      description: |
        Cihazın `last_seen_at` alanını günceller. 60 saniyede bir gönderilir.
        `last_seen_at` 5 dakikadan eskiyse admin panelde uyarı çıkar.
      operationId: kitchenHeartbeat
      security:
        - KitchenToken: []
      responses:
        '200':
          description: Sunucu bilgisi
          content:
            application/json:
              schema:
                type: object
                required: [server_time, min_supported_version]
                properties:
                  server_time: { type: string, format: date-time }
                  min_supported_version: { $ref: '#/components/schemas/SemVer' }
        '401': { $ref: '#/components/responses/Unauthenticated' }
        '403': { $ref: '#/components/responses/ForbiddenOrRevoked' }

  # ─────────────────────────────── Sürüm ────────────────────────────────

  /site-content:
    parameters: [$ref: '#/components/parameters/AppId', $ref: '#/components/parameters/AppVersion', $ref: '#/components/parameters/AcceptLanguage']
    get:
      tags: [Site]
      summary: Kurumsal site içeriği
      description: |
        Kurumsal sitenin panelden yönetilen içeriğinin tamamı **tek pakette**.

        Ayrı uçlar (marka, iletişim, hizmetler…) yapılmadı: sitenin her sayfası
        aynı çekirdek veriye ihtiyaç duyuyor ve ayrı uçlarla ana sayfa yedi
        istek atardı; biri geciktiğinde sayfa yarım kalırdı.

        **Doldurulmamış bölüm `null` döner, hata değildir.** Yeni kurulan bir
        sistemde panel boşken sitenin hiç açılmaması kabul edilemezdi; site
        `null` gelen bölümü çizmez, kendi yedek değerine düşer.
      operationId: getSiteContent
      security: []
      responses:
        '200':
          description: İçerik paketi
          content:
            application/json:
              schema: { $ref: '#/components/schemas/SiteContent' }

  # ─────────────────────────────── Teklif ───────────────────────────────

  /quote-requests:
    parameters: [$ref: '#/components/parameters/AppId', $ref: '#/components/parameters/AppVersion', $ref: '#/components/parameters/AcceptLanguage']
    post:
      tags: [Teklif]
      summary: Teklif talebi gönder
      description: |
        Kurumsal sitedeki "Teklif Al" formunun gönderim ucu. Kimlik
        gerektirmez: teklif isteyebilmek için önce hesap açtırmak, formun
        terk edilmesinin en yaygın sebebidir. Koruma oran sınırındadır
        (10 istek / saat / IP).

        **DOĞRULAMA BİLİNÇLİ OLARAK GEVŞEKTİR.** Bu ucun başarısızlığı
        "hatalı istek" değil, kaybedilmiş iştir; ziyaretçi formu bir kez
        doldurur ve 422 gördüğünde çoğu zaman tekrar denemez. Bu yüzden:

        - **Bilinmeyen alanlar sessizce yok sayılır.** Şemada olmayan bir
          alan (`utm_source` gibi) isteği reddettirmez. Site sözleşmeden bir
          sürüm önde gidebilmelidir.
        - **`service_type`, `frequency` ve `menu_preference` enum DEĞİLDİR.**
          Değerler `website/content/services.ts` slug'larından gelir ve yeni
          bir hizmet önce orada doğar; enum kısıtı o aradaki her talebi çöpe
          atardı. Aşağıdaki `examples` listeleri bilgi amaçlıdır, kısıt değil.
        - **Çözümlenemeyen tarih ve rakam olmayan kişi sayısı boş bırakılır**,
          talep yine kaydedilir.
        - **Sütun sınırını aşan metin kesilir**, reddedilmez.

        Reddedilen yalnızca iki durum vardır ve ikisi de bilinçli kayıptır:
        KVKK onayının olmaması ve kişiye ulaşmanın hiçbir yolunun olmaması.

        **Tekilleştirme yapılmaz.** Aynı kişinin ikinci gönderimi ikinci bir
        kayıttır: aynı firma iki farklı etkinlik için teklif isteyebilir.
      operationId: createQuoteRequest
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/QuoteRequestInput' }
      responses:
        '201':
          description: |
            Talep kaydedildi.

            **Yanıt kaydın kendisini ve `id`'sini DÖNMEZ.** Uç herkese açık;
            artan bir kimlik döndürmek, formu iki kez dolduran herkese
            firmanın aldığı talep sayısını sızdırırdı.
          content:
            application/json:
              schema:
                type: object
                required: [status, received_at]
                properties:
                  status: { $ref: '#/components/schemas/QuoteStatus' }
                  received_at: { type: string, format: date-time }
        '422':
          description: |
            KVKK onayı yok (`kvkk_accepted` `true` değil), ad boş, ya da
            telefon ve e-postanın ikisi birden boş.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '429': { $ref: '#/components/responses/RateLimited' }

  /app-version:
    parameters: [$ref: '#/components/parameters/AppId', $ref: '#/components/parameters/AppVersion', $ref: '#/components/parameters/AcceptLanguage']
    get:
      tags: [Sürüm]
      summary: Uygulama sürüm bilgisi
      description: İstemci sürümü `min_supported` altındaysa zorunlu güncelleme ekranı gösterir.
      operationId: getAppVersion
      security: []
      parameters:
        - name: app_id
          in: query
          required: true
          schema: { type: string, enum: [musteriapp, mutfakapp] }
      responses:
        '200':
          description: Sürüm bilgisi
          content:
            application/json:
              schema:
                type: object
                required: [app_id, latest, min_supported]
                properties:
                  app_id: { type: string, enum: [musteriapp, mutfakapp] }
                  latest: { $ref: '#/components/schemas/SemVer' }
                  min_supported: { $ref: '#/components/schemas/SemVer' }
                  download_url:
                    type: [string, 'null']
                    format: uri
                    description: Yalnızca `mutfakapp` için dolu (`.deb` adresi).
                  notes: { type: [string, 'null'] }
        '422':
          description: |
            `app_id` eksik veya enum dışı. Geçersiz enum bir **doğrulama**
            hatasıdır, "kayıt yok" değil — mock ile sunucu bu noktada
            ayrışmıştı, sözleşme 422'de netleştirildi.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  # ══════════════════ KONTROL MERKEZİ (K-21) ══════════════════
  #
  # Tam URL'ler `/api/control/kds/...`; buradaki yollar `servers[].url`
  # içindeki `/api` önekine GÖREDİR (dosyanın geri kalanıyla aynı kural).
  # İMZA HESABI YOLU `/api` ÖNEKİYLE ALIR — kanonik yükün ikinci satırı
  # `/api/control/kds/devices`'tır, `/control/kds/devices` değil.
  #
  # Hiçbirinde `X-App-Id` / `X-App-Version` / `Accept-Language` yoktur.

  /control/kds/overview:
    parameters:
      - $ref: '#/components/parameters/ControlTimestamp'
      - $ref: '#/components/parameters/ControlNonce'
    get:
      tags: [Kontrol Merkezi]
      summary: Panel açılış özeti
      description: |
        Tek istekte cihaz, sipariş ve fiş sayıları. Üçünü ayrı ayrı çekip
        saydırmak panel her açıldığında üç ağır sorgu demekti; sayılar da
        istemcide hesaplanırdı ve "kaç sipariş aktif" sorusunun cevabı
        istemci sürümüne göre değişirdi.

        **BURADAKİ SAYILAR TANIMDIR, TAHMİN DEĞİL.** Her birinin tanımı
        `ControlOverview` şemasında alan alan yazılı.
      operationId: controlKdsOverview
      security: [{ ControlSignature: [] }]
      responses:
        '200':
          description: Özet
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ControlOverview' }
        '401': { $ref: '#/components/responses/ControlUnauthenticated' }
        '429': { $ref: '#/components/responses/RateLimited' }

  /control/kds/devices:
    parameters:
      - $ref: '#/components/parameters/ControlTimestamp'
      - $ref: '#/components/parameters/ControlNonce'
    get:
      tags: [Kontrol Merkezi]
      summary: Kasa listesi
      description: |
        Bütün kasalar — **iptal edilmişler dâhil**. İptal satırı silinmiyor
        (`veykemtu_kitchen_devices` satırı yerinde kalır); `revoked_at`
        dolu olan kayıt listede durur ve `online` her zaman `false` döner.
      operationId: controlKdsListDevices
      security: [{ ControlSignature: [] }]
      responses:
        '200':
          description: Kasalar
          content:
            application/json:
              schema:
                type: object
                required: [data, server_time]
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/ControlDevice' }
                  server_time: { type: string, format: date-time }
        '401': { $ref: '#/components/responses/ControlUnauthenticated' }
        '429': { $ref: '#/components/responses/RateLimited' }
    post:
      tags: [Kontrol Merkezi]
      summary: Kasa aç (+ ilk eşleme kodu)
      description: |
        Kayıt açılır ve **hemen ardından** ilk eşleme kodu üretilir; admin
        ekranındaki `formAfterCreate` ile aynı gerekçe: "cihazı ekledim ama
        eşleyemiyorum" diye ikinci bir adım aranmasın.

        Yanıttaki `device.pairing.code` bu uçta **açıkça döner** — kodu
        üreten uçların yanıtı, kodun okunabildiği iki yerden biri.
      operationId: controlKdsCreateDevice
      security: [{ ControlSignature: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/ControlIntent'
                - type: object
                  required: [name]
                  properties:
                    name: { type: string, maxLength: 64 }
      responses:
        '200':
          description: Kasa açıldı (ya da kuru prova sonucu)
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ControlWriteEnvelope'
                  - type: object
                    properties:
                      device: { $ref: '#/components/schemas/ControlDevice' }
                      would:
                        type: object
                        properties:
                          action: { type: string, const: device.create }
                          name: { type: string }
                          pairing_ttl_minutes: { type: integer, examples: [10] }
        '401': { $ref: '#/components/responses/ControlUnauthenticated' }
        '422': { $ref: '#/components/responses/ValidationFailed' }
        '429': { $ref: '#/components/responses/RateLimited' }

  /control/kds/devices/{id}:
    parameters:
      - $ref: '#/components/parameters/ControlTimestamp'
      - $ref: '#/components/parameters/ControlNonce'
      - name: id
        in: path
        required: true
        schema: { type: integer, format: int64 }
    patch:
      tags: [Kontrol Merkezi]
      summary: Kasayı yeniden adlandır
      description: |
        **Yalnız ad.** Ayarlar ayrı uçtan yazılır ve kilitler de o ucun
        içindedir (`PATCH /control/kds/devices/{id}/settings`).
      operationId: controlKdsRenameDevice
      security: [{ ControlSignature: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/ControlIntent'
                - type: object
                  required: [name]
                  properties:
                    name: { type: string, maxLength: 64 }
      responses:
        '200':
          description: Ad değişti (ya da kuru prova sonucu)
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ControlWriteEnvelope'
                  - type: object
                    properties:
                      device: { $ref: '#/components/schemas/ControlDevice' }
                      would:
                        type: object
                        properties:
                          action: { type: string, const: device.rename }
                          from: { type: string }
                          to: { type: string }
        '401': { $ref: '#/components/responses/ControlUnauthenticated' }
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/ValidationFailed' }
        '429': { $ref: '#/components/responses/RateLimited' }

  /control/kds/devices/{id}/pairing-code:
    parameters:
      - $ref: '#/components/parameters/ControlTimestamp'
      - $ref: '#/components/parameters/ControlNonce'
      - name: id
        in: path
        required: true
        schema: { type: integer, format: int64 }
    post:
      tags: [Kontrol Merkezi]
      summary: Yeni eşleme kodu üret
      description: |
        Kod biçimi `XXXX-XXXX` (`^[A-Z0-9]{4}-[A-Z0-9]{4}$`), **10 dakika**
        ömürlü ve **tek kullanımlık**. Karıştırılması kolay karakterler
        (`0`/`O`, `1`/`I`) alfabede yoktur — kod mutfakta elle, çoğu zaman
        kötü ışıkta giriliyor.

        **İPTAL EDİLMİŞ KASAYA KOD ÜRETİLMEZ (`422`).** Üretilse bile
        `pairingCodeIsUsable()` iptali eleyip kodu geçersiz sayardı, yani
        sessizce çalışmayan bir kod verilmiş olurdu.
      operationId: controlKdsRefreshPairingCode
      security: [{ ControlSignature: [] }]
      requestBody:
        required: true
        content:
[...]
