openapi: 3.1.0

info:
  title: Benim Lezzet Dünyam — Sipariş API
  version: 1.0.0
  summary: Catering sipariş platformunun normatif API sözleşmesi.
  description: |
    Bu dosya **normatif sözleşmedir**. `docs/03-api-sozlesmesi.md` aynı sözleşmenin
    insan için yazılmış açıklamasıdır; ikisi çelişirse **bu dosya kazanır**.

    `packages/api_client` ve `website/lib/api` bu dosyadan üretilir.
    `platform/` aynı sözleşmeyi `openapi.json` olarak üretir; CI ikisi arasındaki
    anlamsal farkı kontrol eder ve fark varsa build kırmızıdır.

    ## Değişmezler
    - **Para** kuruş cinsinden tam sayıdır. `4550` = 45,50 TL. Ondalık float asla kullanılmaz.
    - **Tarih/saat** ISO 8601 UTC'dir. İstemci Europe/Istanbul'a çevirir.
    - **Uyumluluk:** alan eklenebilir; silinemez, adı/tipi değişemez. İstemciler bilmedikleri
      alanları yok sayar. Kırıcı değişiklik `/api/v2/` ile açılır.
    - **Kapsam dışı:** öğrenci ve kurum içi sipariş kanalları yoktur ve olmayacaktır
      (`docs/00-genel-bakis.md` §4). Sipariş çeşitliliği yalnızca `delivery_type` ile ifade edilir.

    ## Oran sınırları
    | Uç grubu | Sınır |
    |---|---|
    | `/auth/*` | 10 istek / dakika / IP |
    | `POST /orders` | 20 istek / saat / hesap |
    | `/kitchen/*` | 1200 istek / saat / cihaz (5 sn polling = 720/saat, üstüne heartbeat ve durum trafiği) |
    | Diğer | 120 istek / dakika / IP |

    Sınır aşılırsa `429 RATE_LIMITED`.
  license:
    name: Tescilli — dahili kullanım
    identifier: LicenseRef-Proprietary

servers:
  - url: https://api.benimlezzetdunyam.com.tr/api
    description: Prod
  - url: https://staging-api.benimlezzetdunyam.com.tr/api
    description: Staging
  - url: http://localhost:4010/api
    description: Mock sunucu (infra/mock)

tags:
  - name: Sağlık
    description: Harici uptime izlemesi için. Kimlik gerektirmez.
  - name: Kimlik
    description: Müşteri kaydı, giriş, oturum. Token `customer` kapsamlıdır.
  - name: Katalog
    description: Vitrin ve menü. Kimlik gerektirmez; web sitesi bunları SSR ile çeker.
  - name: Sipariş
    description: Müşterinin kendi siparişleri. Başkasının siparişi `404` döner.
  - name: Mutfak
    description: Tümü `kitchen` kapsamı gerektirir. Bu uçlar fiyat, müşteri iletişim bilgisi
      ve rapor **döndürmez**. Tek istisna, müşteri fişi ucundaki teslimat adresidir.
  - name: Site
    description: |
      Kurumsal web sitesinin içeriği. Kimlik gerektirmez — içeriğin tamamı
      zaten sitede herkese açık yayınlanıyor; token istemek statik üretimi
      zorlaştırıp hiçbir şeyi korumazdı.
  - name: Teklif
    description: |
      Kurumsal sitedeki "Teklif Al" formu. Kimlik gerektirmez — formu dolduran
      kişi henüz müşteri değil. Talepler panelde **İçerikler → Teklif
      Talepleri** ekranına düşer.
  - name: Sürüm
    description: İstemci sürüm kontrolü ve zorunlu güncelleme eşiği.
  - name: Cari hesap
    description: Kurumsal müşteri cari bakiye ve ekstre (B2B).
  - name: Abonelik
    description: Kurumsal öğle yemeği aboneliği — sipariş üreten kural (B2B).

security:
  - CustomerToken: []

paths:

  /health:
    get:
      tags: [Sağlık]
      summary: Uptime kontrolü
      operationId: health
      security: []
      responses:
        '200':
          description: Ayakta
          content:
            application/json:
              schema:
                type: object
                required: [status, server_time]
                properties:
                  status: { type: string, const: ok }
                  server_time: { type: string, format: date-time }
        '429':
          $ref: '#/components/responses/RateLimited'

  # ─────────────────────────────── Kimlik ───────────────────────────────

  /auth/register:
    parameters: [$ref: '#/components/parameters/AppId', $ref: '#/components/parameters/AppVersion', $ref: '#/components/parameters/AcceptLanguage']
    post:
      tags: [Kimlik]
      summary: Müşteri kaydı
      operationId: register
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/RegisterRequest' }
      responses:
        '201':
          description: Hesap oluştu
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AuthResponse' }
        '422':
          $ref: '#/components/responses/ValidationFailed'
        '429':
          $ref: '#/components/responses/RateLimited'

  /auth/login:
    parameters: [$ref: '#/components/parameters/AppId', $ref: '#/components/parameters/AppVersion', $ref: '#/components/parameters/AcceptLanguage']
    post:
      tags: [Kimlik]
      summary: Giriş
      operationId: login
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email: { type: string, format: email }
                password: { type: string, format: password, minLength: 8 }
      responses:
        '200':
          description: Giriş başarılı
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AuthResponse' }
        '422':
          $ref: '#/components/responses/ValidationFailed'
        '429':
          $ref: '#/components/responses/RateLimited'

  /auth/logout:
    parameters: [$ref: '#/components/parameters/AppId', $ref: '#/components/parameters/AppVersion', $ref: '#/components/parameters/AcceptLanguage']
    post:
      tags: [Kimlik]
      summary: Token'ı iptal et
      operationId: logout
      responses:
        '204': { description: Çıkış yapıldı }
        '401': { $ref: '#/components/responses/Unauthenticated' }

  /auth/me:
    parameters: [$ref: '#/components/parameters/AppId', $ref: '#/components/parameters/AppVersion', $ref: '#/components/parameters/AcceptLanguage']
    get:
      tags: [Kimlik]
      summary: Oturumdaki müşteri
      operationId: me
      responses:
        '200':
          description: Müşteri profili
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Customer' }
        '401': { $ref: '#/components/responses/Unauthenticated' }

  # ─────────────────────────────── Katalog ──────────────────────────────
    patch:
      tags: [Kimlik]
      summary: Profil güncelle
      description: |
        Ad, soyad ve telefon güncellenir. Gönderilmeyen alanlar değişmez.

        **E-posta DEĞİŞTİRİLEMEZ.** Giriş kimliği odur; değiştirmek yeni
        adrese onay bağlantısı göndermeyi gerektirir, o olmadan hesabı
        başkasının e-postasına taşımanın yolu olur. Gövdede `email`
        gönderilirse sessizce yok sayılır.
      operationId: updateMe
      security:
        - CustomerToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                first_name: { type: string, maxLength: 64 }
                last_name: { type: string, maxLength: 64 }
                telephone:
                  type: string
                  pattern: '^[1-9][0-9]{9}$'
                  description: 10 hane, başında 0 veya +90 olmadan.
      responses:
        '200':
          description: Güncel profil
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Customer' }
        '401': { $ref: '#/components/responses/Unauthenticated' }
        '422':
          description: Doğrulama hatası
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /auth/password:
    parameters: [$ref: '#/components/parameters/AppId', $ref: '#/components/parameters/AppVersion', $ref: '#/components/parameters/AcceptLanguage']
    post:
      tags: [Kimlik]
      summary: Parola değiştir
      description: |
        **Mevcut parola zorunludur.** Token'ı çalınmış bir oturumun
        parolayı değiştirip hesabı tamamen ele geçirmesini engelleyen tek
        şey budur.

        Başarılı olduğunda **diğer tüm token'lar iptal edilir** ve çağırana
        yeni bir token verilir. Parola değiştirmenin amacı "başkası
        giremesin"dir; eski oturumları açık bırakmak o amacı boşa çıkarır.

        `bld-auth` oran sınırına tabidir (dakikada 10): mevcut parolayı
        denemek kaba kuvvete açıktır.
      operationId: changePassword
      security:
        - CustomerToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [current_password, password]
              properties:
                current_password: { type: string }
                password: { type: string, minLength: 8, maxLength: 128 }
      responses:
        '200':
          description: Değiştirildi; yeni token döner
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AuthResponse' }
        '401': { $ref: '#/components/responses/Unauthenticated' }
        '422':
          description: Mevcut parola yanlış veya doğrulama hatası
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '429': { $ref: '#/components/responses/RateLimited' }

  /locations:
    parameters: [$ref: '#/components/parameters/AppId', $ref: '#/components/parameters/AppVersion', $ref: '#/components/parameters/AcceptLanguage']
    get:
      tags: [Katalog]
      summary: Vitrinler
      description: |
        Faz 1'de tek vitrin döner. Dizi biçimi korunur ki ileride vitrin eklenirse
        istemciler kırılmasın.
      operationId: listLocations
      security: []
      responses:
        '200':
          description: Vitrin listesi
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/Location' }
        '429':
          $ref: '#/components/responses/RateLimited'

  /locations/{id}/menu:
    parameters:
      - $ref: '#/components/parameters/AppId'
      - $ref: '#/components/parameters/AppVersion'
      - $ref: '#/components/parameters/AcceptLanguage'
      - name: id
        in: path
        required: true
        schema: { type: integer, format: int64 }
    get:
      tags: [Katalog]
      summary: Vitrinin menüsü
      description: |
        `is_available: false` ürünler yanıtta **kalır** — istemci soluk gösterir,
        sepete eklenmesine izin vermez.
      operationId: getMenu
      security: []
      responses:
        '200':
          description: Kategoriler ve ürünler
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/MenuCategory' }
        '404': { $ref: '#/components/responses/NotFound' }

  # ─────────────────────────────── Sipariş ──────────────────────────────

  /addresses:
    parameters: [$ref: '#/components/parameters/AppId', $ref: '#/components/parameters/AppVersion', $ref: '#/components/parameters/AcceptLanguage']
    get:
      tags: [Adresler]
      summary: Adres defteri
      description: |
        Müşterinin kayıtlı adresleri. Varsayılan adres başta döner.

        Bu liste **sipariş adreslerini içermez**: her sipariş kendi
        değişmez adres kopyasını tutar. İkisi karışsaydı, kırk sipariş
        veren müşteri defterinde kırk satır görürdü.
      operationId: listAddresses
      security:
        - CustomerToken: []
      responses:
        '200':
          description: Adres listesi
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/SavedAddress' }
        '401': { $ref: '#/components/responses/Unauthenticated' }
    post:
      tags: [Adresler]
      summary: Adres ekle
      description: |
        İlk adres kendiliğinden varsayılan olur — müşteriyi tek adresi
        için ayrıca "varsayılan yap" demeye zorlamak anlamsız.
      operationId: createAddress
      security:
        - CustomerToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/SavedAddressInput' }
      responses:
        '201':
          description: Eklendi
          content:
            application/json:
              schema: { $ref: '#/components/schemas/SavedAddress' }
        '401': { $ref: '#/components/responses/Unauthenticated' }
        '422':
          description: Doğrulama hatası
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /addresses/{id}:
    parameters:
      - $ref: '#/components/parameters/AppId'
      - $ref: '#/components/parameters/AppVersion'
      - $ref: '#/components/parameters/AcceptLanguage'
      - name: id
        in: path
        required: true
        schema: { type: integer, format: int64 }
    patch:
      tags: [Adresler]
      summary: Adres güncelle
      description: |
        Defterdeki kaydı değiştirir. **Geçmiş siparişlerin adresini
        DEĞİŞTİRMEZ** — onlar kendi kopyalarını taşır.
      operationId: updateAddress
      security:
        - CustomerToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/SavedAddressInput' }
      responses:
        '200':
          description: Güncellendi
          content:
            application/json:
              schema: { $ref: '#/components/schemas/SavedAddress' }
        '401': { $ref: '#/components/responses/Unauthenticated' }
        '404': { $ref: '#/components/responses/NotFound' }
        '422':
          description: Doğrulama hatası
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
    delete:
      tags: [Adresler]
      summary: Adres sil
      description: |
        Defterden siler. Geçmiş siparişler etkilenmez.

        Silinen adres varsayılansa, kalanlardan biri varsayılan yapılır:
        müşteri ödeme ekranında hiçbir adres seçili görmemeli.
      operationId: deleteAddress
      security:
        - CustomerToken: []
      responses:
        '204': { description: Silindi }
        '401': { $ref: '#/components/responses/Unauthenticated' }
        '404': { $ref: '#/components/responses/NotFound' }

  /orders:
    parameters: [$ref: '#/components/parameters/AppId', $ref: '#/components/parameters/AppVersion', $ref: '#/components/parameters/AcceptLanguage']
    post:
      tags: [Sipariş]
      summary: Sipariş oluştur
      description: |
        Tutar **sunucuda** hesaplanır. İstemcinin gönderdiği tutar alanları yok sayılır.
      operationId: createOrder
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/OrderCreateRequest' }
      responses:
        '201':
          description: Sipariş oluştu
          content:
            application/json:
              schema: { $ref: '#/components/schemas/OrderCreated' }
        '401': { $ref: '#/components/responses/Unauthenticated' }
        '422':
          description: |
            Doğrulama hatası. Olası kodlar: `VALIDATION_FAILED`, `LOCATION_CLOSED`,
            `ITEM_UNAVAILABLE`.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '429': { $ref: '#/components/responses/RateLimited' }
    get:
      tags: [Sipariş]
      summary: Kendi siparişlerim
      description: En yeni önce.
      operationId: listOrders
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PerPage'
      responses:
        '200':
          description: Sipariş listesi
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/OrderSummary' }
                  meta: { $ref: '#/components/schemas/PaginationMeta' }
        '401': { $ref: '#/components/responses/Unauthenticated' }

  /orders/{id}:
    parameters:
      - $ref: '#/components/parameters/AppId'
      - $ref: '#/components/parameters/AppVersion'
      - $ref: '#/components/parameters/AcceptLanguage'
      - name: id
        in: path
        required: true
        schema: { type: integer, format: int64 }
    get:
      tags: [Sipariş]
      summary: Sipariş detayı
      description: |
        Başkasının siparişi istenirse **`404 NOT_FOUND`** döner — varlık sızdırılmaz
        (`403` dönmek siparişin var olduğunu ele verirdi).
      operationId: getOrder
      responses:
        '200':
          description: Sipariş
          content:
            application/json:
              schema: { $ref: '#/components/schemas/OrderDetail' }
        '401': { $ref: '#/components/responses/Unauthenticated' }
        '404': { $ref: '#/components/responses/NotFound' }

  /orders/{id}/cancel:
    parameters:
      - $ref: '#/components/parameters/AppId'
      - $ref: '#/components/parameters/AppVersion'
      - $ref: '#/components/parameters/AcceptLanguage'
      - name: id
        in: path
        required: true
        schema: { type: integer, format: int64 }
    post:
      tags: [Sipariş]
      summary: Siparişi iptal et
      description: Yalnızca `yeni` ve `onaylandi` durumlarında. Sonrasında `422 INVALID_TRANSITION`.
      operationId: cancelOrder
      responses:
        '200':
          description: Güncel sipariş
          content:
            application/json:
              schema: { $ref: '#/components/schemas/OrderDetail' }
        '401': { $ref: '#/components/responses/Unauthenticated' }
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/InvalidTransition' }

  # ────────────────────────────── Cari hesap ────────────────────────────

  /account/summary:
    parameters:
      - $ref: '#/components/parameters/AppId'
      - $ref: '#/components/parameters/AppVersion'
      - $ref: '#/components/parameters/AcceptLanguage'
    get:
      tags: [Cari hesap]
      summary: Cari bakiye
      description: Müşterinin güncel cari bakiyesi. Pozitif = müşterinin borcu.
      operationId: getAccountSummary
      security:
        - CustomerToken: []
      responses:
        '200':
          description: Güncel bakiye
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AccountSummary' }
        '401': { $ref: '#/components/responses/Unauthenticated' }

  /account/statement:
    parameters:
      - $ref: '#/components/parameters/AppId'
      - $ref: '#/components/parameters/AppVersion'
      - $ref: '#/components/parameters/AcceptLanguage'
      - name: from
        in: query
        required: false
        schema: { type: string, format: date }
        description: 'Başlangıç tarihi (varsayılan 3 ay önce).'
      - name: to
        in: query
        required: false
        schema: { type: string, format: date }
        description: 'Bitiş tarihi (varsayılan bugün).'
    get:
      tags: [Cari hesap]
      summary: Cari ekstre
      description: Tarih aralığındaki hareketler, açılış ve kapanış bakiyesiyle.
      operationId: getAccountStatement
      security:
        - CustomerToken: []
      responses:
        '200':
          description: Ekstre
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AccountStatement' }
        '401': { $ref: '#/components/responses/Unauthenticated' }

  # ─────────────────────────────── Abonelik ─────────────────────────────

  /subscriptions:
    parameters:
      - $ref: '#/components/parameters/AppId'
      - $ref: '#/components/parameters/AppVersion'
      - $ref: '#/components/parameters/AcceptLanguage'
    get:
      tags: [Abonelik]
      summary: Aboneliklerim
      operationId: listSubscriptions
      security:
        - CustomerToken: []
      responses:
        '200':
          description: Abonelik listesi
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/Subscription' }
        '401': { $ref: '#/components/responses/Unauthenticated' }
    post:
      tags: [Abonelik]
      summary: Abonelik talebi oluştur
      description: Fiyatsız talep açar (status pending); admin fiyatlandırıp aktifleştirir.
      operationId: createSubscription
      security:
        - CustomerToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/SubscriptionCreate' }
      responses:
        '201':
          description: Oluşturulan abonelik
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Subscription' }
        '401': { $ref: '#/components/responses/Unauthenticated' }
        '422': { $ref: '#/components/responses/ValidationFailed' }

  /subscriptions/{id}:
    parameters:
      - $ref: '#/components/parameters/AppId'
      - $ref: '#/components/parameters/AppVersion'
      - $ref: '#/components/parameters/AcceptLanguage'
      - name: id
        in: path
        required: true
        schema: { type: integer, format: int64 }
    get:
      tags: [Abonelik]
      summary: Abonelik detayı
      operationId: getSubscription
      security:
        - CustomerToken: []
      responses:
        '200':
          description: Abonelik
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Subscription' }
        '401': { $ref: '#/components/responses/Unauthenticated' }
        '404': { $ref: '#/components/responses/NotFound' }

  /subscriptions/{id}/pause:
    parameters:
      - $ref: '#/components/parameters/AppId'
      - $ref: '#/components/parameters/AppVersion'
      - $ref: '#/components/parameters/AcceptLanguage'
      - name: id
        in: path
        required: true
        schema: { type: integer, format: int64 }
    post:
      tags: [Abonelik]
      summary: Aboneliği duraklat
      description: Yalnızca aktif abonelik duraklatılabilir; aksi 422.
      operationId: pauseSubscription
      security:
        - CustomerToken: []
      responses:
        '200':
          description: Güncel abonelik
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Subscription' }
        '401': { $ref: '#/components/responses/Unauthenticated' }
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/ValidationFailed' }

  /subscriptions/{id}/resume:
    parameters:
      - $ref: '#/components/parameters/AppId'
      - $ref: '#/components/parameters/AppVersion'
      - $ref: '#/components/parameters/AcceptLanguage'
      - name: id
        in: path
        required: true
        schema: { type: integer, format: int64 }
    post:
      tags: [Abonelik]
      summary: Aboneliği devam ettir
      description: Yalnızca duraklatılmış abonelik devam ettirilebilir; aksi 422.
      operationId: resumeSubscription
      security:
        - CustomerToken: []
      responses:
        '200':
          description: Güncel abonelik
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Subscription' }
        '401': { $ref: '#/components/responses/Unauthenticated' }
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/ValidationFailed' }

  /subscriptions/{id}/cancel:
    parameters:
      - $ref: '#/components/parameters/AppId'
      - $ref: '#/components/parameters/AppVersion'
      - $ref: '#/components/parameters/AcceptLanguage'
      - name: id
        in: path
        required: true
        schema: { type: integer, format: int64 }
    post:
      tags: [Abonelik]
      summary: Aboneliği iptal et
      operationId: cancelSubscription
      security:
        - CustomerToken: []
      responses:
        '200':
          description: Güncel abonelik
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Subscription' }
        '401': { $ref: '#/components/responses/Unauthenticated' }
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/ValidationFailed' }

  /subscriptions/{id}/exceptions:
    parameters:
      - $ref: '#/components/parameters/AppId'
      - $ref: '#/components/parameters/AppVersion'
      - $ref: '#/components/parameters/AcceptLanguage'
      - name: id
        in: path
        required: true
        schema: { type: integer, format: int64 }
    post:
      tags: [Abonelik]
      summary: Tek-günlük istisna gir
      description: Belirli bir günü atla veya adedini değiştir (kural değişimi değil).
      operationId: addSubscriptionException
      security:
        - CustomerToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/SubscriptionExceptionInput' }
      responses:
        '200':
          description: Güncel abonelik
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Subscription' }
        '401': { $ref: '#/components/responses/Unauthenticated' }
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/ValidationFailed' }

  /me/push-token:
    parameters: [$ref: '#/components/parameters/AppId', $ref: '#/components/parameters/AppVersion', $ref: '#/components/parameters/AcceptLanguage']
    post:
      tags: [Sipariş]
      summary: FCM push token'ı kaydet
      operationId: registerPushToken
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [fcm_token, platform]
              properties:
                fcm_token: { type: string, minLength: 1 }
                platform: { type: string, enum: [android] }
      responses:
        '204': { description: Kaydedildi }
        '401': { $ref: '#/components/responses/Unauthenticated' }
        '422': { $ref: '#/components/responses/ValidationFailed' }

  # ─────────────────────────────── Mutfak ───────────────────────────────

  /kitchen/pair:
    parameters: [$ref: '#/components/parameters/AppId', $ref: '#/components/parameters/AppVersion', $ref: '#/components/parameters/AcceptLanguage']
    post:
      tags: [Mutfak]
      summary: Cihaz eşleme
      description: |
        Admin panelden alınan tek kullanımlık kod ile cihaz kaydı. Dönen token süresizdir,
        admin panelden iptal edilebilir (sonraki isteklerde `403 DEVICE_REVOKED`).
      operationId: pairKitchenDevice
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [pairing_code, device_name]
              properties:
                pairing_code:
                  type: string
                  pattern: '^[A-Z0-9]{4}-[A-Z0-9]{4}$'
                  examples: ['K7X2-9QMD']
                device_name: { type: string, minLength: 1, maxLength: 64 }
      responses:
        '200':
          description: Eşleme başarılı
          content:
            application/json:
              schema:
                type: object
                required: [device_id, token, server_time]
                properties:
                  device_id: { type: integer, format: int64 }
                  token: { type: string }
                  server_time: { type: string, format: date-time }
        '404':
          description: Kod geçersiz veya süresi dolmuş
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '429': { $ref: '#/components/responses/RateLimited' }

  /kitchen/orders:
    parameters: [$ref: '#/components/parameters/AppId', $ref: '#/components/parameters/AppVersion', $ref: '#/components/parameters/AcceptLanguage']
    get:
      tags: [Mutfak]
      summary: Aktif siparişler
      description: |
        Varsayılan: `teslim_edildi` ve `iptal` **hariç** bugünün siparişleri.

        **Artımlı çekme.** Yanıttaki `max_id` bir sonraki isteğin `after` değeridir;
        `server_time` bir sonraki isteğin `since` değeridir. Durum değişimlerini yakalamak
        için `since` kullanılmalıdır — `after` yalnızca yeni siparişleri getirir.
      operationId: listKitchenOrders
      security:
        - KitchenToken: []
      parameters:
        - name: after
          in: query
          description: Bu sipariş kimliğinden büyükleri getir (yalnızca yeni siparişler).
          schema: { type: integer, format: int64 }
        - name: since
          in: query
          description: Bu zaman damgasından sonra **güncellenenleri** getir.
          schema: { type: string, format: date-time }
        - name: include_completed
          in: query
          description: '`true` ise bugünün tamamlananları da gelir.'
          schema: { type: boolean, default: false }
      responses:
        '200':
          description: Sipariş listesi
          content:
            application/json:
              schema:
                type: object
                required: [data, server_time, max_id]
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/KitchenOrder' }
                  server_time:
                    type: string
                    format: date-time
                    description: Bir sonraki `since` değeri.
                  max_id:
                    type: integer
                    format: int64
                    description: Bir sonraki `after` değeri. Liste boşsa önceki değer korunur.
        '401': { $ref: '#/components/responses/Unauthenticated' }
        '403': { $ref: '#/components/responses/ForbiddenOrRevoked' }

  /kitchen/orders/{id}/status:
    parameters:
      - $ref: '#/components/parameters/AppId'
      - $ref: '#/components/parameters/AppVersion'
      - $ref: '#/components/parameters/AcceptLanguage'
      - name: id
        in: path
        required: true
        schema: { type: integer, format: int64 }
    post:
      tags: [Mutfak]
      summary: Durum ilerlet
      description: |
        Geçiş matrisi `docs/02-veri-modeli.md` §3'tedir ve **sunucuda** uygulanır.
        `yolda` yalnızca `delivery_type=delivery` siparişlerde geçerlidir.
      operationId: setKitchenOrderStatus
      security:
        - KitchenToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [status]
              properties:
                status: { $ref: '#/components/schemas/OrderStatus' }
      responses:
        '200':
          description: Güncel sipariş özeti
          content:
            application/json:
              schema: { $ref: '#/components/schemas/KitchenOrder' }
        '401': { $ref: '#/components/responses/Unauthenticated' }
        '403': { $ref: '#/components/responses/ForbiddenOrRevoked' }
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/InvalidTransition' }

  /kitchen/orders/{id}/receipt:
    parameters:
      - $ref: '#/components/parameters/AppId'
      - $ref: '#/components/parameters/AppVersion'
      - $ref: '#/components/parameters/AcceptLanguage'
      - name: id
        in: path
        required: true
        schema: { type: integer, format: int64 }
    get:
      tags: [Mutfak]
      summary: Fiş içeriği
      description: |
        Yazdırma verisini **sunucu** hazırlar; KDS yalnızca ESC/POS'a biçimlendirip basar.
        Fiş metninin ne yazacağına dair karar istemcide değildir.
      operationId: getReceipt
      security:
        - KitchenToken: []
      parameters:
        - name: type
          in: query
          required: true
          schema: { $ref: '#/components/schemas/ReceiptType' }
      responses:
        '200':
          description: Fiş verisi
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/KitchenReceipt'
                  - $ref: '#/components/schemas/CustomerReceipt'
                discriminator:
                  propertyName: type
                  mapping:
                    mutfak: '#/components/schemas/KitchenReceipt'
                    musteri: '#/components/schemas/CustomerReceipt'
        '401': { $ref: '#/components/responses/Unauthenticated' }
        '403': { $ref: '#/components/responses/ForbiddenOrRevoked' }
        '404': { $ref: '#/components/responses/NotFound' }

  /kitchen/print-jobs/{order_id}/ack:
    parameters:
      - $ref: '#/components/parameters/AppId'
      - $ref: '#/components/parameters/AppVersion'
      - $ref: '#/components/parameters/AcceptLanguage'
      - name: order_id
        in: path
        required: true
        schema: { type: integer, format: int64 }
    post:
      tags: [Mutfak]
      summary: Fiş basıldı bildirimi
      description: |
        Denetim içindir. **İdempotent:** aynı `(order_id, type)` çifti için tekrarlanan
        çağrı yeni kayıt açmaz, yine `204` döner. KDS bu çağrı başarısız olursa sessizce
        yutar — fişin basılmış olması ack'e bağlı değildir.
      operationId: ackPrintJob
      security:
        - KitchenToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [type, printed_at]
              properties:
                type: { $ref: '#/components/schemas/ReceiptType' }
                printed_at: { type: string, format: date-time }
      responses:
        '204': { description: Kaydedildi }
        '401': { $ref: '#/components/responses/Unauthenticated' }
        '403': { $ref: '#/components/responses/ForbiddenOrRevoked' }
        '404': { $ref: '#/components/responses/NotFound' }

  /kitchen/production-list:
    parameters: [$ref: '#/components/parameters/AppId', $ref: '#/components/parameters/AppVersion', $ref: '#/components/parameters/AcceptLanguage']
    get:
      tags: [Mutfak]
      summary: Üretim listesi
      description: |
        Aktif siparişlerin (`onaylandi` + `hazirlaniyor`) ürün bazında toplamı.
        Çoktan aza sıralıdır.
      operationId: getProductionList
      security:
        - KitchenToken: []
      responses:
        '200':
          description: Ürün toplamları
          content:
            application/json:
              schema:
                type: object
                required: [data, as_of]
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      required: [menu_id, name, total]
                      properties:
                        menu_id: { type: integer, format: int64 }
                        name: { type: string }
                        total: { type: integer, minimum: 0 }
                  as_of: { type: string, format: date-time }
        '401': { $ref: '#/components/responses/Unauthenticated' }
        '403': { $ref: '#/components/responses/ForbiddenOrRevoked' }

  /kitchen/busy:
    parameters: [$ref: '#/components/parameters/AppId', $ref: '#/components/parameters/AppVersion', $ref: '#/components/parameters/AcceptLanguage']
    post:
      tags: [Mutfak]
      summary: Yoğunluk şalteri
      description: |
        Mutfaktaki tek tuş. Açıkken müşteri arayüzlerinde gecikme uyarısı
        çıkar ve admin panelde görünür.

        **Sipariş almayı DURDURMAZ.** Siparişi gerçekten kesen şalter
        `ordering_enabled`'dır ve yalnızca yönetici değiştirebilir —
        mutfak personeli tek tuşla cirosu kapatabilmemeli.

        Durum vitrine yazılır, cihaza değil: iki kasa olsa ikisi de aynı
        şeyi gösterir ve müşteri tarafı zaten vitrini okur.
      operationId: setKitchenBusy
      security:
        - KitchenToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [busy]
              properties:
                busy: { type: boolean }
      responses:
        '200':
          description: Yeni durum
          content:
            application/json:
              schema:
                type: object
                required: [busy, busy_message, server_time]
                properties:
                  busy: { type: boolean }
                  busy_message: { type: string }
                  server_time: { type: string, format: date-time }
        '401': { $ref: '#/components/responses/Unauthenticated' }
        '403': { $ref: '#/components/responses/ForbiddenOrRevoked' }
        '422':
          description: Doğrulama hatası
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /kitchen/health:
    parameters: [$ref: '#/components/parameters/AppId', $ref: '#/components/parameters/AppVersion', $ref: '#/components/parameters/AcceptLanguage']
    post:
      tags: [Mutfak]
      summary: Kasa sağlık bildirimi
      description: |
        Kasa kendi durumunu bildirir, sunucu da kasanın bilemeyeceğini
        döndürür. **Çift yönlü olması bilinçlidir:** ekrandaki sağlık
        paneli ikisini birden gösteriyor ve iki ayrı çağrı yapmasının
        anlamı yok.

        Bugünkü sipariş sayısını cihaz hesaplayamaz: mutfak listesi
        yalnızca **aktif** siparişleri taşır, teslim edilenler düşer.
        Vardiya boyunca kaç sipariş geçtiğini yalnızca sunucu bilir.

        `heartbeat` ile karıştırılmamalı: o yalnızca "cihaz ayakta"
        der. "Ayakta" ile "çalışıyor" aynı şey değildir — yazıcının
        kâğıdı bitmiş, kuyrukta on basılmamış fiş birikmiş ve uygulama
        hâlâ düzenli yoklama yapıyor olabilir.

        Bildirilen değerler **doğrulanmaz**, kaydedilir. Yazıcının
        gerçekten çalıştığını sunucudan anlamanın yolu yok; cihazın
        beyanına güveniyoruz ve zaman damgasıyla saklıyoruz ki bayat veri
        taze sanılmasın.
      operationId: reportKitchenHealth
      security:
        - KitchenToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [printer_ok, print_queue_pending, print_queue_failed]
              properties:
                printer_ok:
                  type: boolean
                  description: Yazıcı cihazına yazılabiliyor mu?
                print_queue_pending:
                  type: integer
                  minimum: 0
                  description: Kuyrukta bekleyen fiş sayısı.
                print_queue_failed:
                  type: integer
                  minimum: 0
                  description: Basılamamış ve vazgeçilmiş fiş sayısı.
                app_version: { type: string, maxLength: 32 }
                command_results:
                  type: array
                  maxItems: 50
                  description: Bir önceki turda teslim edilen komutların sonuçları.
                  items:
                    type: object
                    required: [id, ok]
                    properties:
                      id: { type: integer, format: int64 }
                      ok: { type: boolean }
                      message: { type: [string, 'null'], maxLength: 255 }
      responses:
        '200':
          description: Vitrin özeti
          content:
            application/json:
              schema:
                type: object
                required: [server_time, orders_today, orders_active]
                properties:
                  server_time: { type: string, format: date-time }
                  orders_today:
                    type: integer
                    description: |
                      Bugün oluşturulan sipariş sayısı, **iptaller hariç**.
                      Gün sınırı Europe/Istanbul'a göredir: UTC gece yarısı
                      kullanılsaydı 00:00–03:00 arası siparişler "dün"
                      sayılırdı.
                  orders_active:
                    type: integer
                    description: Mutfak ekranında kart olarak duran sipariş sayısı.
                  settings:
                    $ref: '#/components/schemas/KitchenSettings'
                  commands:
                    type: array
                    description: |
                      Kasanın çalıştıracağı tek seferlik komutlar. Yanıtta
                      dönen komutlar **teslim edilmiş** sayılır ve tekrar
                      gönderilmez; kasa sonuçlarını bir sonraki bildirimde
                      `command_results` ile bildirir.

                      Sonucu gelmeyen komut 10 dakika sonra yeniden
                      gönderilir: kasa komutu alıp çökmüş olabilir ve
                      komutun hiç çalışmaması sessiz bir başarısızlıktır.
                    items: { $ref: '#/components/schemas/KitchenCommand' }
        '401': { $ref: '#/components/responses/Unauthenticated' }
        '403': { $ref: '#/components/responses/ForbiddenOrRevoked' }
        '422':
          description: Doğrulama hatası
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /kitchen/heartbeat:
    parameters: [$ref: '#/components/parameters/AppId', $ref: '#/components/parameters/AppVersion', $ref: '#/components/parameters/AcceptLanguage']
    get:
      tags: [Mutfak]
      summary: Canlılık bildirimi
      description: |
        Cihazın `last_seen_at` alanını günceller. 60 saniyede bir gönderilir.
        `last_seen_at` 5 dakikadan eskiyse admin panelde uyarı çıkar.
      operationId: kitchenHeartbeat
      security:
        - KitchenToken: []
      responses:
        '200':
          description: Sunucu bilgisi
          content:
            application/json:
              schema:
                type: object
                required: [server_time, min_supported_version]
                properties:
                  server_time: { type: string, format: date-time }
                  min_supported_version: { $ref: '#/components/schemas/SemVer' }
        '401': { $ref: '#/components/responses/Unauthenticated' }
        '403': { $ref: '#/components/responses/ForbiddenOrRevoked' }

  # ─────────────────────────────── Sürüm ────────────────────────────────

  /site-content:
    parameters: [$ref: '#/components/parameters/AppId', $ref: '#/components/parameters/AppVersion', $ref: '#/components/parameters/AcceptLanguage']
    get:
      tags: [Site]
      summary: Kurumsal site içeriği
      description: |
        Kurumsal sitenin panelden yönetilen içeriğinin tamamı **tek pakette**.

        Ayrı uçlar (marka, iletişim, hizmetler…) yapılmadı: sitenin her sayfası
        aynı çekirdek veriye ihtiyaç duyuyor ve ayrı uçlarla ana sayfa yedi
        istek atardı; biri geciktiğinde sayfa yarım kalırdı.

        **Doldurulmamış bölüm `null` döner, hata değildir.** Yeni kurulan bir
        sistemde panel boşken sitenin hiç açılmaması kabul edilemezdi; site
        `null` gelen bölümü çizmez, kendi yedek değerine düşer.
      operationId: getSiteContent
      security: []
      responses:
        '200':
          description: İçerik paketi
          content:
            application/json:
              schema: { $ref: '#/components/schemas/SiteContent' }

  # ─────────────────────────────── Teklif ───────────────────────────────

  /quote-requests:
    parameters: [$ref: '#/components/parameters/AppId', $ref: '#/components/parameters/AppVersion', $ref: '#/components/parameters/AcceptLanguage']
    post:
      tags: [Teklif]
      summary: Teklif talebi gönder
      description: |
        Kurumsal sitedeki "Teklif Al" formunun gönderim ucu. Kimlik
        gerektirmez: teklif isteyebilmek için önce hesap açtırmak, formun
        terk edilmesinin en yaygın sebebidir. Koruma oran sınırındadır
        (10 istek / saat / IP).

        **DOĞRULAMA BİLİNÇLİ OLARAK GEVŞEKTİR.** Bu ucun başarısızlığı
        "hatalı istek" değil, kaybedilmiş iştir; ziyaretçi formu bir kez
        doldurur ve 422 gördüğünde çoğu zaman tekrar denemez. Bu yüzden:

        - **Bilinmeyen alanlar sessizce yok sayılır.** Şemada olmayan bir
          alan (`utm_source` gibi) isteği reddettirmez. Site sözleşmeden bir
          sürüm önde gidebilmelidir.
        - **`service_type`, `frequency` ve `menu_preference` enum DEĞİLDİR.**
          Değerler `website/content/services.ts` slug'larından gelir ve yeni
          bir hizmet önce orada doğar; enum kısıtı o aradaki her talebi çöpe
          atardı. Aşağıdaki `examples` listeleri bilgi amaçlıdır, kısıt değil.
        - **Çözümlenemeyen tarih ve rakam olmayan kişi sayısı boş bırakılır**,
          talep yine kaydedilir.
        - **Sütun sınırını aşan metin kesilir**, reddedilmez.

        Reddedilen yalnızca iki durum vardır ve ikisi de bilinçli kayıptır:
        KVKK onayının olmaması ve kişiye ulaşmanın hiçbir yolunun olmaması.

        **Tekilleştirme yapılmaz.** Aynı kişinin ikinci gönderimi ikinci bir
        kayıttır: aynı firma iki farklı etkinlik için teklif isteyebilir.
      operationId: createQuoteRequest
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/QuoteRequestInput' }
      responses:
        '201':
          description: |
            Talep kaydedildi.

            **Yanıt kaydın kendisini ve `id`'sini DÖNMEZ.** Uç herkese açık;
            artan bir kimlik döndürmek, formu iki kez dolduran herkese
            firmanın aldığı talep sayısını sızdırırdı.
          content:
            application/json:
              schema:
                type: object
                required: [status, received_at]
                properties:
                  status: { $ref: '#/components/schemas/QuoteStatus' }
                  received_at: { type: string, format: date-time }
        '422':
          description: |
            KVKK onayı yok (`kvkk_accepted` `true` değil), ad boş, ya da
            telefon ve e-postanın ikisi birden boş.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '429': { $ref: '#/components/responses/RateLimited' }

  /app-version:
    parameters: [$ref: '#/components/parameters/AppId', $ref: '#/components/parameters/AppVersion', $ref: '#/components/parameters/AcceptLanguage']
    get:
      tags: [Sürüm]
      summary: Uygulama sürüm bilgisi
      description: İstemci sürümü `min_supported` altındaysa zorunlu güncelleme ekranı gösterir.
      operationId: getAppVersion
      security: []
      parameters:
        - name: app_id
          in: query
          required: true
          schema: { type: string, enum: [musteriapp, mutfakapp] }
      responses:
        '200':
          description: Sürüm bilgisi
          content:
            application/json:
              schema:
                type: object
                required: [app_id, latest, min_supported]
                properties:
                  app_id: { type: string, enum: [musteriapp, mutfakapp] }
                  latest: { $ref: '#/components/schemas/SemVer' }
                  min_supported: { $ref: '#/components/schemas/SemVer' }
                  download_url:
                    type: [string, 'null']
                    format: uri
                    description: Yalnızca `mutfakapp` için dolu (`.deb` adresi).
                  notes: { type: [string, 'null'] }
        '422':
          description: |
            `app_id` eksik veya enum dışı. Geçersiz enum bir **doğrulama**
            hatasıdır, "kayıt yok" değil — mock ile sunucu bu noktada
            ayrışmıştı, sözleşme 422'de netleştirildi.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

# ══════════════════════════════ COMPONENTS ══════════════════════════════

components:

  securitySchemes:
    CustomerToken:
      type: http
      scheme: bearer
      description: Müşteri hesabı token'ı (`customer` kapsamı). `/kitchen/*` uçlarına erişemez.
    KitchenToken:
      type: http
      scheme: bearer
      description: |
        Cihaz token'ı (`kitchen` kapsamı). `POST /kitchen/pair` ile alınır.
        Fiyat, müşteri iletişim bilgisi ve rapor uçlarına erişemez.

  parameters:
    AppId:
      name: X-App-Id
      in: header
      required: true
      schema: { type: string, enum: [website, musteriapp, mutfakapp] }
    AppVersion:
      name: X-App-Version
      in: header
      required: true
      schema: { $ref: '#/components/schemas/SemVer' }
    AcceptLanguage:
      name: Accept-Language
      in: header
      required: true
      schema: { type: string, default: tr }
    Page:
      name: page
      in: query
      schema: { type: integer, minimum: 1, default: 1 }
    PerPage:
      name: per_page
      in: query
      schema: { type: integer, minimum: 1, maximum: 100, default: 25 }

  responses:
    Unauthenticated:
      description: Token yok veya geçersiz (`UNAUTHENTICATED`)
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    ForbiddenOrRevoked:
      description: Kapsam yetersiz (`FORBIDDEN`) veya cihaz iptal edilmiş (`DEVICE_REVOKED`)
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    NotFound:
      description: Kayıt yok (`NOT_FOUND`)
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    ValidationFailed:
      description: Alan doğrulama hatası (`VALIDATION_FAILED`); `details` alan bazlıdır
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    InvalidTransition:
      description: Geçersiz durum geçişi (`INVALID_TRANSITION`)
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    RateLimited:
      description: Çok fazla istek (`RATE_LIMITED`)
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }

  schemas:

    # ── Temel tipler ────────────────────────────────────────────────────

    Money:
      type: integer
      format: int64
      minimum: 0
      description: '**Kuruş** cinsinden tam sayı. `4550` = 45,50 TL.'
      examples: [4550]

    Currency:
      type: string
      const: TRY

    SemVer:
      type: string
      pattern: '^\d+\.\d+\.\d+$'
      examples: ['1.0.0']

    OrderStatus:
      type: string
      enum: [yeni, onaylandi, hazirlaniyor, hazir, yolda, teslim_edildi, iptal]
      description: |
        Geçiş matrisi (`docs/02-veri-modeli.md` §3):

        | Kaynak | İzinli hedefler |
        |---|---|
        | `yeni` | `onaylandi`, `iptal` |
        | `onaylandi` | `hazirlaniyor`, `iptal` |
        | `hazirlaniyor` | `hazir`, `iptal` |
        | `hazir` | `yolda` (delivery), `teslim_edildi` (pickup), `iptal` |
        | `yolda` | `teslim_edildi`, `iptal` |
        | `teslim_edildi` | — (terminal) |
        | `iptal` | — (terminal) |

    DeliveryType:
      type: string
      enum: [delivery, pickup]

    PaymentMethod:
      type: string
      enum: [online, cash, account]
      description: |
        `online` = sanal POS, `cash` = kapıda ödeme, `account` = cari hesap.

        Faz 1'de `online`, gerçek tahsilat yapmayan bir **simülasyon**
        geçidine bağlıdır; akış gerçek POS ile aynıdır.

    PaymentStatus:
      type: string
      enum: [pending, paid]
      description: |
        Faz 1'de yalnızca bu iki değer üretilir. Sanal POS devreye girdiğinde
        `failed`/`refunded` **eklenebilir** (ek değer, kırıcı değişiklik değil);
        istemciler bilmedikleri değeri "belirsiz" olarak göstermeli, çökmemelidir.

    ReceiptType:
      type: string
      enum: [mutfak, musteri]

    ErrorCode:
      type: string
      enum:
        - UNAUTHENTICATED
        - FORBIDDEN
        - NOT_FOUND
        - VALIDATION_FAILED
        - INVALID_TRANSITION
        - LOCATION_CLOSED
        - ITEM_UNAVAILABLE
        - DEVICE_REVOKED
        - RATE_LIMITED
        - SERVER_ERROR

    Error:
      type: object
      required: [error]
      description: Tüm hataların tek biçimi.
      properties:
        error:
          type: object
          required: [code, message]
          properties:
            code: { $ref: '#/components/schemas/ErrorCode' }
            message:
              type: string
              description: Kullanıcıya gösterilebilir Türkçe metin.
            details:
              type: [object, 'null']
              additionalProperties: true
      examples:
        - error:
            code: INVALID_TRANSITION
            message: Sipariş bu duruma geçirilemez.
            details: { from: yeni, to: hazir }

    PaginationMeta:
      type: object
      required: [page, per_page, total, last_page]
      properties:
        page: { type: integer, minimum: 1 }
        per_page: { type: integer, minimum: 1 }
        total: { type: integer, minimum: 0 }
        last_page: { type: integer, minimum: 1 }

    # ── Kimlik ──────────────────────────────────────────────────────────

    RegisterRequest:
      type: object
      required: [first_name, last_name, email, telephone, password, kvkk_accepted]
      properties:
        first_name: { type: string, minLength: 1, maxLength: 64 }
        last_name: { type: string, minLength: 1, maxLength: 64 }
        email: { type: string, format: email }
        telephone:
          type: string
          pattern: '^[1-9][0-9]{9}$'
          description: Başında 0 veya +90 olmadan 10 hane.
          examples: ['5551234567']
        password: { type: string, format: password, minLength: 8 }
        kvkk_accepted:
          type: boolean
          const: true
          description: '`false` ise `422 VALIDATION_FAILED`. Onay zaman damgasıyla saklanır.'
        company_name:
          type: string
          maxLength: 160
          description: >-
            Ticari unvan (kurumsal/B2B). Şimdilik opsiyonel; web ve mobil kayıt
            formları bu alanı göndermeye başlayınca zorunlu olacak. Sunucu her
            yeni kaydı `corporate` olarak işaretler.
        contact_person: { type: string, maxLength: 120, description: Yetkili kişi. }
        tax_office: { type: string, maxLength: 120, description: Vergi dairesi. }
        tax_number: { type: string, maxLength: 32, description: Vergi / TCKN no. }
        company_phone: { type: string, maxLength: 32, description: Kurum telefonu. }

    AuthResponse:
      type: object
      required: [token, customer]
      properties:
        token: { type: string }
        customer:
          type: object
          required: [id, first_name]
          properties:
            id: { type: integer, format: int64 }
            first_name: { type: string }

    Customer:
      type: object
      required: [id, first_name, last_name, email, telephone]
      properties:
        id: { type: integer, format: int64 }
        first_name: { type: string }
        last_name: { type: string }
        email: { type: string, format: email }
        telephone: { type: string }
        default_location_id: { type: [integer, 'null'], format: int64 }
        account_type:
          type: string
          enum: [corporate, individual]
          description: B2B — yeni kayıtlar `corporate`. Bireysel hesap sipariş veremez.
        can_order:
          type: boolean
          description: İstemci sipariş yolunu bununla açar/kapatır; sunucu da denetler.
        company_name: { type: [string, 'null'] }
        contact_person: { type: [string, 'null'] }

    # ── Cari hesap ──────────────────────────────────────────────────────

    AccountSummary:
      type: object
      required: [balance, currency, as_of]
      properties:
        balance:
          type: integer
          format: int64
          description: Güncel bakiye (kuruş). Pozitif = müşterinin borcu, negatif = fazla ödeme.
        currency: { $ref: '#/components/schemas/Currency' }
        as_of: { type: string, format: date-time }

    AccountEntry:
      type: object
      required: [date, entry_type, amount, running_balance, source]
      properties:
        date: { type: string, format: date }
        entry_type:
          type: string
          enum: [debit, credit]
          description: '`debit` = borç (sipariş/abonelik), `credit` = alacak (tahsilat/iptal).'
        amount: { $ref: '#/components/schemas/Money' }
        running_balance:
          type: integer
          format: int64
          description: O satırdan sonraki yürüyen bakiye (kuruş, işaretli).
        source:
          type: string
          enum: [order, subscription, payment, manual, adjustment]
        description: { type: [string, 'null'] }

    AccountStatement:
      type: object
      required: [opening_balance, closing_balance, currency, from, to, entries]
      properties:
        opening_balance: { type: integer, format: int64 }
        closing_balance: { type: integer, format: int64 }
        currency: { $ref: '#/components/schemas/Currency' }
        from: { type: string, format: date }
        to: { type: string, format: date }
        entries:
          type: array
          items: { $ref: '#/components/schemas/AccountEntry' }

    # ── Abonelik ────────────────────────────────────────────────────────

    Subscription:
      type: object
      required:
        [id, status, location_id, delivery_type, start_date, service_days,
         default_quantity, payment_mode, menu_mode, lines, delivery_points, created_at]
      properties:
        id: { type: integer, format: int64 }
        status: { type: string, enum: [pending, active, paused, cancelled] }
        location_id: { type: integer, format: int64 }
        delivery_type: { $ref: '#/components/schemas/DeliveryType' }
        start_date: { type: string, format: date }
        end_date: { type: [string, 'null'], format: date }
        service_days:
          type: array
          items: { type: integer, minimum: 1, maximum: 7 }
          description: ISO hafta günleri (1 Pazartesi .. 7 Pazar).
        delivery_time_from: { type: [string, 'null'], examples: ['12:00'] }
        delivery_time_to: { type: [string, 'null'], examples: ['13:00'] }
        default_quantity: { type: integer, minimum: 1 }
        agreed_unit_price:
          oneOf:
            - { $ref: '#/components/schemas/Money' }
            - { type: 'null' }
          description: Porsiyon başı anlaşmalı fiyat. Talepte null; admin belirler.
        payment_mode: { type: string, enum: [account, prepaid_monthly] }
        menu_mode: { type: string, enum: [fixed_list, daily_menu] }
        lines:
          type: array
          items: { $ref: '#/components/schemas/SubscriptionLine' }
        delivery_points:
          type: array
          items: { $ref: '#/components/schemas/SubscriptionDeliveryPoint' }
        created_at: { type: string, format: date-time }

    SubscriptionLine:
      type: object
      required: [quantity]
      properties:
        menu_id: { type: [integer, 'null'], format: int64 }
        quantity: { type: integer, minimum: 1 }
        agreed_unit_price:
          oneOf:
            - { $ref: '#/components/schemas/Money' }
            - { type: 'null' }
        label: { type: [string, 'null'] }

    SubscriptionDeliveryPoint:
      type: object
      required: [id, address_id]
      properties:
        id: { type: integer, format: int64 }
        address_id: { type: integer, format: int64 }
        quantity: { type: [integer, 'null'] }
        note: { type: [string, 'null'] }

    SubscriptionCreate:
      type: object
      required: [location_id, delivery_type, start_date, service_days, default_quantity]
      properties:
        location_id: { type: integer, format: int64 }
        delivery_type: { $ref: '#/components/schemas/DeliveryType' }
        start_date: { type: string, format: date }
        end_date: { type: [string, 'null'], format: date }
        service_days:
          type: array
          minItems: 1
          items: { type: integer, minimum: 1, maximum: 7 }
        default_quantity: { type: integer, minimum: 1, maximum: 9999 }
        delivery_time_from: { type: string, examples: ['12:00'] }
        delivery_time_to: { type: string, examples: ['13:00'] }
        lines:
          type: array
          items:
            type: object
            required: [menu_id, quantity]
            properties:
              menu_id: { type: integer, format: int64 }
              quantity: { type: integer, minimum: 1 }
              label: { type: string }
        delivery_points:
          type: array
          items:
            type: object
            required: [address_id]
            properties:
              address_id: { type: integer, format: int64 }
              quantity: { type: integer, minimum: 1 }
              note: { type: string }
        customer_note: { type: string }

    SubscriptionExceptionInput:
      type: object
      required: [service_date]
      properties:
        service_date: { type: string, format: date }
        skip: { type: boolean }
        quantity_override: { type: integer, minimum: 1, maximum: 9999 }

    # ── Katalog ─────────────────────────────────────────────────────────

    Location:
      type: object
      required:
        [id, name, slug, is_open, ordering_enabled, min_order_total,
         delivery_fee, payment_methods, eta]
      properties:
        id: { type: integer, format: int64 }
        name: { type: string }
        slug: { type: string }
        is_open:
          type: boolean
          description: Çalışma saatlerinden **türetilir**. Şu an sipariş saati içinde miyiz?
        ordering_enabled:
          type: boolean
          description: |
            Yöneticinin admin panelden çevirdiği elle ana şalter. `false` ise saat uygun
            olsa bile sipariş alınmaz.
        order_cutoff:
          type: [string, 'null']
          pattern: '^([01][0-9]|2[0-3]):[0-5][0-9]$'
          description: Günlük son sipariş saati (Europe/Istanbul) veya `null`.
          examples: ['16:00']
        min_order_total:
          allOf: [$ref: '#/components/schemas/Money']
          description: Altında sipariş `422 VALIDATION_FAILED`.
        delivery_fee:
          allOf: [$ref: '#/components/schemas/Money']
          description: |
            `delivery_type=delivery` siparişlere eklenecek sabit teslimat
            ücreti; gel-al siparişte uygulanmaz.

            **Neden sözleşmede:** bu alan olmadan istemci, kullanıcıya
            siparişi onaylatmadan önce **toplam tutarı gösteremiyordu** —
            yalnızca ara toplamı gösterip "teslimat sipariş adımında
            hesaplanır" demek zorunda kalıyordu. Mesafeli satışta ödenecek
            tutarın onaydan önce görünmesi gerekir.

            Gösterim içindir; **bağlayıcı olan sunucunun hesabıdır**
            (`OrderDetail.delivery_fee`). İkisi ayrışırsa sunucu haklıdır.
        payment_methods:
          type: array
          minItems: 1
          items: { $ref: '#/components/schemas/PaymentMethod' }
          description: |
            Bu vitrinde **açık** olan ödeme yöntemleri. İstemci ödeme ekranında yalnızca
            bunları gösterir. Listede olmayan yöntemle sipariş → `422 VALIDATION_FAILED`.
        busy:
          type: boolean
          description: |
            Mutfak yoğun mu? Mutfak ekranındaki tek tuşla açılır
            (`POST /kitchen/busy`).

            **Sipariş almayı ENGELLEMEZ.** İstemci yalnızca `busy_message`
            uyarısını gösterir. Siparişi gerçekten kesen şalter
            `ordering_enabled`'dır ve o yöneticinindir.
        busy_message:
          type: string
          description: |
            `busy` doğruyken gösterilecek metin. Yönetici admin panelden
            değiştirebilir. İstemciler kendi metnini gömmemelidir: metin
            değişince üç uygulamayı birden yayınlamak gerekirdi.
          example: Mutfağımız şu anda yoğun. Siparişiniz alınır ancak hazırlanması normalden uzun sürebilir.
        eta:
          $ref: '#/components/schemas/LocationEta'

    LocationEta:
      type: object
      description: |
        Teslim süresi tahmini, teslim türüne göre ayrı. İki tür ayrı verilir
        çünkü gel-alda **yol süresi yoktur** — müşteri hazır olduğunda gelir.
        Tek bir tahmin verilseydi istemci gel-al seçildiğinde de yolu içeren
        bir süre gösterirdi.
      required: [delivery, pickup]
      properties:
        delivery: { $ref: '#/components/schemas/EtaWindow' }
        pickup: { $ref: '#/components/schemas/EtaWindow' }

    EtaWindow:
      type: object
      description: |
        Sipariş verildiği andan teslime kadar geçecek sürenin **aralığı**.

        **Neden aralık, neden tek sayı değil:** "45 dakika" bir taahhüttür ve
        47. dakikada ihlal edilir. "40–55 dakika" hem dürüsttür hem mutfağa
        nefes alanı bırakır.

        Aralık beş dakikaya yuvarlanır: "37–51 dakika" sahte bir kesinlik
        iddiasıdır.
      required: [min_minutes, max_minutes, source, busy]
      properties:
        min_minutes:
          type: integer
          minimum: 5
          description: Aralığın alt ucu (dakika).
          examples: [60]
        max_minutes:
          type: integer
          minimum: 10
          description: Aralığın üst ucu (dakika). Her zaman `min_minutes`'tan büyüktür.
          examples: [85]
        source:
          type: string
          enum: [measured, configured]
          description: |
            Tahminin nereden geldiği.

            - `measured` — son 14 günde tamamlanmış siparişlerin gerçekleşen
              sürelerinden ölçüldü (medyan → 80. yüzdelik). Bu yola girmek
              için en az 8 örnek gerekir.
            - `configured` — henüz yeterli örnek yok, yöneticinin admin
              panelde girdiği hazırlık/teslimat süresinden türetildi.

            İstemci bu alana göre farklı davranmak ZORUNDA değildir; alan
            teşhis içindir ("neden bu süre?" sorusunun cevabı).
        busy:
          type: boolean
          description: |
            Mutfak yoğunluğu bu aralığa **yansıtıldı mı?** `true` ise hem alt
            hem üst uç, yöneticinin girdiği yoğunluk ek süresi kadar uzatıldı.
            `Location.busy` ile aynı kaynağı okur.

    KitchenSettings:
      type: object
      description: |
        Kasanın **sunucudan yönetilen** ayarları. Yönetici admin panelden
        değiştirir, kasa uygular; kasadaki ayar ekranı bunları yalnızca
        gösterir.

        **`null` = yönetici dokunmadı.** O alanda kasa kendi derleme
        varsayılanını kullanır. Sunucu varsayılanı dayatmıyoruz: yazıcı
        yolu gibi değerler makineye özgü ve yanlış bir varsayılan fiş
        basımını durdurur.
      properties:
        poll_seconds:
          type: [integer, 'null']
          minimum: 2
          maximum: 60
          description: Sipariş yoklama aralığı.
        sound_enabled:
          type: [boolean, 'null']
          description: |
            Yeni sipariş sesi. **Bağlantı uyarısını KAPATMAZ** — o
            susturulamaz (`docs/05` §3).
        warning_after_minutes:
          type: [integer, 'null']
          minimum: 1
          maximum: 480
          description: Sipariş bu süreden uzun beklerse kart uyarı rengine döner.
        late_after_minutes:
          type: [integer, 'null']
          minimum: 1
          maximum: 480
          description: |
            Geciken eşiği. `warning_after_minutes`'ten küçük olamaz —
            küçük olsaydı kart hiç kırmızıya dönmezdi, uyarı eşiği zaten
            geçilmiş olurdu. Sunucu küçük değeri uyarı eşiğine çeker.
        printer_device_path: { type: [string, 'null'], maxLength: 128 }
        printer_code_page:
          type: [integer, 'null']
          minimum: 0
          maximum: 255
          description: |
            `ESC t n` kod sayfası. Sahada doğrulanan değer **29**; yanlışı
            tüm Türkçe harfleri boşluk bastırır (`docs/05` §5.2).
        health_seconds:
          type: [integer, 'null']
          minimum: 10
          maximum: 300
          description: |
            Sağlık bildiriminin sıklığı. Komutlar bu yanıtla taşındığı
            için aynı zamanda "komut ne kadar sürede varır" demektir.
        connection_alarm_seconds:
          type: [integer, 'null']
          minimum: 10
          maximum: 600
          description: Bağlantı uyarısının tekrar aralığı.
        alarm_silenceable:
          type: [boolean, 'null']
          description: |
            Mutfak, yeni sipariş alarmını susturabilsin mi? Kapatılırsa
            alarmı durdurmanın tek yolu siparişi onaylamaktır.
        updated_at: { type: [string, 'null'], format: date-time }

    KitchenCommand:
      type: object
      required: [id, command, payload]
      properties:
        id: { type: integer, format: int64 }
        command:
          type: string
          enum: [test_receipt, reprint, clear_failed, silence_alarm, restart]
        payload:
          type: object
          additionalProperties: true
          description: '`reprint` için `order_id` ve `type`; diğerlerinde boş.'

    SavedAddress:
      type: object
      required: [id, line1, district, city, is_default]
      description: |
        Müşterinin adres defterindeki bir kayıt.

        **Sipariş adresi buradan KOPYALANIR, bağlanmaz.** Sipariş kayıtlı
        adrese işaret etseydi, müşteri adresini düzelttiğinde geçmiş
        siparişlerin teslimat adresi de geçmişe dönük değişirdi ve teslim
        edilmiş bir siparişin nereye gittiği okunamaz olurdu.
      properties:
        id: { type: integer, format: int64 }
        label:
          type: [string, 'null']
          description: Müşterinin verdiği ad — "Ev", "Ofis", "Şantiye".
          examples: ['Ofis']
        line1: { type: string, maxLength: 255 }
        district: { type: string, maxLength: 96 }
        city: { type: string, maxLength: 96 }
        note:
          type: [string, 'null']
          description: Kuryeye not. Fişte görünür.
        is_default:
          type: boolean
          description: |
            Ödeme ekranında önceden seçili gelen adres. Aynı anda **en
            fazla bir** adres varsayılandır; yeni bir adres varsayılan
            yapıldığında eskisi kendiliğinden bırakır.
        latitude:
          type: [number, 'null']
          format: double
          description: |
            Haritadan seçilen nokta. `longitude` ile birlikte anlamlıdır;
            yalnızca biri doluysa yanıtta ikisi de `null` döner.
        longitude: { type: [number, 'null'], format: double }

    SavedAddressInput:
      type: object
      required: [line1, district, city]
      properties:
        label: { type: [string, 'null'], maxLength: 64 }
        line1: { type: string, maxLength: 255 }
        district: { type: string, maxLength: 96 }
        city: { type: string, maxLength: 96 }
        note: { type: [string, 'null'], maxLength: 255 }
        is_default: { type: boolean }
        latitude:
          type: [number, 'null']
          format: double
          minimum: -90
          maximum: 90
          description: |
            İsteğe bağlı. Güncellemede **`null` göndermek koordinatı siler** —
            alanı hiç göndermemek ise mevcut koordinatı korur. İğnesini
            kaldıran müşterinin eski noktası kayıtta kalmasın diye bu ikisi
            ayrı davranışlardır.
        longitude: { type: [number, 'null'], format: double, minimum: -180, maximum: 180 }

    MenuCategory:
      type: object
      required: [id, name, sort, items]
      properties:
        id: { type: integer, format: int64 }
        name: { type: string }
        sort: { type: integer }
        items:
          type: array
          items: { $ref: '#/components/schemas/MenuItem' }

    MenuItem:
      type: object
      required: [id, name, price, currency, is_available]
      properties:
        id: { type: integer, format: int64 }
        name: { type: string }
        description: { type: [string, 'null'] }
        price: { $ref: '#/components/schemas/Money' }
        currency: { $ref: '#/components/schemas/Currency' }
        image_url: { type: [string, 'null'], format: uri }
        is_available:
          type: boolean
          description: '`false` ürün yanıtta kalır; istemci soluk gösterir, sepete eklemez.'
        allergens:
          type: array
          items: { type: string }
        options:
          type: array
          items: { $ref: '#/components/schemas/MenuOption' }

    MenuOption:
      type: object
      required: [id, name, type, required, values]
      properties:
        id: { type: integer, format: int64 }
        name: { type: string }
        type:
          type: string
          description: |
            Bilinen değerler: `radio` (tek seçim), `checkbox` (çok seçim), `select`.
            Kapalı enum değildir — TastyIgniter'ın gerçek değer kümesi `B-02`'de
            doğrulanacak (bkz. BILINMEYENLER). İstemci bilinmeyen tipi `radio` gibi ele alır.
          examples: [radio]
        required: { type: boolean }
        values:
          type: array
          items: { $ref: '#/components/schemas/MenuOptionValue' }

    MenuOptionValue:
      type: object
      required: [id, name, price_delta]
      properties:
        id: { type: integer, format: int64 }
        name: { type: string }
        price_delta:
          type: integer
          format: int64
          description: Kuruş cinsinden **işaretli** fark; negatif olabilir.

    # ── Sipariş ─────────────────────────────────────────────────────────

    Address:
      type: object
      required: [line1, district, city]
      properties:
        line1: { type: string, minLength: 1 }
        district: { type: string, minLength: 1 }
        city: { type: string, minLength: 1 }
        note: { type: [string, 'null'] }
        latitude:
          type: [number, 'null']
          format: double
          minimum: -90
          maximum: 90
          description: |
            Haritadan seçilen teslimat noktası. **İsteğe bağlı** — konum izni
            vermeyen ya da adresi elle yazan müşteri de sipariş verebilir.

            `longitude` ile birlikte anlamlıdır: yalnızca biri gönderilirse
            ikisi de yok sayılır, yanıtta ikisi de `null` döner. Yarısı dolu
            bir koordinat haritada gösterilemez.
        longitude:
          type: [number, 'null']
          format: double
          minimum: -180
          maximum: 180
          description: '`latitude` ile birlikte anlamlıdır.'

    OrderCreateRequest:
      type: object
      required: [location_id, items, delivery_type, payment_method]
      properties:
        location_id: { type: integer, format: int64 }
        items:
          type: array
          minItems: 1
          items:
            type: object
            required: [menu_id, quantity]
            properties:
              menu_id: { type: integer, format: int64 }
              quantity: { type: integer, minimum: 1 }
              option_value_ids:
                type: array
                items: { type: integer, format: int64 }
              note: { type: [string, 'null'], maxLength: 255 }
        delivery_type: { $ref: '#/components/schemas/DeliveryType' }
        address:
          oneOf:
            - $ref: '#/components/schemas/Address'
            - type: 'null'
          description: '`delivery` ise zorunlu, `pickup` ise yok sayılır.'
        requested_at:
          type: [string, 'null']
          format: date-time
          description: İstenen teslim zamanı. `order_cutoff` kuralına takılırsa `LOCATION_CLOSED`.
        payment_method: { $ref: '#/components/schemas/PaymentMethod' }
        customer_note: { type: [string, 'null'], maxLength: 500 }

    Payment:
      type: object
      required: [method, status]
      properties:
        method: { $ref: '#/components/schemas/PaymentMethod' }
        status: { $ref: '#/components/schemas/PaymentStatus' }
        redirect_url:
          type: [string, 'null']
          format: uri
          description: |
            Yalnızca `online` yönteminde ve sipariş **henüz ödenmemişken**
            dolu; istemci kullanıcıyı buraya yönlendirir. Ödendikten sonra
            `null` döner — kullanıcı ikinci kez ödeme sayfasına
            gönderilmemelidir.

            Faz 1'de bu adres bir **simülasyon** sayfasıdır (gerçek tahsilat
            yok). Akış gerçek sanal POS ile birebir aynıdır; sağlayıcı
            devreye girdiğinde yalnızca adresin işaret ettiği sayfa değişir.

    OrderCreated:
      type: object
      required: [id, order_number, status, total, currency, payment, created_at]
      properties:
        id: { type: integer, format: int64 }
        order_number: { type: string, examples: ['S-5012'] }
        status: { $ref: '#/components/schemas/OrderStatus' }
        total: { $ref: '#/components/schemas/Money' }
        currency: { $ref: '#/components/schemas/Currency' }
        payment: { $ref: '#/components/schemas/Payment' }
        created_at: { type: string, format: date-time }

    OrderSummary:
      type: object
      required: [id, order_number, status, total, currency, item_count, created_at]
      properties:
        id: { type: integer, format: int64 }
        order_number: { type: string }
        status: { $ref: '#/components/schemas/OrderStatus' }
        total: { $ref: '#/components/schemas/Money' }
        currency: { $ref: '#/components/schemas/Currency' }
        item_count: { type: integer, minimum: 1 }
        created_at: { type: string, format: date-time }
        subscription_id:
          type: [integer, 'null']
          format: int64
          description: Abonelikten üretildiyse abonelik kimliği; elle siparişte null.

    OrderItem:
      type: object
      required: [menu_id, name, quantity, unit_price, line_total]
      properties:
        menu_id: { type: integer, format: int64 }
        name: { type: string }
        quantity: { type: integer, minimum: 1 }
        options:
          type: array
          items: { type: string }
        note: { type: [string, 'null'] }
        unit_price:
          allOf: [$ref: '#/components/schemas/Money']
          description: Seçenek farkları **dahil** birim fiyat.
        line_total: { $ref: '#/components/schemas/Money' }

    StatusHistoryEntry:
      type: object
      required: [status, at]
      properties:
        status: { $ref: '#/components/schemas/OrderStatus' }
        at: { type: string, format: date-time }

    OrderDetail:
      type: object
      required:
        [id, order_number, status, items, subtotal, delivery_fee, total, currency,
         delivery_type, payment, status_history, created_at]
      properties:
        id: { type: integer, format: int64 }
        order_number: { type: string }
        status: { $ref: '#/components/schemas/OrderStatus' }
        items:
          type: array
          minItems: 1
          items: { $ref: '#/components/schemas/OrderItem' }
        subtotal: { $ref: '#/components/schemas/Money' }
        delivery_fee:
          allOf: [$ref: '#/components/schemas/Money']
          description: '`pickup` siparişte her zaman `0`.'
        total: { $ref: '#/components/schemas/Money' }
        currency: { $ref: '#/components/schemas/Currency' }
        delivery_type: { $ref: '#/components/schemas/DeliveryType' }
        address:
          oneOf:
            - $ref: '#/components/schemas/Address'
            - type: 'null'
          description: '`pickup` siparişte `null`.'
        requested_at: { type: [string, 'null'], format: date-time }
        customer_note: { type: [string, 'null'] }
        payment: { $ref: '#/components/schemas/Payment' }
        status_history:
          type: array
          items: { $ref: '#/components/schemas/StatusHistoryEntry' }
        created_at: { type: string, format: date-time }
        subscription_id:
          type: [integer, 'null']
          format: int64
          description: Abonelikten üretildiyse abonelik kimliği; elle siparişte null.

    # ── Mutfak ──────────────────────────────────────────────────────────

    KitchenOrderItem:
      type: object
      required: [name, quantity]
      description: Fiyat alanı **yoktur** — mutfak kapsamı fiyat görmez.
      properties:
        name: { type: string }
        quantity: { type: integer, minimum: 1 }
        options:
          type: array
          items: { type: string }
        note: { type: [string, 'null'] }

    KitchenOrder:
      type: object
      required: [id, order_number, status, delivery_type, items, created_at, updated_at]
      description: |
        Fiyat, telefon, adres ve e-posta **içermez**. `customer_label` yalnızca
        ad + soyad baş harfidir.
      properties:
        id: { type: integer, format: int64 }
        order_number: { type: string }
        status: { $ref: '#/components/schemas/OrderStatus' }
        requested_at: { type: [string, 'null'], format: date-time }
        delivery_type: { $ref: '#/components/schemas/DeliveryType' }
        customer_label:
          type: [string, 'null']
          examples: ['Ayşe Y.']
        items:
          type: array
          minItems: 1
          items: { $ref: '#/components/schemas/KitchenOrderItem' }
        customer_note: { type: [string, 'null'] }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }
        is_subscription:
          type: boolean
          description: Abonelikten üretilen sipariş — KDS kartında rozet.

    ReceiptLine:
      type: object
      required: [quantity, name]
      properties:
        quantity: { type: integer, minimum: 1 }
        name: { type: string }
        options:
          type: array
          items: { type: string }
        note: { type: [string, 'null'] }

    KitchenReceipt:
      type: object
      required: [type, order_number, delivery_type, lines]
      properties:
        type: { type: string, const: mutfak }
        order_number: { type: string }
        delivery_type: { $ref: '#/components/schemas/DeliveryType' }
        requested_at: { type: [string, 'null'], format: date-time }
        lines:
          type: array
          minItems: 1
          items: { $ref: '#/components/schemas/ReceiptLine' }
        customer_phone:
          type: [string, 'null']
          description: |
            Müşterinin telefonu. Fişte basılır; kurye kapıda kaldığında ya da
            adres tarifi yetmediğinde arayacak numara elinde olsun diye.

            KDS **kartında** (`KitchenOrder`) telefon yoktur ve eklenmeyecektir:
            ekran mutfakta gün boyu açık durur, kartta telefon olması her
            müşterinin numarasını salondan görünür kılardı. Fiş tek bir sipariş
            için basılıp pakete/kuryeye gider.
        customer_note: { type: [string, 'null'] }
        printed_at: { type: [string, 'null'], format: date-time }

    CustomerReceipt:
      type: object
      required:
        [type, order_number, delivery_type, items, subtotal, delivery_fee, total,
         currency, payment]
      properties:
        type: { type: string, const: musteri }
        order_number: { type: string }
        delivery_type: { $ref: '#/components/schemas/DeliveryType' }
        requested_at: { type: [string, 'null'], format: date-time }
        items:
          type: array
          minItems: 1
          items: { $ref: '#/components/schemas/OrderItem' }
        subtotal: { $ref: '#/components/schemas/Money' }
        delivery_fee: { $ref: '#/components/schemas/Money' }
        total: { $ref: '#/components/schemas/Money' }
        currency: { $ref: '#/components/schemas/Currency' }
        payment: { $ref: '#/components/schemas/Payment' }
        address:
          oneOf:
            - $ref: '#/components/schemas/Address'
            - type: 'null'
          description: |
            `delivery` siparişte dolu. Mutfak kapsamının müşteri adresini gördüğü
            **tek** yer burasıdır.
        customer_label: { type: [string, 'null'] }
        printed_at: { type: [string, 'null'], format: date-time }

    # ─────────────────────────── SİTE İÇERİĞİ ───────────────────────────
    #
    # Bu şemalardaki alanların çoğu `null` olabilir ve bu bir hata değildir:
    # panelde henüz doldurulmamış demektir. Sitenin davranışı `content/site.ts`
    # başındaki gerekçeyle aynı — bilinmeyen bilgi uydurulmaz, ilgili blok hiç
    # çizilmez.

    ContactChannel:
      type: object
      required: [display, href]
      properties:
        display:
          type: string
          description: Ekranda görünen biçim, örn. `0212 000 00 00`.
        href:
          type: string
          description: |
            `tel:` / `mailto:` / `https://wa.me/...`. Panelde ayrı bir alan
            DEĞİLDİR; yöneticinin yazdığı okunur numaradan sunucuda türetilir,
            böylece biçim hatası yüzünden çalışmayan bağlantı oluşmaz.

    SiteBrand:
      type: object
      properties:
        name: { type: string }
        short_name: { type: string }
        parent_group: { type: string }
        tagline: { type: string }
        description: { type: string }
        logo_url:
          type: [string, 'null']
          description: Panelden yüklenir. Boşsa site harf işaretini kullanır.
        primary_color:
          type: [string, 'null']
          description: |
            `#RRGGBB`. Kaydedilmeden önce beyaz metinle kontrastı ölçülür;
            WCAG AA eşiğini (4,5:1) geçmeyen renk reddedilir.

    SiteContact:
      type: object
      properties:
        phone:
          oneOf: [{ $ref: '#/components/schemas/ContactChannel' }, { type: 'null' }]
        whatsapp:
          oneOf: [{ $ref: '#/components/schemas/ContactChannel' }, { type: 'null' }]
        email:
          oneOf: [{ $ref: '#/components/schemas/ContactChannel' }, { type: 'null' }]
        address:
          type: [object, 'null']
          description: Açık adres ve il birlikte doldurulmadıysa `null` döner.
          properties:
            street_address: { type: string }
            district: { type: string }
            city: { type: string }
            postal_code: { type: [string, 'null'] }
            map_embed_url: { type: [string, 'null'] }
        working_hours:
          type: array
          items:
            type: object
            properties:
              label: { type: string }
              value: { type: string }
        social:
          type: array
          items:
            type: object
            properties:
              label: { type: string }
              href: { type: string }

    SiteService:
      type: object
      required: [slug, title, summary, intro, icon]
      properties:
        slug: { type: string }
        title: { type: string }
        summary: { type: string }
        intro: { type: string }
        icon:
          type: string
          description: |
            Lucide ikon bileşeninin adı. İstemci tanımadığı adı sessizce
            varsayılana düşürür — boş kutu göstermez.
        body_html:
          type: [string, 'null']
          description: |
            Serbest anlatım. Zengin metin editöründen gelir ve **kayıt anında**
            sunucuda izin listesine göre temizlenir; istemci ek temizlik yapmaz.
        audience: { type: array, items: { type: string } }
        how_it_works:
          type: array
          items:
            type: object
            properties:
              title: { type: string }
              body: { type: string }
        benefits: { type: array, items: { type: string } }
        menu_planning: { type: string }
        quote_needs: { type: array, items: { type: string } }

    SitePost:
      type: object
      required: [slug, title, description, category, published_at, body_html]
      properties:
        slug: { type: string }
        title: { type: string }
        description: { type: string }
        category: { type: string }
        published_at: { type: string, format: date }
        reading_minutes:
          type: integer
          description: Elle girilmediyse gövdeden hesaplanır.
        body_html:
          type: string
          description: Sunucuda temizlenmiş HTML (bkz. `SiteService.body_html`).

    SiteContent:
      type: object
      required: [faq, sectors, services, posts]
      properties:
        brand:
          oneOf: [{ $ref: '#/components/schemas/SiteBrand' }, { type: 'null' }]
        contact:
          oneOf: [{ $ref: '#/components/schemas/SiteContact' }, { type: 'null' }]
        company:
          type: [object, 'null']
          properties:
            mission: { type: string }
            vision: { type: string }
            group_relation: { type: string }
            values:
              type: array
              items:
                type: object
                properties: { title: { type: string }, body: { type: string } }
            process_steps:
              type: array
              items:
                type: object
                properties:
                  title: { type: string }
                  icon: { type: string }
                  body: { type: string }
            differentiators:
              type: array
              items:
                type: object
                properties:
                  title: { type: string }
                  icon: { type: string }
                  body: { type: string }
        faq:
          type: array
          items:
            type: object
            properties: { question: { type: string }, answer: { type: string } }
        sectors:
          type: array
          items:
            type: object
            properties:
              slug: { type: string }
              title: { type: string }
              icon: { type: string }
              need: { type: string }
              answer: { type: string }
              service_slug: { type: string }
        menus:
          type: [object, 'null']
          properties:
            solutions:
              type: array
              items:
                type: object
                properties:
                  slug: { type: string }
                  title: { type: string }
                  summary: { type: string }
                  audience: { type: string }
                  principle: { type: string }
                  courses:
                    type: array
                    items:
                      type: object
                      properties:
                        label: { type: string }
                        examples:
                          description: |
                            Panelde virgülle ayrılmış tek metin olarak girilir;
                            istemci diziye çevirir.
                          oneOf:
                            - type: string
                            - type: array
                              items: { type: string }
            seasonal:
              type: array
              items:
                type: object
                properties: { season: { type: string }, note: { type: string } }
        quality:
          type: [object, 'null']
          properties:
            chain:
              type: array
              items:
                type: object
                properties:
                  title: { type: string }
                  icon: { type: string }
                  body: { type: string }
            allergen:
              type: array
              items:
                type: object
                properties: { text: { type: string } }
            certifications:
              description: |
                **Boş dizi anlamlıdır**: firma belge beyan etmemiştir ve site
                sertifika iddiası içermeyen bir açıklama gösterir. Doldurulan
                her belge sitede yayınlanır.
              type: array
              items:
                type: object
                properties:
                  name: { type: string }
                  issuer: { type: string }
                  valid_until: { type: [string, 'null'] }
        services:
          type: array
          items: { $ref: '#/components/schemas/SiteService' }
        posts:
          type: array
          items: { $ref: '#/components/schemas/SitePost' }
        updated_at:
          type: [string, 'null']
          format: date-time
          description: |
            Üç içerik tablosunun en son değişme zamanı. İstemci bunu yeniden
            çizim gerekip gerekmediğine karar vermek için kullanır.

    # ── Teklif talebi ───────────────────────────────────────────────────

    QuoteStatus:
      type: string
      enum: [yeni, okundu, cevaplandi, kapandi]
      description: |
        Talebin panel içindeki takip durumu. **Ziyaretçi bunu görmez ve
        gönderirken belirleyemez** — gövdede `status` alanı gelse bile yok
        sayılır, yeni kayıt her zaman `yeni` doğar.

        Dört kademe var çünkü üçü yetmiyordu: `cevaplandi` (teklif gönderildi,
        cevap bekleniyor) ile `kapandi` (iş alındı veya kaybedildi)
        ayrılmasaydı liste zamanla takip edilemeyecek kadar şişerdi.

    QuoteRequestInput:
      type: object
      required: [full_name, kvkk_accepted]
      description: |
        Sitedeki teklif formunun gövdesi (`website/lib/validation/quote.ts`).

        **Şemada olmayan alanlar hata değildir, sessizce yok sayılır** — uç
        gerekçesi `POST /quote-requests` açıklamasındadır. `status` ve
        `admin_note` gibi panele ait alanlar gövdeden ATANAMAZ.
      properties:
        full_name:
          type: string
          maxLength: 120
          description: Zorunlu. 120 karakteri aşan değer kesilir, reddedilmez.
        organization: { type: [string, 'null'], maxLength: 160 }
        telephone:
          type: [string, 'null']
          maxLength: 32
          description: |
            Site başında sıfır olmadan 10 hane gönderir, ama uç ham metni de
            kabul eder (dahili no, uluslararası numara). **`telephone` ve
            `email`'den en az biri dolu olmalıdır**; ikisi de boşsa firma
            teklifi kimseye gönderemez ve kayıt yalnızca kişisel veri
            biriktirir.
        email: { type: [string, 'null'], maxLength: 160 }
        service_type:
          type: [string, 'null']
          maxLength: 64
          description: |
            `website/content/services.ts` slug'ı. **Enum DEĞİL** — aşağıdaki
            liste bilgi amaçlıdır.
          examples:
            - kurumsal-toplu-yemek
            - tasima-yemek
            - yerinde-uretim
            - okul-yemek-hizmeti
            - saglik-kuruluslari
            - santiye-yemek
            - davet-organizasyon
            - toplanti-ikram
        headcount:
          type: [integer, 'null']
          minimum: 1
          maximum: 1000000
          description: |
            Rakam olmayan değer `null` olarak kaydedilir, talebi düşürmez.
            Tavanı aşan değer tavana çekilir; gerçek sayı zaten `message`
            alanına yazılır.
        frequency:
          type: [string, 'null']
          maxLength: 32
          description: |
            Tek seferlik hizmetlerde (davet, toplantı ikramı) sorulmaz.
            **Enum değil.**
          examples: [gunluk, haftaici, haftalik-birkac, donemsel]
        start_date:
          type: [string, 'null']
          description: |
            Tek seferlik hizmetlerde etkinlik tarihi, sürekli hizmetlerde
            başlangıç tercihi. `YYYY-MM-DD` beklenir; **çözümlenemeyen değer
            `null` olarak kaydedilir**, talep yine durur.
          examples: ['2026-09-01']
        location: { type: [string, 'null'], maxLength: 160 }
        menu_preference:
          type: [string, 'null']
          maxLength: 32
          description: '**Enum değil**, örnek değerler.'
          examples: [siz-onerin, dort-kap, uc-kap, kahvalti-ikram, ozel-beslenme]
        kitchen_note:
          type: [string, 'null']
          maxLength: 2000
          description: Yalnızca yerinde üretim hizmetinde sorulan mutfak altyapısı notu.
        message: { type: [string, 'null'], maxLength: 5000 }
        kvkk_accepted:
          type: boolean
          const: true
          description: |
            **`true` DEĞİLSE TALEP KAYDEDİLMEZ ve `422` döner.** Onaysız
            kişisel veri saklamak hukuki sorundur; bu, ucun kaybı göze aldığı
            iki durumdan biridir. Onay anı sunucuda damgalanır — istemcinin
            bildirdiği bir zaman hukuki kayıt için delil değildir.
        submitted_at:
          type: [string, 'null']
          format: date-time
          description: |
            Sitenin bildirdiği gönderim anı. `created_at` ile aynı olmak
            zorunda değil: site kuyruğa alıp gecikmeli iletebilir.
