openapi: 3.1.0

info:
  title: Benim Lezzet Dünyam — Sipariş API
  version: 1.0.0
  summary: Catering sipariş platformunun normatif API sözleşmesi.
  description: |
    Bu dosya **normatif sözleşmedir**. `docs/03-api-sozlesmesi.md` aynı sözleşmenin
    insan için yazılmış açıklamasıdır; ikisi çelişirse **bu dosya kazanır**.

    `packages/api_client` ve `website/lib/api` bu dosyadan üretilir.
    `platform/` aynı sözleşmeyi `openapi.json` olarak üretir; CI ikisi arasındaki
    anlamsal farkı kontrol eder ve fark varsa build kırmızıdır.

    ## Değişmezler
    - **Para** kuruş cinsinden tam sayıdır. `4550` = 45,50 TL. Ondalık float asla kullanılmaz.
    - **Tarih/saat** ISO 8601 UTC'dir. İstemci Europe/Istanbul'a çevirir.
    - **Uyumluluk:** alan eklenebilir; silinemez, adı/tipi değişemez. İstemciler bilmedikleri
      alanları yok sayar. Kırıcı değişiklik `/api/v2/` ile açılır.
    - **Kapsam dışı:** öğrenci ve kurum içi sipariş kanalları yoktur ve olmayacaktır
      (`docs/00-genel-bakis.md` §4). Sipariş çeşitliliği yalnızca `delivery_type` ile ifade edilir.

    ## Oran sınırları
    | Uç grubu | Sınır |
    |---|---|
    | `/auth/*` | 10 istek / dakika / IP |
    | `POST /orders` | 20 istek / saat / hesap |
    | `/kitchen/*` | 600 istek / saat / cihaz |
    | Diğer | 120 istek / dakika / IP |

    Sınır aşılırsa `429 RATE_LIMITED`.
  license:
    name: Tescilli — dahili kullanım
    identifier: LicenseRef-Proprietary

servers:
  - url: https://api.benimlezzetdunyam.com.tr/api
    description: Prod
  - url: https://staging-api.benimlezzetdunyam.com.tr/api
    description: Staging
  - url: http://localhost:4010/api
    description: Mock sunucu (infra/mock)

tags:
  - name: Sağlık
    description: Harici uptime izlemesi için. Kimlik gerektirmez.
  - name: Kimlik
    description: Müşteri kaydı, giriş, oturum. Token `customer` kapsamlıdır.
  - name: Katalog
    description: Vitrin ve menü. Kimlik gerektirmez; web sitesi bunları SSR ile çeker.
  - name: Sipariş
    description: Müşterinin kendi siparişleri. Başkasının siparişi `404` döner.
  - name: Mutfak
    description: Tümü `kitchen` kapsamı gerektirir. Bu uçlar fiyat, müşteri iletişim bilgisi
      ve rapor **döndürmez**. Tek istisna, müşteri fişi ucundaki teslimat adresidir.
  - name: Sürüm
    description: İstemci sürüm kontrolü ve zorunlu güncelleme eşiği.

security:
  - CustomerToken: []

paths:

  /health:
    get:
      tags: [Sağlık]
      summary: Uptime kontrolü
      operationId: health
      security: []
      responses:
        '200':
          description: Ayakta
          content:
            application/json:
              schema:
                type: object
                required: [status, server_time]
                properties:
                  status: { type: string, const: ok }
                  server_time: { type: string, format: date-time }
        '429':
          $ref: '#/components/responses/RateLimited'

  # ─────────────────────────────── Kimlik ───────────────────────────────

  /auth/register:
    parameters: [$ref: '#/components/parameters/AppId', $ref: '#/components/parameters/AppVersion', $ref: '#/components/parameters/AcceptLanguage']
    post:
      tags: [Kimlik]
      summary: Müşteri kaydı
      operationId: register
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/RegisterRequest' }
      responses:
        '201':
          description: Hesap oluştu
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AuthResponse' }
        '422':
          $ref: '#/components/responses/ValidationFailed'
        '429':
          $ref: '#/components/responses/RateLimited'

  /auth/login:
    parameters: [$ref: '#/components/parameters/AppId', $ref: '#/components/parameters/AppVersion', $ref: '#/components/parameters/AcceptLanguage']
    post:
      tags: [Kimlik]
      summary: Giriş
      operationId: login
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email: { type: string, format: email }
                password: { type: string, format: password, minLength: 8 }
      responses:
        '200':
          description: Giriş başarılı
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AuthResponse' }
        '422':
          $ref: '#/components/responses/ValidationFailed'
        '429':
          $ref: '#/components/responses/RateLimited'

  /auth/logout:
    parameters: [$ref: '#/components/parameters/AppId', $ref: '#/components/parameters/AppVersion', $ref: '#/components/parameters/AcceptLanguage']
    post:
      tags: [Kimlik]
      summary: Token'ı iptal et
      operationId: logout
      responses:
        '204': { description: Çıkış yapıldı }
        '401': { $ref: '#/components/responses/Unauthenticated' }

  /auth/me:
    parameters: [$ref: '#/components/parameters/AppId', $ref: '#/components/parameters/AppVersion', $ref: '#/components/parameters/AcceptLanguage']
    get:
      tags: [Kimlik]
      summary: Oturumdaki müşteri
      operationId: me
      responses:
        '200':
          description: Müşteri profili
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Customer' }
        '401': { $ref: '#/components/responses/Unauthenticated' }

  # ─────────────────────────────── Katalog ──────────────────────────────

  /locations:
    parameters: [$ref: '#/components/parameters/AppId', $ref: '#/components/parameters/AppVersion', $ref: '#/components/parameters/AcceptLanguage']
    get:
      tags: [Katalog]
      summary: Vitrinler
      description: |
        Faz 1'de tek vitrin döner. Dizi biçimi korunur ki ileride vitrin eklenirse
        istemciler kırılmasın.
      operationId: listLocations
      security: []
      responses:
        '200':
          description: Vitrin listesi
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/Location' }
        '429':
          $ref: '#/components/responses/RateLimited'

  /locations/{id}/menu:
    parameters:
      - $ref: '#/components/parameters/AppId'
      - $ref: '#/components/parameters/AppVersion'
      - $ref: '#/components/parameters/AcceptLanguage'
      - name: id
        in: path
        required: true
        schema: { type: integer, format: int64 }
    get:
      tags: [Katalog]
      summary: Vitrinin menüsü
      description: |
        `is_available: false` ürünler yanıtta **kalır** — istemci soluk gösterir,
        sepete eklenmesine izin vermez.
      operationId: getMenu
      security: []
      responses:
        '200':
          description: Kategoriler ve ürünler
          content:
            application/json:
              schema:
                type: object
                required: [data]
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/MenuCategory' }
        '404': { $ref: '#/components/responses/NotFound' }

  # ─────────────────────────────── Sipariş ──────────────────────────────

  /orders:
    parameters: [$ref: '#/components/parameters/AppId', $ref: '#/components/parameters/AppVersion', $ref: '#/components/parameters/AcceptLanguage']
    post:
      tags: [Sipariş]
      summary: Sipariş oluştur
      description: |
        Tutar **sunucuda** hesaplanır. İstemcinin gönderdiği tutar alanları yok sayılır.
      operationId: createOrder
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/OrderCreateRequest' }
      responses:
        '201':
          description: Sipariş oluştu
          content:
            application/json:
              schema: { $ref: '#/components/schemas/OrderCreated' }
        '401': { $ref: '#/components/responses/Unauthenticated' }
        '422':
          description: |
            Doğrulama hatası. Olası kodlar: `VALIDATION_FAILED`, `LOCATION_CLOSED`,
            `ITEM_UNAVAILABLE`.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '429': { $ref: '#/components/responses/RateLimited' }
    get:
      tags: [Sipariş]
      summary: Kendi siparişlerim
      description: En yeni önce.
      operationId: listOrders
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PerPage'
      responses:
        '200':
          description: Sipariş listesi
          content:
            application/json:
              schema:
                type: object
                required: [data, meta]
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/OrderSummary' }
                  meta: { $ref: '#/components/schemas/PaginationMeta' }
        '401': { $ref: '#/components/responses/Unauthenticated' }

  /orders/{id}:
    parameters:
      - $ref: '#/components/parameters/AppId'
      - $ref: '#/components/parameters/AppVersion'
      - $ref: '#/components/parameters/AcceptLanguage'
      - name: id
        in: path
        required: true
        schema: { type: integer, format: int64 }
    get:
      tags: [Sipariş]
      summary: Sipariş detayı
      description: |
        Başkasının siparişi istenirse **`404 NOT_FOUND`** döner — varlık sızdırılmaz
        (`403` dönmek siparişin var olduğunu ele verirdi).
      operationId: getOrder
      responses:
        '200':
          description: Sipariş
          content:
            application/json:
              schema: { $ref: '#/components/schemas/OrderDetail' }
        '401': { $ref: '#/components/responses/Unauthenticated' }
        '404': { $ref: '#/components/responses/NotFound' }

  /orders/{id}/cancel:
    parameters:
      - $ref: '#/components/parameters/AppId'
      - $ref: '#/components/parameters/AppVersion'
      - $ref: '#/components/parameters/AcceptLanguage'
      - name: id
        in: path
        required: true
        schema: { type: integer, format: int64 }
    post:
      tags: [Sipariş]
      summary: Siparişi iptal et
      description: Yalnızca `yeni` ve `onaylandi` durumlarında. Sonrasında `422 INVALID_TRANSITION`.
      operationId: cancelOrder
      responses:
        '200':
          description: Güncel sipariş
          content:
            application/json:
              schema: { $ref: '#/components/schemas/OrderDetail' }
        '401': { $ref: '#/components/responses/Unauthenticated' }
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/InvalidTransition' }

  /me/push-token:
    parameters: [$ref: '#/components/parameters/AppId', $ref: '#/components/parameters/AppVersion', $ref: '#/components/parameters/AcceptLanguage']
    post:
      tags: [Sipariş]
      summary: FCM push token'ı kaydet
      operationId: registerPushToken
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [fcm_token, platform]
              properties:
                fcm_token: { type: string, minLength: 1 }
                platform: { type: string, enum: [android] }
      responses:
        '204': { description: Kaydedildi }
        '401': { $ref: '#/components/responses/Unauthenticated' }
        '422': { $ref: '#/components/responses/ValidationFailed' }

  # ─────────────────────────────── Mutfak ───────────────────────────────

  /kitchen/pair:
    parameters: [$ref: '#/components/parameters/AppId', $ref: '#/components/parameters/AppVersion', $ref: '#/components/parameters/AcceptLanguage']
    post:
      tags: [Mutfak]
      summary: Cihaz eşleme
      description: |
        Admin panelden alınan tek kullanımlık kod ile cihaz kaydı. Dönen token süresizdir,
        admin panelden iptal edilebilir (sonraki isteklerde `403 DEVICE_REVOKED`).
      operationId: pairKitchenDevice
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [pairing_code, device_name]
              properties:
                pairing_code:
                  type: string
                  pattern: '^[A-Z0-9]{4}-[A-Z0-9]{4}$'
                  examples: ['K7X2-9QMD']
                device_name: { type: string, minLength: 1, maxLength: 64 }
      responses:
        '200':
          description: Eşleme başarılı
          content:
            application/json:
              schema:
                type: object
                required: [device_id, token, server_time]
                properties:
                  device_id: { type: integer, format: int64 }
                  token: { type: string }
                  server_time: { type: string, format: date-time }
        '404':
          description: Kod geçersiz veya süresi dolmuş
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '429': { $ref: '#/components/responses/RateLimited' }

  /kitchen/orders:
    parameters: [$ref: '#/components/parameters/AppId', $ref: '#/components/parameters/AppVersion', $ref: '#/components/parameters/AcceptLanguage']
    get:
      tags: [Mutfak]
      summary: Aktif siparişler
      description: |
        Varsayılan: `teslim_edildi` ve `iptal` **hariç** bugünün siparişleri.

        **Artımlı çekme.** Yanıttaki `max_id` bir sonraki isteğin `after` değeridir;
        `server_time` bir sonraki isteğin `since` değeridir. Durum değişimlerini yakalamak
        için `since` kullanılmalıdır — `after` yalnızca yeni siparişleri getirir.
      operationId: listKitchenOrders
      security:
        - KitchenToken: []
      parameters:
        - name: after
          in: query
          description: Bu sipariş kimliğinden büyükleri getir (yalnızca yeni siparişler).
          schema: { type: integer, format: int64 }
        - name: since
          in: query
          description: Bu zaman damgasından sonra **güncellenenleri** getir.
          schema: { type: string, format: date-time }
        - name: include_completed
          in: query
          description: '`true` ise bugünün tamamlananları da gelir.'
          schema: { type: boolean, default: false }
      responses:
        '200':
          description: Sipariş listesi
          content:
            application/json:
              schema:
                type: object
                required: [data, server_time, max_id]
                properties:
                  data:
                    type: array
                    items: { $ref: '#/components/schemas/KitchenOrder' }
                  server_time:
                    type: string
                    format: date-time
                    description: Bir sonraki `since` değeri.
                  max_id:
                    type: integer
                    format: int64
                    description: Bir sonraki `after` değeri. Liste boşsa önceki değer korunur.
        '401': { $ref: '#/components/responses/Unauthenticated' }
        '403': { $ref: '#/components/responses/ForbiddenOrRevoked' }

  /kitchen/orders/{id}/status:
    parameters:
      - $ref: '#/components/parameters/AppId'
      - $ref: '#/components/parameters/AppVersion'
      - $ref: '#/components/parameters/AcceptLanguage'
      - name: id
        in: path
        required: true
        schema: { type: integer, format: int64 }
    post:
      tags: [Mutfak]
      summary: Durum ilerlet
      description: |
        Geçiş matrisi `docs/02-veri-modeli.md` §3'tedir ve **sunucuda** uygulanır.
        `yolda` yalnızca `delivery_type=delivery` siparişlerde geçerlidir.
      operationId: setKitchenOrderStatus
      security:
        - KitchenToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [status]
              properties:
                status: { $ref: '#/components/schemas/OrderStatus' }
      responses:
        '200':
          description: Güncel sipariş özeti
          content:
            application/json:
              schema: { $ref: '#/components/schemas/KitchenOrder' }
        '401': { $ref: '#/components/responses/Unauthenticated' }
        '403': { $ref: '#/components/responses/ForbiddenOrRevoked' }
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/InvalidTransition' }

  /kitchen/orders/{id}/receipt:
    parameters:
      - $ref: '#/components/parameters/AppId'
      - $ref: '#/components/parameters/AppVersion'
      - $ref: '#/components/parameters/AcceptLanguage'
      - name: id
        in: path
        required: true
        schema: { type: integer, format: int64 }
    get:
      tags: [Mutfak]
      summary: Fiş içeriği
      description: |
        Yazdırma verisini **sunucu** hazırlar; KDS yalnızca ESC/POS'a biçimlendirip basar.
        Fiş metninin ne yazacağına dair karar istemcide değildir.
      operationId: getReceipt
      security:
        - KitchenToken: []
      parameters:
        - name: type
          in: query
          required: true
          schema: { $ref: '#/components/schemas/ReceiptType' }
      responses:
        '200':
          description: Fiş verisi
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/KitchenReceipt'
                  - $ref: '#/components/schemas/CustomerReceipt'
                discriminator:
                  propertyName: type
                  mapping:
                    mutfak: '#/components/schemas/KitchenReceipt'
                    musteri: '#/components/schemas/CustomerReceipt'
        '401': { $ref: '#/components/responses/Unauthenticated' }
        '403': { $ref: '#/components/responses/ForbiddenOrRevoked' }
        '404': { $ref: '#/components/responses/NotFound' }

  /kitchen/print-jobs/{order_id}/ack:
    parameters:
      - $ref: '#/components/parameters/AppId'
      - $ref: '#/components/parameters/AppVersion'
      - $ref: '#/components/parameters/AcceptLanguage'
      - name: order_id
        in: path
        required: true
        schema: { type: integer, format: int64 }
    post:
      tags: [Mutfak]
      summary: Fiş basıldı bildirimi
      description: |
        Denetim içindir. **İdempotent:** aynı `(order_id, type)` çifti için tekrarlanan
        çağrı yeni kayıt açmaz, yine `204` döner. KDS bu çağrı başarısız olursa sessizce
        yutar — fişin basılmış olması ack'e bağlı değildir.
      operationId: ackPrintJob
      security:
        - KitchenToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [type, printed_at]
              properties:
                type: { $ref: '#/components/schemas/ReceiptType' }
                printed_at: { type: string, format: date-time }
      responses:
        '204': { description: Kaydedildi }
        '401': { $ref: '#/components/responses/Unauthenticated' }
        '403': { $ref: '#/components/responses/ForbiddenOrRevoked' }
        '404': { $ref: '#/components/responses/NotFound' }

  /kitchen/production-list:
    parameters: [$ref: '#/components/parameters/AppId', $ref: '#/components/parameters/AppVersion', $ref: '#/components/parameters/AcceptLanguage']
    get:
      tags: [Mutfak]
      summary: Üretim listesi
      description: |
        Aktif siparişlerin (`onaylandi` + `hazirlaniyor`) ürün bazında toplamı.
        Çoktan aza sıralıdır.
      operationId: getProductionList
      security:
        - KitchenToken: []
      responses:
        '200':
          description: Ürün toplamları
          content:
            application/json:
              schema:
                type: object
                required: [data, as_of]
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      required: [menu_id, name, total]
                      properties:
                        menu_id: { type: integer, format: int64 }
                        name: { type: string }
                        total: { type: integer, minimum: 0 }
                  as_of: { type: string, format: date-time }
        '401': { $ref: '#/components/responses/Unauthenticated' }
        '403': { $ref: '#/components/responses/ForbiddenOrRevoked' }

  /kitchen/heartbeat:
    parameters: [$ref: '#/components/parameters/AppId', $ref: '#/components/parameters/AppVersion', $ref: '#/components/parameters/AcceptLanguage']
    get:
      tags: [Mutfak]
      summary: Canlılık bildirimi
      description: |
        Cihazın `last_seen_at` alanını günceller. 60 saniyede bir gönderilir.
        `last_seen_at` 5 dakikadan eskiyse admin panelde uyarı çıkar.
      operationId: kitchenHeartbeat
      security:
        - KitchenToken: []
      responses:
        '200':
          description: Sunucu bilgisi
          content:
            application/json:
              schema:
                type: object
                required: [server_time, min_supported_version]
                properties:
                  server_time: { type: string, format: date-time }
                  min_supported_version: { $ref: '#/components/schemas/SemVer' }
        '401': { $ref: '#/components/responses/Unauthenticated' }
        '403': { $ref: '#/components/responses/ForbiddenOrRevoked' }

  # ─────────────────────────────── Sürüm ────────────────────────────────

  /app-version:
    parameters: [$ref: '#/components/parameters/AppId', $ref: '#/components/parameters/AppVersion', $ref: '#/components/parameters/AcceptLanguage']
    get:
      tags: [Sürüm]
      summary: Uygulama sürüm bilgisi
      description: İstemci sürümü `min_supported` altındaysa zorunlu güncelleme ekranı gösterir.
      operationId: getAppVersion
      security: []
      parameters:
        - name: app_id
          in: query
          required: true
          schema: { type: string, enum: [musteriapp, mutfakapp] }
      responses:
        '200':
          description: Sürüm bilgisi
          content:
            application/json:
              schema:
                type: object
                required: [app_id, latest, min_supported]
                properties:
                  app_id: { type: string, enum: [musteriapp, mutfakapp] }
                  latest: { $ref: '#/components/schemas/SemVer' }
                  min_supported: { $ref: '#/components/schemas/SemVer' }
                  download_url:
                    type: [string, 'null']
                    format: uri
                    description: Yalnızca `mutfakapp` için dolu (`.deb` adresi).
                  notes: { type: [string, 'null'] }
        '422':
          description: |
            `app_id` eksik veya enum dışı. Geçersiz enum bir **doğrulama**
            hatasıdır, "kayıt yok" değil — mock ile sunucu bu noktada
            ayrışmıştı, sözleşme 422'de netleştirildi.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

# ══════════════════════════════ COMPONENTS ══════════════════════════════

components:

  securitySchemes:
    CustomerToken:
      type: http
      scheme: bearer
      description: Müşteri hesabı token'ı (`customer` kapsamı). `/kitchen/*` uçlarına erişemez.
    KitchenToken:
      type: http
      scheme: bearer
      description: |
        Cihaz token'ı (`kitchen` kapsamı). `POST /kitchen/pair` ile alınır.
        Fiyat, müşteri iletişim bilgisi ve rapor uçlarına erişemez.

  parameters:
    AppId:
      name: X-App-Id
      in: header
      required: true
      schema: { type: string, enum: [website, musteriapp, mutfakapp] }
    AppVersion:
      name: X-App-Version
      in: header
      required: true
      schema: { $ref: '#/components/schemas/SemVer' }
    AcceptLanguage:
      name: Accept-Language
      in: header
      required: true
      schema: { type: string, default: tr }
    Page:
      name: page
      in: query
      schema: { type: integer, minimum: 1, default: 1 }
    PerPage:
      name: per_page
      in: query
      schema: { type: integer, minimum: 1, maximum: 100, default: 25 }

  responses:
    Unauthenticated:
      description: Token yok veya geçersiz (`UNAUTHENTICATED`)
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    ForbiddenOrRevoked:
      description: Kapsam yetersiz (`FORBIDDEN`) veya cihaz iptal edilmiş (`DEVICE_REVOKED`)
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    NotFound:
      description: Kayıt yok (`NOT_FOUND`)
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    ValidationFailed:
      description: Alan doğrulama hatası (`VALIDATION_FAILED`); `details` alan bazlıdır
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    InvalidTransition:
      description: Geçersiz durum geçişi (`INVALID_TRANSITION`)
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    RateLimited:
      description: Çok fazla istek (`RATE_LIMITED`)
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }

  schemas:

    # ── Temel tipler ────────────────────────────────────────────────────

    Money:
      type: integer
      format: int64
      minimum: 0
      description: '**Kuruş** cinsinden tam sayı. `4550` = 45,50 TL.'
      examples: [4550]

    Currency:
      type: string
      const: TRY

    SemVer:
      type: string
      pattern: '^\d+\.\d+\.\d+$'
      examples: ['1.0.0']

    OrderStatus:
      type: string
      enum: [yeni, onaylandi, hazirlaniyor, hazir, yolda, teslim_edildi, iptal]
      description: |
        Geçiş matrisi (`docs/02-veri-modeli.md` §3):

        | Kaynak | İzinli hedefler |
        |---|---|
        | `yeni` | `onaylandi`, `iptal` |
        | `onaylandi` | `hazirlaniyor`, `iptal` |
        | `hazirlaniyor` | `hazir`, `iptal` |
        | `hazir` | `yolda` (delivery), `teslim_edildi` (pickup), `iptal` |
        | `yolda` | `teslim_edildi`, `iptal` |
        | `teslim_edildi` | — (terminal) |
        | `iptal` | — (terminal) |

    DeliveryType:
      type: string
      enum: [delivery, pickup]

    PaymentMethod:
      type: string
      enum: [online, cash, account]
      description: |
        `online` = sanal POS, `cash` = kapıda ödeme, `account` = cari hesap.
        Faz 1'de `online` hiçbir vitrinin `payment_methods` listesinde bulunmaz.

    PaymentStatus:
      type: string
      enum: [pending, paid]
      description: |
        Faz 1'de yalnızca bu iki değer üretilir. Sanal POS devreye girdiğinde
        `failed`/`refunded` **eklenebilir** (ek değer, kırıcı değişiklik değil);
        istemciler bilmedikleri değeri "belirsiz" olarak göstermeli, çökmemelidir.

    ReceiptType:
      type: string
      enum: [mutfak, musteri]

    ErrorCode:
      type: string
      enum:
        - UNAUTHENTICATED
        - FORBIDDEN
        - NOT_FOUND
        - VALIDATION_FAILED
        - INVALID_TRANSITION
        - LOCATION_CLOSED
        - ITEM_UNAVAILABLE
        - DEVICE_REVOKED
        - RATE_LIMITED
        - SERVER_ERROR

    Error:
      type: object
      required: [error]
      description: Tüm hataların tek biçimi.
      properties:
        error:
          type: object
          required: [code, message]
          properties:
            code: { $ref: '#/components/schemas/ErrorCode' }
            message:
              type: string
              description: Kullanıcıya gösterilebilir Türkçe metin.
            details:
              type: [object, 'null']
              additionalProperties: true
      examples:
        - error:
            code: INVALID_TRANSITION
            message: Sipariş bu duruma geçirilemez.
            details: { from: yeni, to: hazir }

    PaginationMeta:
      type: object
      required: [page, per_page, total, last_page]
      properties:
        page: { type: integer, minimum: 1 }
        per_page: { type: integer, minimum: 1 }
        total: { type: integer, minimum: 0 }
        last_page: { type: integer, minimum: 1 }

    # ── Kimlik ──────────────────────────────────────────────────────────

    RegisterRequest:
      type: object
      required: [first_name, last_name, email, telephone, password, kvkk_accepted]
      properties:
        first_name: { type: string, minLength: 1, maxLength: 64 }
        last_name: { type: string, minLength: 1, maxLength: 64 }
        email: { type: string, format: email }
        telephone:
          type: string
          pattern: '^[1-9][0-9]{9}$'
          description: Başında 0 veya +90 olmadan 10 hane.
          examples: ['5551234567']
        password: { type: string, format: password, minLength: 8 }
        kvkk_accepted:
          type: boolean
          const: true
          description: '`false` ise `422 VALIDATION_FAILED`. Onay zaman damgasıyla saklanır.'

    AuthResponse:
      type: object
      required: [token, customer]
      properties:
        token: { type: string }
        customer:
          type: object
          required: [id, first_name]
          properties:
            id: { type: integer, format: int64 }
            first_name: { type: string }

    Customer:
      type: object
      required: [id, first_name, last_name, email, telephone]
      properties:
        id: { type: integer, format: int64 }
        first_name: { type: string }
        last_name: { type: string }
        email: { type: string, format: email }
        telephone: { type: string }
        default_location_id: { type: [integer, 'null'], format: int64 }

    # ── Katalog ─────────────────────────────────────────────────────────

    Location:
      type: object
      required: [id, name, slug, is_open, ordering_enabled, min_order_total, payment_methods]
      properties:
        id: { type: integer, format: int64 }
        name: { type: string }
        slug: { type: string }
        is_open:
          type: boolean
          description: Çalışma saatlerinden **türetilir**. Şu an sipariş saati içinde miyiz?
        ordering_enabled:
          type: boolean
          description: |
            Yöneticinin admin panelden çevirdiği elle ana şalter. `false` ise saat uygun
            olsa bile sipariş alınmaz.
        order_cutoff:
          type: [string, 'null']
          pattern: '^([01][0-9]|2[0-3]):[0-5][0-9]$'
          description: Günlük son sipariş saati (Europe/Istanbul) veya `null`.
          examples: ['16:00']
        min_order_total:
          allOf: [$ref: '#/components/schemas/Money']
          description: Altında sipariş `422 VALIDATION_FAILED`.
        payment_methods:
          type: array
          minItems: 1
          items: { $ref: '#/components/schemas/PaymentMethod' }
          description: |
            Bu vitrinde **açık** olan ödeme yöntemleri. İstemci ödeme ekranında yalnızca
            bunları gösterir. Listede olmayan yöntemle sipariş → `422 VALIDATION_FAILED`.

    MenuCategory:
      type: object
      required: [id, name, sort, items]
      properties:
        id: { type: integer, format: int64 }
        name: { type: string }
        sort: { type: integer }
        items:
          type: array
          items: { $ref: '#/components/schemas/MenuItem' }

    MenuItem:
      type: object
      required: [id, name, price, currency, is_available]
      properties:
        id: { type: integer, format: int64 }
        name: { type: string }
        description: { type: [string, 'null'] }
        price: { $ref: '#/components/schemas/Money' }
        currency: { $ref: '#/components/schemas/Currency' }
        image_url: { type: [string, 'null'], format: uri }
        is_available:
          type: boolean
          description: '`false` ürün yanıtta kalır; istemci soluk gösterir, sepete eklemez.'
        allergens:
          type: array
          items: { type: string }
        options:
          type: array
          items: { $ref: '#/components/schemas/MenuOption' }

    MenuOption:
      type: object
      required: [id, name, type, required, values]
      properties:
        id: { type: integer, format: int64 }
        name: { type: string }
        type:
          type: string
          description: |
            Bilinen değerler: `radio` (tek seçim), `checkbox` (çok seçim), `select`.
            Kapalı enum değildir — TastyIgniter'ın gerçek değer kümesi `B-02`'de
            doğrulanacak (bkz. BILINMEYENLER). İstemci bilinmeyen tipi `radio` gibi ele alır.
          examples: [radio]
        required: { type: boolean }
        values:
          type: array
          items: { $ref: '#/components/schemas/MenuOptionValue' }

    MenuOptionValue:
      type: object
      required: [id, name, price_delta]
      properties:
        id: { type: integer, format: int64 }
        name: { type: string }
        price_delta:
          type: integer
          format: int64
          description: Kuruş cinsinden **işaretli** fark; negatif olabilir.

    # ── Sipariş ─────────────────────────────────────────────────────────

    Address:
      type: object
      required: [line1, district, city]
      properties:
        line1: { type: string, minLength: 1 }
        district: { type: string, minLength: 1 }
        city: { type: string, minLength: 1 }
        note: { type: [string, 'null'] }

    OrderCreateRequest:
      type: object
      required: [location_id, items, delivery_type, payment_method]
      properties:
        location_id: { type: integer, format: int64 }
        items:
          type: array
          minItems: 1
          items:
            type: object
            required: [menu_id, quantity]
            properties:
              menu_id: { type: integer, format: int64 }
              quantity: { type: integer, minimum: 1 }
              option_value_ids:
                type: array
                items: { type: integer, format: int64 }
              note: { type: [string, 'null'], maxLength: 255 }
        delivery_type: { $ref: '#/components/schemas/DeliveryType' }
        address:
          oneOf:
            - $ref: '#/components/schemas/Address'
            - type: 'null'
          description: '`delivery` ise zorunlu, `pickup` ise yok sayılır.'
        requested_at:
          type: [string, 'null']
          format: date-time
          description: İstenen teslim zamanı. `order_cutoff` kuralına takılırsa `LOCATION_CLOSED`.
        payment_method: { $ref: '#/components/schemas/PaymentMethod' }
        customer_note: { type: [string, 'null'], maxLength: 500 }

    Payment:
      type: object
      required: [method, status]
      properties:
        method: { $ref: '#/components/schemas/PaymentMethod' }
        status: { $ref: '#/components/schemas/PaymentStatus' }
        redirect_url:
          type: [string, 'null']
          format: uri
          description: Yalnızca `online` yönteminde dolu; istemci kullanıcıyı buraya yönlendirir.

    OrderCreated:
      type: object
      required: [id, order_number, status, total, currency, payment, created_at]
      properties:
        id: { type: integer, format: int64 }
        order_number: { type: string, examples: ['S-5012'] }
        status: { $ref: '#/components/schemas/OrderStatus' }
        total: { $ref: '#/components/schemas/Money' }
        currency: { $ref: '#/components/schemas/Currency' }
        payment: { $ref: '#/components/schemas/Payment' }
        created_at: { type: string, format: date-time }

    OrderSummary:
      type: object
      required: [id, order_number, status, total, currency, item_count, created_at]
      properties:
        id: { type: integer, format: int64 }
        order_number: { type: string }
        status: { $ref: '#/components/schemas/OrderStatus' }
        total: { $ref: '#/components/schemas/Money' }
        currency: { $ref: '#/components/schemas/Currency' }
        item_count: { type: integer, minimum: 1 }
        created_at: { type: string, format: date-time }

    OrderItem:
      type: object
      required: [menu_id, name, quantity, unit_price, line_total]
      properties:
        menu_id: { type: integer, format: int64 }
        name: { type: string }
        quantity: { type: integer, minimum: 1 }
        options:
          type: array
          items: { type: string }
        note: { type: [string, 'null'] }
        unit_price:
          allOf: [$ref: '#/components/schemas/Money']
          description: Seçenek farkları **dahil** birim fiyat.
        line_total: { $ref: '#/components/schemas/Money' }

    StatusHistoryEntry:
      type: object
      required: [status, at]
      properties:
        status: { $ref: '#/components/schemas/OrderStatus' }
        at: { type: string, format: date-time }

    OrderDetail:
      type: object
      required:
        [id, order_number, status, items, subtotal, delivery_fee, total, currency,
         delivery_type, payment, status_history, created_at]
      properties:
        id: { type: integer, format: int64 }
        order_number: { type: string }
        status: { $ref: '#/components/schemas/OrderStatus' }
        items:
          type: array
          minItems: 1
          items: { $ref: '#/components/schemas/OrderItem' }
        subtotal: { $ref: '#/components/schemas/Money' }
        delivery_fee:
          allOf: [$ref: '#/components/schemas/Money']
          description: '`pickup` siparişte her zaman `0`.'
        total: { $ref: '#/components/schemas/Money' }
        currency: { $ref: '#/components/schemas/Currency' }
        delivery_type: { $ref: '#/components/schemas/DeliveryType' }
        address:
          oneOf:
            - $ref: '#/components/schemas/Address'
            - type: 'null'
          description: '`pickup` siparişte `null`.'
        requested_at: { type: [string, 'null'], format: date-time }
        customer_note: { type: [string, 'null'] }
        payment: { $ref: '#/components/schemas/Payment' }
        status_history:
          type: array
          items: { $ref: '#/components/schemas/StatusHistoryEntry' }
        created_at: { type: string, format: date-time }

    # ── Mutfak ──────────────────────────────────────────────────────────

    KitchenOrderItem:
      type: object
      required: [name, quantity]
      description: Fiyat alanı **yoktur** — mutfak kapsamı fiyat görmez.
      properties:
        name: { type: string }
        quantity: { type: integer, minimum: 1 }
        options:
          type: array
          items: { type: string }
        note: { type: [string, 'null'] }

    KitchenOrder:
      type: object
      required: [id, order_number, status, delivery_type, items, created_at, updated_at]
      description: |
        Fiyat, telefon, adres ve e-posta **içermez**. `customer_label` yalnızca
        ad + soyad baş harfidir.
      properties:
        id: { type: integer, format: int64 }
        order_number: { type: string }
        status: { $ref: '#/components/schemas/OrderStatus' }
        requested_at: { type: [string, 'null'], format: date-time }
        delivery_type: { $ref: '#/components/schemas/DeliveryType' }
        customer_label:
          type: [string, 'null']
          examples: ['Ayşe Y.']
        items:
          type: array
          minItems: 1
          items: { $ref: '#/components/schemas/KitchenOrderItem' }
        customer_note: { type: [string, 'null'] }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }

    ReceiptLine:
      type: object
      required: [quantity, name]
      properties:
        quantity: { type: integer, minimum: 1 }
        name: { type: string }
        options:
          type: array
          items: { type: string }
        note: { type: [string, 'null'] }

    KitchenReceipt:
      type: object
      required: [type, order_number, delivery_type, lines]
      properties:
        type: { type: string, const: mutfak }
        order_number: { type: string }
        delivery_type: { $ref: '#/components/schemas/DeliveryType' }
        requested_at: { type: [string, 'null'], format: date-time }
        lines:
          type: array
          minItems: 1
          items: { $ref: '#/components/schemas/ReceiptLine' }
        customer_note: { type: [string, 'null'] }
        printed_at: { type: [string, 'null'], format: date-time }

    CustomerReceipt:
      type: object
      required:
        [type, order_number, delivery_type, items, subtotal, delivery_fee, total,
         currency, payment]
      properties:
        type: { type: string, const: musteri }
        order_number: { type: string }
        delivery_type: { $ref: '#/components/schemas/DeliveryType' }
        requested_at: { type: [string, 'null'], format: date-time }
        items:
          type: array
          minItems: 1
          items: { $ref: '#/components/schemas/OrderItem' }
        subtotal: { $ref: '#/components/schemas/Money' }
        delivery_fee: { $ref: '#/components/schemas/Money' }
        total: { $ref: '#/components/schemas/Money' }
        currency: { $ref: '#/components/schemas/Currency' }
        payment: { $ref: '#/components/schemas/Payment' }
        address:
          oneOf:
            - $ref: '#/components/schemas/Address'
            - type: 'null'
          description: |
            `delivery` siparişte dolu. Mutfak kapsamının müşteri adresini gördüğü
            **tek** yer burasıdır.
        customer_label: { type: [string, 'null'] }
        printed_at: { type: [string, 'null'], format: date-time }
